---
import Section from '../../../components/Section.astro';
import IndexItem from '../../../components/IndexItem.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="References and Index"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions."
  isEN
>
  <Section number="02" title="Index">
    <div class="grid gap-2">
      <IndexItem
        title="(Artist's) license to perform"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Adaptation right"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'I think "adaptation" is a phrase peculiar to copyright law...',
            href: '/en/basis/#ref13',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Publication in textbooks, etc. (Article 33)',
            href: '/en/basis/#ref8',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Q8. Is there a problem if I arrange a piece of music in a way that makes it easier to practice?',
            href: '/en/use/#q8',
            memo: 'Chapter 3, Section 01',
          },
          {
            text: 'Q11. What would students care about when conducting a Bibliobattle?',
            href: '/en/use/#q11',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Article 35 amendment"
        items={[
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
        ]}
      />
      <IndexItem
        title="Attribution right"
        items={[
          {
            text: 'Attribution right (Article 19)',
            href: '/en/basis/#ref19',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Q4. I would like to present essays and reports of graduating students to the class',
            href: '/en/use/#q4',
            memo: 'Chapter 3 Section 01',
          },
        ]}
      />
      <IndexItem
        title="Author"
        items={[
          {
            text: 'Definition of author',
            href: '/en/basis/#sec-03',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Berne Convention"
        items={[
          {
            text: 'Q10. What should I pay attention to when dealing with foreign works in class?',
            href: '/en/use/#q10',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Co-author(s)"
        items={[
          {
            text: 'When more than one person is the author (co-authors)',
            href: '/en/basis/#ref9',
            memo: 'Chapter 1, Section 03',
          },
          {
            text: 'Q2. Can teachers involved in the creation of jointly produced teaching materials use them?',
            href: '/en/use/#q2',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Compensation"
        items={[
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
        ]}
      />
      <IndexItem
        title="Compensation System for Public Transmission for Classroom Purposes"
        items={[
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
        ]}
      />
      <IndexItem
        title="Copyright Act Amendments"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Copyright free"
        items={[
          {
            text: 'Public domain',
            href: '/en/basis/#ref26',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Copyright owner"
        items={[
          {
            text: 'Authors and copyright owners',
            href: '/en/basis/#ref25',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Copyright"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Corporate works"
        items={[
          {
            text: 'Corporate works',
            href: '/en/basis/#ref20',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Creative Commons License"
        items={[
          {
            text: 'Creative Commons License',
            href: '/en/basis/#ref11',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Derivative work (e.g., alt. world, side story, doujinshi, fanfiction, etc.)"
        items={[
          {
            text: 'Table of [Types of works (Articles 11, 12, 12-2)]',
            href: '/en/basis/#ref35',
            memo: 'Chapter 1, Section 02',
          },
          {
            text: 'Right to display name (Article 19)',
            href: '/en/basis/#ref19',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Public domain',
            href: '/en/basis/#ref26',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Distance learning"
        items={[
          {
            text: 'What could be done without a license or free of charge for teaching?',
            href: '/en/copyright/#ref1-1',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="(Movie) distribution rights"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Enabling rights"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Article 35 (Reproduction, etc. in schools and other educational institutions)',
            href: '/en/copyright/#ref24',
            memo: 'Chapter 2 Section 03',
          },
          {
            text: 'Public Transmission (page 5-6 of the Guidelines)',
            href: '/en/copyright/#ref14',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Examples of works that are not copyrighted works under the Copyright Act"
        items={[
          {
            text: 'Examples of works that are not copyrighted works under the Copyright Act',
            href: '/en/basis/#ref27',
            memo: 'Chapter 1, Section 02',
          },
        ]}
      />
      <IndexItem
        title="Examples of works that can be used without permission"
        items={[
          {
            text: 'Examples of works that may be used without permission',
            href: '/en/basis/#ref10',
            memo: 'Chapter 1, Section 02',
          },
        ]}
      />
      <IndexItem
        title="(Movie) exhibition rights"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Forum of Those Related about Educational Use of Works"
        items={[
          {
            text: 'Forum of Those Related about Educational Use of Works',
            href: '/en/copyright/#ref29',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Guidelines for Article 35 under the Amended Copyright Act"
        items={[
          {
            text: 'What is copyright?',
            href: '/en/basis/#sec-04',
            memo: 'Chapter 1, Section 01',
          },
          {
            text: 'Guideline for Article 35 under the Amended Copyright Act',
            href: '/en/copyright/#sec-04',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Honor and reputation right"
        items={[
          {
            text: 'In POINT "Moral Rights" pop-up',
            href: '/en/basis/#ref33-1',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Integrity right"
        items={[
          {
            text: 'Integrity right (Article 20)',
            href: '/en/basis/#ref33',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Joint authorship"
        items={[
          {
            text: 'When more than one person is the author (co-authors)',
            href: '/en/basis/#ref9',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Lending rights (for copyrighted works)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="License"
        items={[
          {
            text: 'License',
            href: '/en/basis/#ref38',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Limitations on rights when dealing with copyrighted works in the classroom"
        items={[
          {
            text: 'Limitations on rights when dealing with copyrighted works in the classroom',
            href: '/en/copyright/#sec-03',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Limited rights provision"
        items={[
          {
            text: 'Limitations on rights',
            href: '/en/basis/#ref12',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
          {
            text: 'Q6. Can I show a film in class?',
            href: '/en/use/#q6',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Moral rights"
        items={[
          {
            text: 'Moral rights',
            href: '/en/basis/#ref28',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Movie rights"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Neighboring rights"
        items={[
          {
            text: 'Neighboring rights',
            href: '/en/basis/#ref32',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Non-privileged crime"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Non-profit performances, etc."
        items={[
          {
            text: 'Performances, etc. not for profit (Article 38)',
            href: '/en/basis/#ref3',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="On-demand teaching"
        items={[
          {
            text: 'Licenses that had to be obtained',
            href: '/en/copyright/#ref22',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Orphan Works"
        items={[
          {
            text: 'Step 4: If the copyright holder is unknown',
            href: '/en/permission/#ref5',
            memo: 'Chapter 4, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Override problem"
        items={[
          {
            text: 'Q6. Can I show you a film in class?',
            href: '/en/use/#q6',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Penal regulations"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Performing right"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Permission for public transmission"
        items={[
          {
            text: '[Permission for Public Transmission] diagram',
            href: '/en/copyright/#ref15',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Principle of no-formality"
        items={[
          {
            text: 'Copyright is "the right not to do specific act without permission"',
            href: '/en/basis/#sec-04',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Protection Term"
        items={[
          {
            text: 'Protection Term',
            href: '/en/basis/#ref23',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Public domain"
        items={[
          {
            text: 'Public domain',
            href: '/en/basis/#ref26',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Public transmission rights (e.g., putting copyrightable material on the WWW or an FTP server)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: '“Public transmission right" and "right to make transmittable" are also unfamiliar words...',
            href: '/en/basis/#ref13',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
          {
            text: 'Limitations on rights when dealing with copyrighted works in the classroom',
            href: '/en/copyright/#sec-03',
            memo: 'Chapter 2, Section 03',
          },
          {
            text: 'Public Transmission (pages 5-6 of the Guidelines)',
            href: '/en/copyright/#ref14',
            memo: 'Chapter 2, Section 04',
          },
          {
            text: 'Mode of reproduction, public transmission and communication',
            href: '/en/copyright/#ref7',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Public transmission rights (e.g., putting on a show)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
          {
            text: 'Communicate to the public (Guidelines, p.9)',
            href: '/en/copyright/#ref6',
            memo: 'Chapter 2, Section 04',
          },
          {
            text: 'Mode of reproduction, public transmission, and communication',
            href: '/en/copyright/#ref7',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Publication in textbooks, etc."
        items={[
          {
            text: 'Publication in textbooks, etc. (Article 33)',
            href: '/en/basis/#ref8',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Publication right"
        items={[
          {
            text: 'Publication right (Article 18)',
            href: '/en/basis/#ref16',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Q4. I would like to present essays and reports of graduating students to the class',
            href: '/en/use/#q4',
            memo: 'Chapter 3 Section 01',
          },
        ]}
      />
      <IndexItem
        title="Recitation right (e.g., reciting a poem in a bookstore)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reference"
        items={[
          {
            text: 'What is -Citation',
            href: '/en/copyright/#sec-02',
            memo: 'Chapter 2, Section 02',
          },
        ]}
      />
      <IndexItem
        title="Reproduction as examination questions, etc."
        items={[
          {
            text: 'Reproduction, etc. as examination questions (Article 36)',
            href: '/en/basis/#ref17',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction for personal use"
        items={[
          {
            text: 'Reproduction for private use (Article 30)',
            href: '/en/basis/#ref18',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction in libraries, etc."
        items={[
          {
            text: 'Reproduction in libraries, etc. (Article 31)',
            href: '/en/basis/#ref34',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction right"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction (Rights)"
        items={[
          {
            text: 'Copyrights (Copyright Property Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
          {
            text: 'Limitations on rights when dealing with copyrighted works in the classroom',
            href: '/en/copyright/#sec-03',
            memo: 'Chapter 2, Section 03',
          },
          {
            text: 'Duplication (Guidelines, p.5)',
            href: '/en/copyright/#ref36',
            memo: 'Chapter 2, Section 04',
          },
          {
            text: 'Mode of reproduction, public transmission and communication',
            href: '/en/copyright/#ref7',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Rights of the original author to use derivative works"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="SARTRAS"
        items={[
          {
            text: 'SARTRAS (Society for the Administration of Remuneration for Public Transmissions for School Lessons)',
            href: '/en/copyright/#ref2',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="SARTRAS License"
        items={[
          {
            text: 'Q16. Can I still use the course materials after the enrollment period?',
            href: '/en/use/#q16',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Simulation system for award compensation amount in case of unknown copyright holder"
        items={[
          {
            text: 'Step 4: If the copyright holder is unknown',
            href: '/en/permission/#ref5',
            memo: 'Chapter 4, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Studio-based classes"
        items={[
          {
            text: 'Licenses that had to be obtained',
            href: '/en/copyright/#ref22',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Terms of Use"
        items={[
          {
            text: 'Check the terms of use',
            href: '/en/basis/#ref39',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="The Right to Communicate Publicly"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Transfer right"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Translation rights (to a book)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="TRIPS Agreement"
        items={[
          {
            text: 'Q10. What should I care about when dealing with foreign copyrighted works in the classroom?',
            href: '/en/use/#q10',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Types of crime which require a formal complaint from the victim in order to prosecute"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Types of works"
        items={[
          {
            text: 'Table of [Types of works (Article 10.1)]',
            href: '/en/basis/#ref30',
            memo: 'Chapter 1, Section 02',
          },
          {
            text: 'Types of works',
            href: '/en/copyright/#ref31',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Universal Copyright Convention"
        items={[
          {
            text: 'Q10. What should I pay attention to when dealing with foreign works in class?',
            href: '/en/use/#q10',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Unofficial resignation"
        items={[
          {
            text: 'Duty work (corporate work)',
            href: '/en/basis/#ref20',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Use of Incidental Works"
        items={[
          {
            text: 'Use of Incidental Works (Article 30-2)',
            href: '/en/basis/#ref37',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="War supplementation system"
        items={[
          {
            text: 'Protection Term',
            href: '/en/basis/#ref23',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
    </div>
  </Section>
</Page>
