---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Annotation from '../../components/Annotation.astro';
import Page from '../../templates/Page.astro';
---

<Page
  chapterNum={2}
  title="授業における著作権"
  description="当ウェブサイトは、主に教育機関で授業をされている先生を対象に著作権について説明しています。このページでは授業で著作物を扱う際の法律上の決まりやフロー、引用、複製等について解説しています。"
>
  <Section
    number="03"
    title="授業目的の複製等（35条）"
    description="このsectionでは、授業目的の複製や公衆送信について定められている35条について説明します。2018年に35条が改正された際の内容についても説明します。"
  >
    <h3 id="ref53">授業で著作物を扱う際の権利制限</h3>
    <p>
      著作権法35条には、授業の過程で著作物を扱う際の権利制限が定められています。授業のために学生と共有したい資料に、限られた範囲ではありますが、他人の著作物を著作権者の許諾なしに利用することができるようになります。
    </p>
    <p>
      なんでもできるわけではなく、できることとできる範囲が「限られている」ことを意識することが大切です。それらは著作権法の条文に書かれており、それをさらに具体的にまとめようとしているのが「改正著作権法第35条運用指針」です。
    </p>
    <p>
      本ウェブサイトでは、簡単に「運用指針」と略して記載します。運用指針については、「section04
      改正著作権法第35条運用指針」で詳しく説明します。
    </p>
    <p>条文には以下のように書かれています。</p>

    <Point hasNoTag title="第35条（学校その他の教育機関における複製等）" id="ref24">
      <p>
        <span class="mr-[1rem] text-orange-600">1</span
        >学校その他の教育機関（営利を目的として設置されているものを除く。）において教育を担任する者及び授業を受ける者は、その授業の過程における利用に供することを目的とする場合には、その必要と認められる限度において、公表された著作物を複製し、若しくは公衆送信（自動公衆送信の場合にあつては、送信可能化を含む。以下この条において同じ。）を行い、又は公表された著作物であつて公衆送信されるものを受信装置を用いて公に伝達することができる。ただし、当該著作物の種類及び用途並びに当該複製の部数及び当該複製、公衆送信又は伝達の態様に照らし著作権者の利益を不当に害することとなる場合は、この限りでない。
      </p>
    </Point>

    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="4">何言ってるかわからない！むり！もう心折れそう……</Bubble>
      <Bubble speaker="大院" feLevel="5">カッコの中の文章も長いし、どことどこが繋がってんのかわかりにくい……</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        法律的な表現なので難しいですよね。そんなみなさんのために、「改正著作権法第35条運用指針」があるのです。本ウェブサイトでは、この運用指針の内容をさらにわかりやすく説明します。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">改正ってついてるけど、なんなんだ？</Bubble>
      <Bubble speaker="隅木" feLevel="4">運用指針ができた背景を説明しないといけないですね。</Bubble>
    </SpeechBubbles>
    <h4 id="ref1">2018年の35条改正</h4>
    <p>
      著作権法はよく改正されるのですが、2018年には35条とそれに関する箇所の改正があり、大きな制度変更がありました【旧35条と改正35条】。具体的には補償金制度が導入されたのです。
    </p>
    <ImgCaption>
      <figcaption>【旧35条と改正35条】</figcaption>
      <img
        src="/assets/images/copyright-04.png"
        alt="旧35条の第1項。要件を満たせば、授業目的の複製は無許可で可。旧35条の第2項。遠隔合同授業等の場合、授業目的の公衆送信は無許可で可。改正35条の第1項。要件を満たせば、授業目的の複製・公衆送信・公の伝達は無許可で可。改正35条の第2項。改正35条の第1項で言及されている公衆送信を行う場合は、「教育機関の設置者」が補償金を著作権者に支払う。改正35条の第3項。遠隔合同授業等の場合、授業目的の公衆送信は補償金不要。"
        width="1360"
        height="1110"
      />
    </ImgCaption>
    <p>旧35条では、第三者の著作物を授業で扱う際、以下の取り扱いになっていました。</p>
    <ListArea id="ref1-1">
      <p>授業目的で無許諾、無償でできたこと</p>
      <ul>
        <li>
          複製
          <ul>
            <li>授業で利用するための複製と、複製物の教室での配布</li>
          </ul>
        </li>
        <li>
          遠隔合同授業等における公衆送信
          <ul>
            <li>
              少なくとも主会場に教員と生徒、遠隔地の副会場に生徒がいることが前提とされる授業で、遠隔会議システムなどを利用して、離れた会場へ同時中継すること<Annotation num={1} />
            </li>
          </ul>
        </li>
      </ul>
    </ListArea>
    <ListArea id="ref22">
      <p>許諾をとらないといけなかったこと</p>
      <ul>
        <li>
          「遠隔合同授業等における公衆送信」以外の公衆送信
          <ul>
            <li>授業時間以外の公衆送信や、オンデマンド型授業における公衆送信</li>
            <li>同時中継のものでも、授業をしている教員のところに学生がいない場合（スタジオ型授業）の公衆送信</li>
          </ul>
        </li>
        <li>Webサイトの画面などをプロジェクターでスクリーンに投影して見せるような「公の伝達」</li>
      </ul>
    </ListArea>
    <Point isMemo num={1} id="c2s3_1">
      <p>島並良、上野達弘、横山久芳『著作権法入門〔第3版〕』（有斐閣、2021）198頁。</p>
    </Point>
    <p>
      改正35条では、授業目的の公の伝達と、補償金を支払えば前述のような公衆送信を、許諾なくおこなってよいことになったのです。できるようになったことを授業形態ごとにまとめると、【公衆送信の許諾】の表のようになります。
    </p>
    <p>
      やや難しいのは、公衆送信のすべてについて補償金が必要とされているわけではない点です。公衆送信のなかでもいわゆる遠隔合同授業等で行われる場合は補償金の支払いなく無償、無許諾で利用できます（35条3項）。
    </p>
    <p>
      これは、2018年の著作権法改正前に無償でできた利用については引き続き無償にするため、改正後の公衆送信にも無償でできる利用が残されたためです<Annotation num={2} />。
    </p>
    <ImgCaption id="ref15">
      <figcaption>【公衆送信の許諾】</figcaption>
      <table class="text-3.25/tight md:text-sm/tight">
        <thead>
          <tr>
            <th rowspan="2">授業形態</th>
            <th rowspan="2" class="max-w-[5.75rem] md:max-w-[7rem]">授業時間内の参加場所</th>
            <th>資料配布※2</th>
            <th>公の伝達</th>
            <th colspan="2">資料公衆送信</th>
            <th colspan="2">授業映像公衆送信</th>
          </tr>
          <tr>
            <th>教室内</th>
            <th class="max-w-[5.75rem] md:max-w-[7rem]">教室内</th>
            <th>授業時間内</th>
            <th>授業時間外</th>
            <th>同時中継</th>
            <th>録画</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr class="!bg-orange-100">
            <td class="text-left">従来教室授業</td>
            <td>対面</td>
            <td>◎</td>
            <td>○※1</td>
            <td>○</td>
            <td>○</td>
            <td>-</td>
            <td>○</td>
          </tr>
          <tr class="!bg-white">
            <td rowspan="2" class="text-left">遠隔合同授業等</td>
            <td>対面</td>
            <td>◎</td>
            <td>○※1</td>
            <td>○</td>
            <td>○</td>
            <td>-</td>
            <td>○</td>
          </tr>
          <tr>
            <td>遠隔</td>
            <td>-</td>
            <td>-</td>
            <td>◎</td>
            <td>○</td>
            <td>◎</td>
            <td>○</td>
          </tr>
          <tr>
            <td class="text-left">スタジオ型授業</td>
            <td>遠隔</td>
            <td>-</td>
            <td>-</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td class="text-left">オンデマンド型授業</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>○</td>
            <td>-</td>
            <td>○</td>
          </tr>
        </tbody>
      </table>
      <p class="text-3.25/normal md:text-sm/normal">
        ◎：改正前から許諾なく無償でOK　◯：改正後補償金支払いにより許諾なくOK（※1は補償金不要）
      </p>
      <p class="text-3.25/normal md:text-sm/normal">
        ※2 プリントやUSBメモリでの配布、AirDropなど教室内で閉じた通信による配布
      </p>
    </ImgCaption>
    <Point isMemo num={2} id="c2s3_2">
      <p>
        「公衆送信」と「公の伝達」の用語について、「1章 section04
        著作権とは」で説明しています。さらに『運用指針』による用語定義と具体例を、この後の「section04
        改正著作権法第35条運用指針」で説明しています。
      </p>
    </Point>
    <p>
      文化庁の整理<Annotation num={3} />に従って、本ウェブサイトでは、「遠隔合同授業」には2つの形態が含まれるため「遠隔合同授業等」とします。「遠隔合同授業等」には「同時中継合同授業」と「同時中継遠隔授業」があります。
    </p>
    <p>
      この違いは、副会場に教員がいるか否かです。つまり、「同時中継合同授業」は、それぞれに教員と学生がいる複数の会場を双方向通信できる形で繋いで行うタイプの授業を言います。これに対して、「同時中継遠隔授業」は、教員と生徒がいる主会場の教室で行われている授業をリアルタイム配信し、自宅などの副会場で生徒だけでも受講できるようにしたものです【遠隔授業形態の分類】。
    </p>
    <ImgCaption>
      <figcaption>【遠隔授業形態の分類】</figcaption>
      <img
        src="/assets/images/copyright-05.png"
        alt="同時中継合同授業では、教員と生徒がいる主会場で行われている授業を、それぞれに教員と学生がいる副会場と双方向通信できる形で行う。同時中継遠隔授業では、教員と生徒がいる主会場で行われている授業をリアルタイム配信し、自宅などの副会場で生徒だけでも受講できる形で行う。スタジオ型授業では、生徒のいない主会場で教員が行う授業をリアルタイム配信し、自宅などの副会場で生徒だけでも受講できる形で行う。オンデマンド型授業では、あらかじめ収録された授業をサーバから配信し、自宅などの副会場で生徒だけでも受講できる形で行う。"
        width="1360"
        height="1761"
      />
    </ImgCaption>
    <Point><p>補償金を支払うことで、許諾なく公衆送信できる場面が増えた！</p></Point>
    <Point isMemo num={3} id="c2s3_3">
      <p>運用指針25ページ</p>
    </Point>
    <p id="ref2">
      補償金は、公衆送信を行った著作物の著作権者に支払われるべきなのですが、現場の教員や学生が著作権者を探して直接支払うことは実質不可能です。なので、補償金を取りまとめる管理団体を作り、そこにまとめて支払い、そこから著作権者へ分配することになっています。この仕組みを「授業目的公衆送信補償金制度」と呼んでいます。補償金をまとめて支払うのも、教育機関の設置者が行いますので、先生方1人ひとりが支払う必要はありません（104条の11）。設置者というのは、市立小学校だったらその市、県立高校であればその県、大学であれば、国立大学法人や学校法人、ということになります。
    </p>
    <p>
      この補償金を収集、管理、分配するのは、「SARTRAS（一般社団法人授業目的公衆送信補償金等管理協会）<Annotation num={4} />」という団体で、「サートラス」と読みます。
    </p>
    <Point isMemo num={4} id="c2s3_4">
      <p>
        SARTRAS<a href="https://sartras.or.jp/" target="_blank" class="block">https://sartras.or.jp/</a>
      </p>
    </Point>
    <SpeechBubbles>
      <Bubble speaker="大院" feLevel="5">そんな全国から金集めて何に使われるんだよっ！</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        怒らないでください。大院先生も論文や本を書かれるのではないかと思いますが、先生の著作物が授業での公衆送信で使われた場合に、集められた補償金から先生にお金が分配されます<Annotation num={5} />。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">えっ、金もらえるの？</Bubble>
      <Bubble speaker="隅木" feLevel="1">
        そうなのです。だからその時が来たら、連絡が来ますのでお手続きしてくださいね。
      </Bubble>
      <Bubble speaker="大院" feLevel="1">なんだ、じゃあしかたないな（まんざらでもない）。</Bubble>
    </SpeechBubbles>
    <Point isMemo num={5} id="c2s3_5">
      <p>
        SARTRASの分配金のページ<a href="https://sartras.or.jp/bunpai/" target="_blank" class="block">
          https://sartras.or.jp/bunpai/
        </a>
      </p>
    </Point>
    <p id="ref29">
      35条が改正された時に、権利者側と教育機関側の人が集まって、35条の運用について考える会議が設置されました。これを「著作物の教育利用に関する関係者フォーラム（教育著作権フォーラム）」と言います（以下、「フォーラム」と略します）<Annotation num={6} />。
    </p>
    <p>
      「1章 section01
      著作権法とは」でも説明したように、権利保護と公正な利用のバランスが難しいので、両者の意見を出し合いながら、共通認識を決めましょうということになったのです。
    </p>
    <p>法律の有識者の方々もメンバーとして参加し、法律的な判断についてアドバイスをおこなっています。</p>
    <img src="/assets/images/2-3-1.png" alt="" width="1743" height="879" />
    <Point isMemo num={6} id="c2s3_6">
      <p>
        著作物の教育利用に関する関係者フォーラム（教育著作権フォーラム）<a
          href="https://forum.sartras.or.jp/"
          target="_blank"
          class="block"
        >
          https://forum.sartras.or.jp/
        </a>
      </p>
    </Point>
  </Section>
</Page>
