---
import Section from '../../components/Section.astro';
import Page from '../../templates/Page.astro';
---

<Page title="おわりに">
  <Section
    number="01"
    title="おわりに"
  >
    <p>
      このウェブサイトでは、教育機関の先生方を対象として、主に授業で第三者の著作物を扱う際に必要な知識について説明しました。
    </p>
    <p>
      一方で、学生や生徒さんにも「これは授業だから複製していいんだよ」「引用は要件を守ってね」などのことは伝えていく必要があります。「授業だからアニメキャラを複製して作品を作ったりしてもいいけど、SNSにその作品の写真をUPしたりしたら、著作権侵害になるよ」というように、授業とプライベートの違いをご説明いただければと思います。
    </p>
    <p>
      加えて、文章や絵をかいたり、写真を撮ったりすれば、学生や生徒さん自身が著作者になり、著作権が発生することをあわせてお伝えいただければと思います。
    </p>

    <ul class="my-5 md:my-6">
      <li>
        大学ICT推進協議会では、学生さん向けの著作権教育教材として、<a href="https://axies.jp/report/copyright_education/" target="_blank" rel="noopener noreferrer" class="text-orange-600 underline hover:no-underline">動画教材を無償で公開</a>します（2023年度より順次公開）。
      </li>
      <li>
        このウェブサイトのPDFファイルも無償で公開します。
      </li>
      <li>
        <a href="https://axies.jp/report/copyright_education/" target="_blank" rel="noopener noreferrer">こちらのページ</a>から、CCライセンスの下、ご活用ください。
      </li>
    </ul>
  </Section>
  <Section
    number="02"
    title="制作チーム紹介"
    description=""
  >
    <h3><span class="block text-[1rem]">〜先生にぜひ読んでほしい〜</span>「すごくわかる 著作権と授業」制作チーム</h3>
    <ul class="!p-0">
      <li class="flex list-none flex-col items-center gap-4 pb-4 md:flex-row md:items-start md:pb-5">
        <img src="http://via.placeholder.com/80x80" alt="天野 由貴（あまの ゆき）の似顔絵イラスト" decoding="async" class="h-20 w-20" />
        <div>
          <h6 class="font-bold"><span class="mr-[1rem] text-orange-600">執筆</span>天野 由貴（あまの ゆき）</h6>
          <p>大学ICT推進協議会学術・教育コンテンツ 共有流通部会 著作権タスクフォースメンバー。東京工業大学 教育革新センター 特任専門員。ねこでもわかるグラフシリーズ連載中。ねこ4匹、わんこ1匹と暮らしている。</p>
        </div>
      </li>
      <li class="flex list-none flex-col items-center gap-4 border-t border-stone-200 py-4 md:flex-row md:items-start md:py-5">
        <img src="http://via.placeholder.com/80x80" alt="木村 剛大（きむら こうだい）の似顔絵イラスト" decoding="async" class="h-20 w-20" />
        <div>
          <h6 class="font-bold"><span class="mr-[1rem] text-orange-600">監修</span>木村 剛大（きむら こうだい）</h6>
          <p>弁護士（日本・ニューヨーク州・ワシントン DC）、小林・弓削田法律事務所パートナー。ウェブ版美術手帖での連載「アートと法/Art Law」、「アートと法の基礎知識」、『クリエイターのための権利の本』（ボーンデジタル、2018）の共著、法律監修など著作権を一般にも分かりやすく解説することにも力を入れている。ボクシング好き（みるのだけ）。</p>
        </div>
      </li>
      <li class="flex list-none flex-col items-center gap-4 border-t border-stone-200 py-4 md:flex-row md:items-start md:py-5">
        <img src="http://via.placeholder.com/80x80" alt="隅谷 孝洋（すみや たかひろ）の似顔絵イラスト" decoding="async" class="h-20 w-20" />
        <div>
          <h6 class="font-bold"><span class="mr-[1rem] text-orange-600">企画</span>隅谷 孝洋（すみや たかひろ）</h6>
          <p>大学ICT推進協議会 学術・教育コンテンツ 共有流通部会 著作権タスクフォースメンバー。著作物の教育利用に関する関係者フォーラム委員（2021、2022年度）。広島大学情報メディア教育研究センター教授。Star Warsとラーメンが好き。</p>
        </div>
      </li>
      <li class="flex list-none flex-col items-center gap-4 border-t border-stone-200 py-4 md:flex-row md:items-start md:py-5">
        <img src="http://via.placeholder.com/80x80" alt="角田 綾佳（すみだ あやか）の似顔絵イラスト" decoding="async" class="h-20 w-20" />
        <div>
          <h6 class="font-bold"><span class="mr-[1rem] text-orange-600">イラスト</span>角田 綾佳（すみだ あやか）</h6>
          <p>株式会社キテレツ、デザイナー＆イラストレーター。ウェブデザインを中心に、印刷物や広告などさまざまなデザインを手がける。ねことラッコとK-POPが大好き。</p>
        </div>
      </li>
      <li class="flex list-none flex-col items-center gap-4 border-t border-stone-200 py-4 md:flex-row md:items-start md:py-5">
        <img src="http://via.placeholder.com/80x80" alt="佐藤 理樹（さとう まさき）の似顔絵イラスト" decoding="async" class="h-20 w-20" />
        <div>
          <h6 class="font-bold"><span class="mr-[1rem] text-orange-600">デザイン・DTP</span>佐藤 理樹（さとう まさき）</h6>
          <p>アルファデザイン、書籍制作中心のグラフィックデザイナー。著書『はじめてのIllustrator CC』（秀和システム）。デザイン・DTP『クリエイターのための権利の本』、『HTML解体新書』（ボーンデジタル）、『ネオ・ダダの逆説』（みすず書房）など。バイクとねこと日本酒好き。</p>
        </div>
      </li>
      <li class="flex list-none flex-col items-center gap-4 border-t border-stone-200 py-4 md:flex-row md:items-start md:py-5">
        <img src="http://via.placeholder.com/80x80" alt="小関 匡（こせき きょう）の似顔絵イラスト" decoding="async" class="h-20 w-20" />
        <div>
          <h6 class="font-bold"><span class="mr-[1rem] text-orange-600">編集</span>小関 匡（こせき きょう）</h6>
          <p>IT、Web、デザイン系のライター兼書籍編集者。ライターとしては、企業のオウンドメディアを中心に活動中。主な書籍編集実績『クリエイターのための権利の本』（ボーンデジタル）『鬼フィードバック デザインのチカラは“ダメ出し"で育つ』（MdN）他。日本酒好きなれど、ダイエットのため節酒中。</p>
        </div>
      </li>
    </ul>
    <p>このサイトは、<a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank" rel="noopener noreferrer" class="text-orange-600 underline hover:no-underline">クリエイティブ・コモンズ 表示 4.0 国際ライセンス（CC BY 4.0）</a>の下に提供されています。</p>
    <p>
      このサイトを利用する場合は「すごくわかる著作権と授業 / AXIES / CC BY 4.0」のようにクレジットを表記してください。
    </p>
    <p>このサイトは、一般社団法人授業目的公衆送信補償金等管理協会（SARTRAS）の共通目的基金の助成を受けて制作されています。</p>
    <p>
      このサイトについて、アンケートをおこなっております。下記のURLからお答えいただきますよう、ご協力をよろしくお願いいたします。
      <a href="https://forms.gle/a1XxvJU1xebuKaS26" target="_blank" rel="noopener noreferrer" class="block text-orange-600 underline hover:no-underline">https://forms.gle/a1XxvJU1xebuKaS26</a>
      <img src="/assets/images/qr_survey.png" alt="このサイトについてのアンケートのURLにリンクしているQRコード" decoding="async" class="my-1 w-48 md:my-2" />
    </p>
    <p>
      このサイトについてのお問い合わせは、下記メールアドレスへお願いします。<br />
      sugowaka35[at]axies.jp<br />
      [at]を@にご変更ください。
    </p>
  </Section>
</Page>
