---
import Section from '../../components/Section.astro';
import Page from '../../templates/Page.astro';
---

<Page
  title="おわりに"
  description="主に教育機関で授業をされている先生を対象に著作権について説明している当ウェブサイトの、あとがきのページです。"
>
  <Section number="02" title="おわりに">
    <p>
      このサイトでは、教育機関の先生方を対象として、主に授業で第三者の著作物を扱う際に必要な知識について説明しました。
    </p>
    <p>
      一方で、学生や生徒さんにも「これは授業だから複製していいんだよ」「引用は要件を守ってね」などのことは伝えていく必要があります。「授業だからアニメキャラを複製して作品を作ったりしてもいいけど、SNSにその作品の写真をUPしたりしたら、著作権侵害になるよ」というように、授業とプライベートの違いをご説明いただければと思います。
    </p>
    <p>
      加えて、文章や絵をかいたり、写真を撮ったりすれば、学生や生徒さん自身が著作者になり、著作権が発生することをあわせてお伝えいただければと思います。
    </p>

    <ul class="my-5 border-b border-stone-200 pb-5 md:my-6 md:pb-6">
      <li>
        大学ICT推進協議会では、学生さん向けの著作権教育教材として、<a
          href="https://axies.jp/report/copyright_education/"
          target="_blank"
        >
          動画教材を無償で公開
        </a>します（2023年度より順次公開）。
      </li>
      <li>このウェブサイトのPDFファイルも無償で公開します。</li>
      <li>
        <a href="https://axies.jp/report/copyright_education/" target="_blank">
          こちらのページ
        </a>から、CCライセンスの下、ご活用ください。
      </li>
    </ul>
    <p>
      <span class="block text-lg font-bold">制作・発行　一般社団法人　大学ICT推進協議会</span>
      お問い合わせ sugowaka35[at]axies.jp<br />[at]を@にご変更ください。
    </p>
    <p>
      このサイトは、一般社団法人授業目的公衆送信補償金等管理協会（SARTRAS）の共通目的基金の助成を受けて制作されています。
    </p>
    <img
      src="/assets/images/SARTRAS_LOGO_4C_POSI_Josei.png"
      alt="共通目的事業・助成事業を行うサートラスのロゴ"
      width="468"
      height="413"
      class="w-[12rem]"
    />
    <p>
      このサイトの内容向上に関するアンケートを行っています。下記のURLからご意見をお寄せください。ご協力をよろしくお願いいたします。
      <a href="https://forms.gle/a1XxvJU1xebuKaS26" target="_blank" class="block">https://forms.gle/a1XxvJU1xebuKaS26</a
      >
    </p>
  </Section>
</Page>
