---
import Section from '../../../components/Section.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="Introduction"
  description="主に教育機関で授業をされている先生を対象に著作権について説明している当ウェブサイトの、登場人物紹介やご挨拶、法律の条文の参照について説明しているページです。"
  isEN
>
  <Section number="01" title="Preface">
    <p>
      We are surrounded by many copyrighted works, which are protected by the Copyright Act. However, although the
      Copyright Act is a law that relates to everyday matters, it is often not well known or misunderstood.
    </p>
    <p>
      Article 35 of the Copyright Act was amended in 2018, and there were significant changes to the content regarding
      limitations on rights through classroom use at educational institutions. The change meant that greater
      opportunities to use different materials could be accepted by paying compensation. However, the law is written in
      wording that can be applied to many different situations, and there are aspects of the law that are difficult to
      read and understand.
    </p>
    <p>
      Therefore, after this amendment, copyright owners and educational institutions cooperated to create guidelines for
      Article 35. The guidelines are called "<a href="https://sartras.or.jp/unyoshishin/" target="_blank"
        >Guidelines for Article 35 under the Amended Copyright Act</a
      >", and are posted on the website of a management organization called SARTRAS (Society for the Administration of
      Remuneration for Public Transmission for School Lessons).
    </p>
    <p>
      This material tries to further explain the Guidelines in an easy-to-understand manner. It was written primarily
      for teachers who teach classes at educational institutions. We hope that this material will be useful for teachers
      to deepen their understanding of the basics of copyright, what they can and cannot do, and what they need to be
      mindful of when handling copyrighted works in the classroom.
    </p>
    <p>
      The Japanese Copyright Act applies to the use of copyrighted work in Japan, even for use by foreign nationals.
      Unlike "fair use" in the U.S., the Japanese Copyright Act provides for limitations and exceptions to copyright in
      specific situations in individual Articles. Specifically, Article 30 limits reproduction rights for private
      small-scale use, Article 32 limits copyrights for citation, and Article 35 limits reproduction and public
      transmission rights in educational institutions. These Articles describe in detail the specific situations and
      requirements under which a copyright is limited. Therefore, you need to understand these Articles accurately and
      apply them appropriately. In particular, when using the Articles in educational institutions, please make sure to
      check the contents of the Articles carefully and use them appropriately.
    </p>
  </Section>

  <Section number="02" title="People who appear in this material">
    <div class="my-5 grid gap-5 sm:grid-cols-2 md:my-6 md:grid-cols-3 md:gap-6">
      <dl class="text-center">
        <dt class="mt-2 font-bold md:mt-4">
          <img
            src="/assets/images/konaka.jpg"
            alt=""
            width="1000"
            height="1000"
            loading="lazy"
            decoding="async"
            class="mx-auto w-full max-w-[10rem] sm:max-w-[12.5rem]"
          />Dr. Konaka
        </dt>
        <dd class="mt-1.5 text-left text-sm/relaxed">
          Elementary school teacher. I don't understand what the law is because it's so difficult, and I'm afraid to do
          anything that concerns copyright.
        </dd>
      </dl>
      <dl class="text-center">
        <dt class="mt-2 font-bold md:mt-4">
          <img
            src="/assets/images/daiin.jpg"
            alt=""
            width="1000"
            height="1000"
            loading="lazy"
            decoding="async"
            class="mx-auto w-full max-w-[10rem] sm:max-w-[12.5rem]"
          />Dr. Daiin
        </dt>
        <dd class="mt-1.5 text-left text-sm/relaxed">
          University teacher. I don't care about copyright if it's not for education and research purposes.
        </dd>
      </dl>
      <dl class="text-center">
        <dt class="mt-2 font-bold md:mt-4">
          <img
            src="/assets/images/sumiki.jpg"
            alt=""
            width="1000"
            height="1000"
            loading="lazy"
            decoding="async"
            class="mx-auto w-full max-w-[10rem] sm:max-w-[12.5rem]"
          />Dr. Sumiki
        </dt>
        <dd class="mt-1.5 text-left text-sm/relaxed">
          He is an expert in Copyright Act. He provides easy explanations for Dr. Konaka and Dr. Daiin.
        </dd>
      </dl>
    </div>
  </Section>

  <Section number="03" title="References to Provisions of Laws">
    <p>
      The provisions of the laws referred to in this material can be found in the "Japanese Law Translation": <a
        href="https://www.japaneselawtranslation.go.jp/"
        target="_blank"
        class="block">https://www.japaneselawtranslation.go.jp/</a
      >
    </p>
  </Section>
</Page>
