---
import Section from '../../../components/Section.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="Afterwords"
  description="This material, which explains copyright to teachers primarily teaching in educational institutions, includes a page for introducing our team and epilogue."
  isEN
  isTitleHidden
>
  <Section number="02" title="This Project" hasNoChapter>
    <p>
      This material was designed primarily for teachers at educational institutions to explain what they need to know
      when dealing with third-party copyrighted works in the classroom.
    </p>
    <p>
      On the other hand, it is necessary to tell students and pupils that "this is a class, so you can reproduce it", or
      "you must comply with the requirements for citation". Please explain the difference between class and private
      life, such as, "since this is a class, you may reproduce an animated character and create a work of art, but if
      you upload a picture of that work onto a social networking service, you will be violating a copyright".
    </p>
    <p>
      In addition, please inform students that they are the authors of their writings, drawings, and photographs and
      that copyrights apply to them.
    </p>

    <ul class="my-5 border-b border-stone-200 pb-5 md:my-6 md:pb-6">
      <li>
        Academic eXchange for Information Environment and Strategy (AXIES) will make <a
          href="https://axies.jp/report/copyright_education/"
          target="_blank"
          >video materials
        </a> available free of charge as copyright education materials for students.
      </li>
      <li>A PDF file of this material will also be available free of charge.</li>
      <li>
        Please use <a href="https://axies.jp/report/copyright_education/" target="_blank">this material</a> under the CC
        license.
      </li>
    </ul>
    <p>
      <span class="block text-lg font-bold">Produced and published by AXIES</span>
      Contact: sugowaka35[at]axies.jp<br />[change [at] to @].
    </p>
    <p>
      This material has been produced with a grant from the Common Purpose Fund of the Society for the Administration of
      Remuneration for Public Transmission for School Lessons (SARTRAS).
    </p>
    <img
      src="/assets/images/SARTRAS_LOGO_4C_POSI_Josei.png"
      alt="Logo of Sartras for common purpose projects and subsidized projects" width="468"
      height="413"
      class="w-[12rem]"
    />
    <p>
      We are striving to improve the content of this material. Please send us your comments at the URL below. We
      appreciate your cooperation.<a href="https://forms.gle/a1XxvJU1xebuKaS26" target="_blank" class="block"
        >https://forms.gle/a1XxvJU1xebuKaS26</a
      >
    </p>
  </Section>
</Page>
