---
import Section from '../../components/Section.astro';
import Page from '../../templates/Page.astro';
---

<Page
  title="おわりに"
  description="主に教育機関で授業をされている先生を対象に著作権について説明している当ウェブサイトの、制作チーム紹介とあとがきのページです。"
>
  <Section number="03" title="ライセンス">
    <p>
      このサイトは、<a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank">
        クリエイティブ・コモンズ 表示 4.0 国際ライセンス（CC BY 4.0）
      </a>の下に提供されています。
    </p>
    <p>利用の際には「すごくわかる著作権と授業Web/AXIES/CC BY 4.0」のようにクレジットを表記してください。</p>
  </Section>
</Page>
