---
import Section from '../../components/Section.astro';
import Popup from '../../components/Popup.astro';
import PopupParagraph from '../../components/PopupParagraph.astro';
import Point from '../../components/Point.astro';
import Page from '../../templates/Page.astro';
---

<Page title="はじめに">
  <Section
    number="01"
    title="はじめに"
  >
  <p>
    わたしたちの周りには、たくさんの著作物があり、これらは著作権法で保護されています。しかし、著作権法は身近なことに関する法律であるわりに、知られていないことや、勘違いされていることなどが多々あります。
  </p>
  <p>
    平成30（2018）年に著作権法の35条が改正され、教育機関での授業利用による権利制限の内容に大きな変更がありました。補償金を払うことによって、利用できることが増えたという変更です。しかし、法律はいろいろな場面に適用できる表現で書かれていて、なかなか読み解くのも難しい側面があります。
  </p>
  <PopupParagraph>
    そこで、この改正の後、著作権の権利者側と教育機関側が協力して、35条のガイドラインを作ることになりました。それが「<a href="https://sartras.or.jp/unyoshishin/" class="text-orange-600 underline hover:no-underline" target="_blank" rel="noopener noreferrer">改正著作権法第35条運用指針</a>」というもので、SARTRAS（一般社団法人授業目的公衆送信補償金等管理協会）という管理団体のサイトに掲載されています。
  </PopupParagraph>
  <p>
    このウェブサイトは、その運用指針をさらにわかりやすく説明しようとするものです。主に教育機関で授業をされている先生方に向けて書きました。著作権の基本的な知識や、授業で著作物を取り扱う際にできること、できないこと、気をつけなければならないことなどについて、より理解を深め、授業に役立てていただれければ幸いです。
  </p>
  </Section>

  <Section
    number="02"
    title="本ウェブサイトに出てくるひとたち"
  >
    <div class="my-5 grid grid-cols-3 gap-2 md:my-6 md:gap-6">
      <dl class="text-center">
        <div>
          <img src="http://via.placeholder.com/200x200" alt="" loading="lazy" decoding="async" />
        </div>
        <dt class="mt-4 font-bold">
          小中（こなか）先生
        </dt>
        <dd class="mt-1.5 text-left text-sm leading-relaxed">
          小学校の先生。法律ってなんだか難しくてよくわからないし、著作権のことって何しても怒られそうで怖いと思っている。
        </dd>
      </dl>
      <dl class="text-center">
        <div>
          <img src="http://via.placeholder.com/200x200" alt="" loading="lazy" decoding="async" />
        </div>
        <dt class="mt-4 font-bold">
          大院（だいいん）先生
        </dt>
        <dd class="mt-1.5 text-left text-sm leading-relaxed">
          大学の先生。教育・研究のためなら、著作権なんか関係ないだろ、と思っている。
        </dd>
      </dl>
      <dl class="text-center">
        <div>
          <img src="http://via.placeholder.com/200x200" alt="" loading="lazy" decoding="async" />
        </div>
        <dt class="mt-4 font-bold">
          隅木（すみき）先生
        </dt>
        <dd class="mt-1.5 text-left text-sm leading-relaxed">
          著作権法に詳しい先生。小中先生と大院先生にやさしく説明してくれる。
        </dd>
      </dl>
    </div>
  </Section>

  <Section
    number="03"
    title="法律の条文の参照について"
  >
    <PopupParagraph>
      本ウェブサイトで参照している法律の条文は、「<a href="https://elaws.e-gov.go.jp/" class="text-orange-600 underline hover:no-underline" target="_blank" rel="noopener noreferrer">e-Gov法令検索 https://elaws.e-gov.go.jp/</a>」で確認することができます。法律では2項以下がある場合でも<Popup id="c1s1_1" popup={[
        {
          text: "法制執務・法令用語研究会『条文の読み方〔第2版〕』（有斐閣、2021）71頁参照",
        }
      ]}>条名の下から始まる段落が1項であることは明らかなため、付番されません</Popup>。もっとも、本ウェブサイトでは読みやすくするため、条文番号を示すときにも、条文を引用するときにも、1項を付番します。
    </PopupParagraph>

    <div class="my-5 flex flex-col gap-2 md:my-6">
      <p>
        例えば、著作権法の著作物の定義は、次のように規定されており、「2条1項1号」と表記します。
      </p>
      <Point type="simple">
        <p>
          （定義）
        </p>
        <p>
          第二条　この法律において、次の各号に掲げる用語の意義は、当該各号に定めるところによる。<br/>一　著作物　思想又は感情を創作的に表現したものであつて、文芸、学術、美術又は音楽の範囲に属するものをいう。
        </p>
      </Point>
    </div>

    <div class="my-5 flex flex-col gap-2 md:my-6">
      <p>
        本ウェブサイトでは、1項も付番して次のように表記します。
      </p>
      <Point type="simple">
        <p>
          第二条（定義）
        </p>
        <p>
          1　この法律において、次の各号に掲げる用語の意義は、当該各号に定めるところによる。<br/>一　著作物　思想又は感情を創作的に表現したものであつて、文芸、学術、美術又は音楽の範囲に属するものをいう。
        </p>
      </Point>
    </div>

    <div class="my-5 flex flex-col gap-2 md:my-6">
      <p>
        次の26条の2のように「の」が付くのは枝番号と言って、後から新しい条文を追加するときに元の条文番号の変更を避けるための方法です。「26条の2第2項」と表記します。
      </p>
      <Point type="simple">
        <p>
          第二十六条の二（譲渡権）
        </p>
        <p>
          2　前項の規定は、著作物の原作品又は複製物で次の各号のいずれかに該当するものの譲渡による場合には、適用しない。
        </p>
      </Point>
    </div>
  </Section>
</Page>
