---
import Section from '../../../components/Section.astro';
import Point from '../../../components/Point.astro';
import SpeechBubbles from '../../../components/SpeechBubbles.astro';
import Bubble from '../../../components/Bubble.astro';
import Modal from '../../../components/Modal.astro';
import ModalTrigger from '../../../components/ModalTrigger.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  chapterNum={1}
  title="Copyright Basics"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions. This page explains the basics of copyright, copyrighted works, and authors, etc."
  isEN
>
  <Section
    number="01"
    title="What is the Copyright Act?"
    description="This Section explains the purpose of the Copyright Act. It is important to understand that the Copyright Act is not just written for those who want to protect their rights."
  >
    <h3>What is the Copyright Act?</h3>
    <h4>(Japanese) Copyright Act</h4>
    <p>Article 1 of the Copyright Act states the purpose of the Act.</p>
    <Point type="simple" title="Article 1 (Purpose)">
      The purpose of this Act is to provide for authors' rights and neighboring rights with respect to works, as well as
      with respect to performances, phonograms, broadcasts, and cablecasts, and to ensure protection for the rights of
      authors and other such persons while according attention to the fair exploitation of these cultural products, and
      thereby to contribute to cultural development.
    </Point>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        The Copyright Act protects the rights of those who create copyrighted works.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        That is correct, but there is another important role. That is the fair exploitation of copyrighted works. In
        other words, we make it easier for everyone to use copyrighted works by determining the extent to which they can
        be used freely.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="5">
        If you protect the rights too strictly, it will be difficult for people to use copyrighted works, and if you
        give them too much freedom, your rights will not be protected ...
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        It is difficult to find a balance between the protection of rights and fair exploitation.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">What exactly do you mean by “cultural development”?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Cultural development as referred to in the Copyright Act essentially means the creation of a wide variety of
        expressive works. In the field of technology covered by patents, to give an extreme example, it could just be a
        single technology. For example, if the price is the same, everyone would want to use the battery that lasts the
        longest. But this is not the case for copyrighted works. Sometimes you would like to listen to Mr. Children
        songs, sometimes you want to listen to Perfume songs, right?
      </Bubble>
      <Bubble speaker="Konaka" feLevel="1">
        I see. So, the idea is that by creating a variety of expressions, we can create a richer society. Many people
        create copyrighted works every day, and because there are no registration procedures required, the system makes
        it easier for many copyrighted works to be created.
      </Bubble>
    </SpeechBubbles>
    <Point>
      The purpose of the Copyright Act is to contribute to cultural development through the protection of the rights of
      authors and the fair exploitation of copyrighted works.
    </Point>
    <img src="/assets/images/1-1-1_en.png" alt="" width="1277" height="597" />
    <p>
      The Copyright Act determines what a copyrighted work is, what kind of rights are copyrightable (protection of
      authors), and in what cases copyright is limited (what is fair exploitation?).
    </p>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="4">
        However, the law is difficult and I don't understand it well ...<br />There are many places where the law is not
        very specific.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        The law intentionally stipulates abstractly, and leaves room for interpretation, so some people may have
        different opinions. Sometimes you don't know until a decision by the court is given.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="3">
        This means that sometimes things cannot be clearly defined as black and white right away.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        We want to keep things black and white if possible. There are many materials that teachers can refer to. One of
        them is titled the "<span class="font-bold text-orange-600"
          >Guidelines for Article 35 under the Amended Copyright Act</span
        ><ModalTrigger id="s1_1" isEN />".
      </Bubble>
    </SpeechBubbles>
    <Modal id="s1_1" isEN>
      <p>Guidelines for Article 35 under the Amended Copyright Act are explained in detail in Chapter 2.</p>
    </Modal>
  </Section>
</Page>
