---
import Section from '../../../components/Section.astro';
import Point from '../../../components/Point.astro';
import SpeechBubbles from '../../../components/SpeechBubbles.astro';
import Bubble from '../../../components/Bubble.astro';
import ListArea from '../../../components/ListArea.astro';
import Quiz from '../../../components/Quiz.astro';
import QuizContent from '../../../components/QuizContent.astro';
import Modal from '../../../components/Modal.astro';
import ModalTrigger from '../../../components/ModalTrigger.astro';
import ImgCaption from '../../../components/ImgCaption.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="Copyright Basics"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions. This page explains the basics of copyright, copyrighted works, and authors, etc."
  isEN
>
  <Section
    number="01"
    title="What is the Copyright Act?"
    description="This Section explains the purpose of the Copyright Act. It is important to understand that the Copyright Act is not just written for those who want to protect their rights."
  >
    <h3>What is the Copyright Act?</h3>
    <h4>(Japanese) Copyright Act</h4>
    <p>Article 1 of the Copyright Act states the purpose of the Act.</p>
    <Point type="simple" title="Article 1 (Purpose)">
      The purpose of this Act is to provide for authors' rights and neighboring rights with respect to works, as well as
      with respect to performances, phonograms, broadcasts, and cablecasts, and to ensure protection for the rights of
      authors and other such persons while according attention to the fair exploitation of these cultural products, and
      thereby to contribute to cultural development.
    </Point>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        The Copyright Act protects the rights of those who create copyrighted works.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        That is correct, but there is another important role. That is the fair exploitation of copyrighted works. In
        other words, we make it easier for everyone to use copyrighted works by determining the extent to which they can
        be used freely.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="5">
        If you protect the rights too strictly, it will be difficult for people to use copyrighted works, and if you
        give them too much freedom, your rights will not be protected ...
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        It is difficult to find a balance between the protection of rights and fair exploitation.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">What exactly do you mean by “cultural development”?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Cultural development as referred to in the Copyright Act essentially means the creation of a wide variety of
        expressive works. In the field of technology covered by patents, to give an extreme example, it could just be a
        single technology. For example, if the price is the same, everyone would want to use the battery that lasts the
        longest. But this is not the case for copyrighted works. Sometimes you would like to listen to Mr. Children
        songs, sometimes you want to listen to Perfume songs, right?
      </Bubble>
      <Bubble speaker="Konaka" feLevel="1">
        I see. So, the idea is that by creating a variety of expressions, we can create a richer society. Many people
        create copyrighted works every day, and because there are no registration procedures required, the system makes
        it easier for many copyrighted works to be created.
      </Bubble>
    </SpeechBubbles>
    <Point>
      The purpose of the Copyright Act is to contribute to cultural development through the protection of the rights of
      authors and the fair exploitation of copyrighted works.
    </Point>
    <img src="/assets/images/1-1-1_en.png" alt="" width="1277" height="597" />
    <p>
      The Copyright Act determines what a copyrighted work is, what kind of rights are copyrightable (protection of
      authors), and in what cases copyright is limited (what is fair exploitation?).
    </p>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="4">
        However, the law is difficult and I don't understand it well ...<br />There are many places where the law is not
        very specific.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        The law intentionally stipulates abstractly, and leaves room for interpretation, so some people may have
        different opinions. Sometimes you don't know until a decision by the court is given.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="3">
        This means that sometimes things cannot be clearly defined as black and white right away.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        We want to keep things black and white if possible. There are many materials that teachers can refer to. One of
        them is titled the "<span class="font-bold text-orange-600"
          >Guidelines for Article 35 under the Amended Copyright Act</span
        ><ModalTrigger id="s1_1" />".
      </Bubble>
    </SpeechBubbles>
    <Modal id="s1_1" isEN>
      <p>Guidelines for Article 35 under the Amended Copyright Act are explained in detail in Chapter 2.</p>
    </Modal>
  </Section>

  <Section
    number="02"
    title="What is a copyrighted work?"
    description={'This section explains what a "copyrighted work" is, as defined under the Copyright Act.'}
  >
    <h3>Definition of copyrighted works</h3>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="3">Copyrighted works are not diminished by their use, are they?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        That's right. For example, if a car is stolen, it will be gone, so you will know right away. However, most of
        the time even if text is stolen, it will not be lost, so in most cases it is not immediately obvious if it is
        being misused. Among such intangible information, information that contributes to cultural development is
        copyrighted work.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">But you can tell when a painting on a canvas is stolen, can't you?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        A painting is indeed a copyrighted work, but it has two aspects: one as a "tangible object" and the other as
        "information". You may think of a copyrighted work as a "tangible object", but a copyrighted work is
        "information". In other words, the copyrighted work (information) is superimposed on the tangible object
        (painting)<ModalTrigger id="c1s2_1" />. It would be a problem if someone made and sold postcards or other goods
        using the painting without permission, wouldn't it?<br />Even if you buy a painting, you are simply receiving
        the rights to the tangible object, the physical ownership (title). The rights to the information (copyright) of
        the person who originally painted the painting remain with the person who painted it.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="1">I see, so it's not the same as physical ownership.</Bubble>
    </SpeechBubbles>
    <Modal id="c1s2_1" isEN>
      <p>Supreme Court, January 20, 1984, HANREI JIHO No. 1107, p. 127 [Ganshinkei Case].</p>
    </Modal>
    <img src="/assets/images/1-1-2_en.png" alt="" width="1277" height="596" />
    <p>The Copyright Act protects "copyrighted works". A copyrighted work is defined as follows:</p>
    <Point type="simple" title="Article 2(1)(i)">
      "a creatively produced expression of thoughts or sentiments that falls within the literary, academic, artistic, or
      musical domain"
    </Point>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        Is a table listing the height and weight of the students in my class copyrighted work because it is an
        expression?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        No, mere data is not thought or sentiment so it is not considered a copyrighted work.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="2">I often hear that cooking recipes are not copyrighted.</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        The idea itself is not a copyrighted work because it has to be expressed. Just having an idea in your head is
        not subject to copyright protection.<br />The idea of the recipe itself is not a copyrighted work, but if it is
        turned into a book or a web article, the pictures and text may be copyrighted, so you should be careful.
      </Bubble>
    </SpeechBubbles>
    <Point>A work is not a "copyrighted work" unless it is a creative expression of thoughts or sentiments.</Point>
    <ListArea id="ref27">
      <p>Examples of works that are not copyrighted works under the Copyright Act:</p>
      <ul>
        <li>
          Something that is just a thought in your head (an idea): the story of a novel is also not protected if it is
          just a thought. What is expressed as a novel is protected.
        </li>
        <li>
          Data and facts only: obituaries, information on personnel transfers, population lists for each prefecture,
          etc., do not express the thoughts or sentiments of the person expressing them, and therefore cannot be an
          expression of "thoughts or sentiments" and are not copyrighted works.
        </li>
        <li>
          Commonplace expressions and very short sentences: phrases that anyone would use, such as "blue skies," are
          often considered to be non-creative.
        </li>
      </ul>
    </ListArea>
    <p>Examples of copyrighted works include the following (Article 10(1)):</p>
    <ImgCaption id="ref30">
      <figcaption>[Types of copyrighted works (Article 10(1))]</figcaption>
      <table>
        <thead>
          <tr class="col-2">
            <th>Type</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-2">
            <td>Literary works</td>
            <td
              >Lectures, papers, reports, essays, novels, screenplays, poetry, haiku, rakugo, comic storytelling, etc.</td
            >
          </tr>
          <tr class="col-2">
            <td>Musical works</td>
            <td>Songs, lyrics accompanying songs, etc.</td>
          </tr>
          <tr class="col-2">
            <td>Works of choreography and pantomime</td>
            <td>Choreography for Japanese dance, ballet, dance, pantomime, etc.</td>
          </tr>
          <tr class="col-2">
            <td>Works of fine art</td>
            <td
              >Paintings, prints, sculptures, cartoons, calligraphy, stage sets, flower arrangements, etc. (including
              arts and crafts such as tea bowls, pots, swords, etc.).</td
            >
          </tr>
          <tr class="col-2">
            <td>Architectural works</td>
            <td
              >Palaces, triumphal arches, gardens, towers, and other architectural structures (must be appreciable).</td
            >
          </tr>
          <tr class="col-2">
            <td>Maps and diagrammatic works</td>
            <td>Maps, academic drawings, charts, blueprints, three-dimensional models, globes, etc.</td>
          </tr>
          <tr class="col-2">
            <td>Cinematographic works</td>
            <td
              >Recorded moving images such as theatrical movies, animations, videos, YouTube videos, TikTok videos, and
              video portions of game software.</td
            >
          </tr>
          <tr class="col-2">
            <td>Photographic works</td>
            <td>Portraits, landscapes, documentary photography, advertising photography, etc.</td>
          </tr>
          <tr class="col-2">
            <td>Works of computer programming</td>
            <td>Operating systems (OS), application software, programs for consumer electronics, etc.</td>
          </tr>
        </tbody>
      </table>
    </ImgCaption>
    <p id="ref35">In addition to these works, the following works are also available (Articles 11, 12, and 12-2)</p>
    <ImgCaption>
      <figcaption>[Types of works (Articles 11, 12, 12-2)]</figcaption>
      <table>
        <thead>
          <tr class="col-2">
            <th>Type</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-2">
            <td>Derivative works</td>
            <td>Works created by translating, arranging, transforming, or adapting the works in the table above.</td>
          </tr>
          <tr class="col-2">
            <td>Compilation works</td>
            <td>Encyclopedias, dictionaries, newspapers, magazines, poetry books, etc.</td>
          </tr>
          <tr class="col-2">
            <td>Database works</td>
            <td>Encyclopedias, dictionaries, etc. in computer-searchable form.</td>
          </tr>
        </tbody>
      </table>
    </ImgCaption>
    <p>
      A compilation is a copyrighted work if the selection and arrangement of materials are creative. Although a
      compilation as a whole is protected as a copyrighted work, when using individual articles in a dictionary,
      magazine, etc., the permission of the respective copyright owners is required, as each article is also a
      copyrighted work.
    </p>
    <p>
      A database is a copyrighted work if there is creativity in the way the data is selected and the systematic way the
      data is organized for retrieval, even if the individual data collected is not copyrightable.
    </p>
    <SpeechBubbles>
      <Bubble speaker="Daiin" feLevel="5">The data is not a copyrighted work, but the database is.</Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        For example, copyrightability may be recognized when information that cannot be searched in other databases can
        be retrieved, or when you are creative in the selection of keywords for retrieving the same information.
      </Bubble>
    </SpeechBubbles>
    <p>
      Although the following items are copyrighted works, they are created for the purpose of making them known to the
      public and making them widely available, so they can be used without the copyright owner's permission (Article
      13).
    </p>
    <ListArea id="ref10">
      <p>Examples of copyrighted works that can be used without permission:</p>
      <ul>
        <li>Constitution and other laws and regulations.</li>
        <li>Notices, directives, and notices of the national government, local governments, etc.</li>
        <li>Court judgments, decisions, orders, etc.</li>
        <li>Translations and compilations of the above prepared by the national government, local governments, etc.</li>
      </ul>
    </ListArea>
    <Quiz
      title="Now here is a quiz. Are the following items copyrighted works protected by the Copyright Act?"
      list={[
        { item: '(1) Fantasy novel setting.' },
        { item: "(2) A cat drawing on a piece of notepaper, done at the behest of a relative's child." },
        { item: '(3) Names of cartoon characters.' },
        { item: '(4) Graphs in student reports.' },
      ]}
    >
      <QuizContent title="(1) Fantasy novel setting">
        <Bubble speaker="Konaka" feLevel="2">
          Since the novel is copyrighted, is the setting copyrighted as well?
        </Bubble>
        <Bubble speaker="Sumiki" feLevel="4">
          No, an abstract setting alone does not constitute a copyrighted work. For example, recently, there are novels,
          manga, and anime in which the main character is transported to and explores another world. This level of
          setting itself is within the scope of an idea and is not copyrighted, so writing a new novel with this kind of
          setting is not an infringement of copyright.
        </Bubble>
      </QuizContent>
      <QuizContent title="(2) A cat drawing on a piece of notepaper that a relative's child asked me to draw.">
        <Bubble speaker="Daiin" feLevel="4">
          Something like a drawing on a piece of notepaper would probably be thrown away immediately so is not a
          copyrighted work, is it?
        </Bubble>
        <Bubble speaker="Sumiki" feLevel="3">
          No, it does not matter under the Copyright Act when you throw it away, it is a copyrighted work because it was
          a "creative expression" at the time it was drawn<ModalTrigger id="s2_1" />.
        </Bubble>
      </QuizContent>
      <Modal id="s2_1" isEN>
        <p>
          The word "expression" may sound like it has to be fixed on some object, but being fixed is not a requirement
          for a copyrighted work. For cinematographic works, it is a requirement that the copyrighted work be fixed.
        </p>
      </Modal>
      <QuizContent title="(3) Names of cartoon characters">
        <Bubble speaker="Konaka" feLevel="1">This is surely a copyrighted work!</Bubble>
        <Bubble speaker="Sumiki" feLevel="4">
          Nice try. This is not a copyrighted work. Konaka's name is not a copyrighted work either. There are various
          opinions on it, but I think it can be categorized as not being "within the literary, academic, artistic, or
          musical domain" or not having creativity. However, a picture of a character is a copyrighted work<ModalTrigger
            id="s2_2"
          />.
        </Bubble>
      </QuizContent>
      <Modal id="s2_2" isEN>
        <p>
          Concerning a picture of a character, the name can be subject to the integrity right as "the title of the work"
          (Article 20(1)).
        </p>
      </Modal>
      <QuizContent title="(4) Graphs in student reports">
        <Bubble speaker="Daiin" feLevel="3">
          I don't think a graph is a copyrighted work. Mere data isn't a copyrighted work, and if it were just a graph
          of data, it wouldn't be creative.
        </Bubble>
        <Bubble speaker="Sumiki" feLevel="2">
          If the graph looks the same no matter who draws it in Excel or other software, it is not creative and is not
          likely to be a copyrighted work. However, if the graph shows, for example, beer consumption, and uses a
          creative way to express it, such as by using a picture of a beer mug instead of a bar graph, the creativity of
          the graph may be recognized and the work may be copyrighted work.
        </Bubble>
      </QuizContent>
    </Quiz>
  </Section>

  <Section
    number="03"
    title="Who is the author?"
    description={'This section explains "author" under the Copyright Act. It is important to understand that there are not only individual authors but also corporate authors and joint authors.'}
  >
    <h3>Definition of author</h3>
    <p>Article 2(1)(ii) of the Copyright Act defines an author.</p>
    <Point type="simple" title="Article 2(1)(ii)">Author means a person who creates a work.</Point>
    <p>We learned in the previous section what copyrighted works are. The person who creates them is the "author".</p>
    <p>
      It is not only professional creators who are authors. If a kindergarten or elementary school student draws a
      picture, then they are the author of the picture. If they write a letter, the person who wrote it is the author of
      the letter. If you subcontract the creation of a copyrighted work, such as an illustration or a computer program,
      the subcontractor who created the copyrighted work is the author.
    </p>
    <Point>
      The author is the creator of the copyrighted work. It does not matter if such a person is a professional or
      amateur, child or adult!
    </Point>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        The other day I took a picture of a drawing by a relative's kindergarten child and posted it on SNS ...
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        A child can be an author too, even if the child is in kindergarten. However, I do not think that a kindergarten
        child would be able to judge this, so you should obtain <span class="font-bold text-orange-600"
          >permission from the parents</span
        >.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="4">Ugh ... that was a mistake ... I'm sorry ...</Bubble>
    </SpeechBubbles>
    <h4 id="ref25">Authors and copyright owners</h4>
    <p>
      The "author" is the person who created the copyrighted work, and the "copyright owner" is the person who holds the
      copyright. Basically, "author = copyright owner". However, as explained in the next section (Section 04 What is
      Copyright?), copyright as an economic right can be transferred or inherited, so the situation of "author ≠
      copyright owner" happens sometimes. When using copyrighted works, permission should be requested for the
      following:
    </p>
    <ListArea>
      <ul>
        <li>Matters related to moral rights: obtain permission from the author.</li>
        <li>Matters related to copyright (economic rights): obtain permission from the copyright owner.</li>
      </ul>
    </ListArea>
    <p>Moral rights and copyrights (economic rights) are explained in the next section.</p>
    <img src="/assets/images/1-1-3_en.png" alt="" width="1277" height="597" />
    <h4 id="ref20">Corporate works</h4>
    <p>
      If you create a work in the course of duty, the individual who created it may not be the author, but an
      organization such as a company, school, or university may be the author (Article 15). The following requirements
      must be met for a work to be a corporate work:
    </p>
    <ListArea>
      <ol>
        <li>The copyrighted work must be prepared based on the initiative of the corporation, etc.</li>
        <li>Creation by an "employee" of a corporation, etc.</li>
        <li>To be created "in the course of duty".</li>
        <li>
          When "publicizing" the copyrighted work, the copyrighted work must be published under the name of the
          corporation, etc.
        </li>
        <li>
          There is no provision in the "contract, work regulations," or any other document at the time of the creation
          of the copyrighted work that designates the employee as the author.
        </li>
      </ol>
    </ListArea>
    <p>
      For requirement (1), if a copyrighted work is created without specific instructions from the employer but with the
      final approval of the employer, it is considered to be "created at the employer's initiative”. In addition, even
      if an employee comes up with an idea and creates the copyrighted work without the approval of the employer, if the
      copyrighted work is created in the course of duty as far as it is assumed to be based on the job description, it
      is considered to have been "created at the employee's initiative"<ModalTrigger id="05" />.
    </p>
    <Modal id="05" isEN>
      <p>
        The requirement of "the initiative of the corporation, etc." is satisfied if there is an employment relationship
        between the corporation, etc., and the employee, and the employee is performing the prescribed duty under the
        business plan of the corporation, etc. or a contract concluded by the corporation, etc. with a third party, etc.
        even without specific instructions or consent from the corporation, etc. as long as the creation of the work is
        scheduled or expected in the performance of the duty of the employee (Intellectual Property High Court, August
        4, 2010, HANREI TIMES No. 1344, p. 226 [Kitami Institute of Technology Case]).
      </p>
    </Modal>
    <p>
      For requirement (2), it is generally someone who has an employment relationship. This could be an employee of a
      company or a staff member of a university. Temporary staff may fall under requirement (2) since they are not
      directly employed by the company but work under specific instructions at the client company, etc.
    </p>
    <p>
      For requirement (3), it does not apply if the work was not created in the course of duty. For example, if an art
      teacher paints pictures as a hobby on their days off, they are the author of the copyrighted work, not the
      employer.
    </p>
    <p>
      The requirement (4) does not apply to lectures by university professors, which are published under the name of the
      individual professor.
    </p>
    <p>
      For requirement (5), if there is a contract or work regulation that stipulates that the employee or staff member
      is the author of the copyrighted work they created or that the copyright belongs to the employee or staff member,
      the copyrighted work is not a corporate work and the creator is the author.
    </p>
    <p>
      In the case of corporate work, a corporation, etc. becomes the "author" and "copyright owner" (Articles 15 and
      17(1)).
    </p>
    <SpeechBubbles>
      <Bubble speaker="Daiin" feLevel="5">
        Are the slides I made for a class at the university considered corporate work?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        If the copyrighted work is prepared for an individual class, it will be published in the name of the professor,
        not in the name of the university when it is published. Since under requirement (4), the copyrighted work must
        be published under the name of a corporation, etc. when it is "published" does not apply, the author must be Dr.
        Daiin.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="1">That's a relief.</Bubble>
    </SpeechBubbles>
    <h4 id="ref9">When more than one person is the author (co-authors)</h4>
    <p>
      There are times when more than one person may create a copyrighted work<ModalTrigger id="07" />. For example,
      several people may create a single painting on a canvas. Such a work is called a "joint work" (Article 2(1)(xii)).
      The copyright in a joint work is shared by all co-authors.
    </p>
    <Modal id="07" isEN>
      <p>
        Article 2(1)(xii) defines a joint work as "a work created by two or more persons whose contributions to the work
        cannot be separated so as to allow each part of the work to be used independently".
      </p>
    </Modal>
    <p>
      Other examples include when a copyright is assigned, or when the original copyright owner dies and the copyright
      is inherited by two of the owner's children.
    </p>
    <p>
      Under joint copyright, a co-owner cannot exercise their rights without the agreement of all the co-owners (Article
      65(2)).
    </p>
    <p>
      The "agreement" in Article 65(2) is that the other joint owners cannot object unless they have "justifiable
      grounds" to do so.
    </p>
    <p>
      Tokyo District Court, September 28, 2000 (1999 (wa) 7209) [Economics Book Case] is one example of a case in which
      the other co-author was found to have "justifiable grounds" to prevent an agreement. In this case, a co-author of
      an economics book jointly written by researchers requested an agreement for a reprint of the book and publication
      of a Korean translation, but the other co-author B, refused. The court found that there were "justifiable grounds"
      because the book had become obsolete several years after it was written, B's contribution to the book was
      considerably greater than A's, and it could not be said that A would be threatened financially or that his
      scholarly achievements would be diminished if he was not allowed to reprint or translate the book.
    </p>
  </Section>

  <Section
    number="04"
    title="What is Copyright?"
    description={'This section explains "copyright" under the Copyright Act including moral rights and copyright (economic rights), as well as neighboring rights. It also explains the terms protection, licensing, and limitation of rights.'}
  >
    <h3>Copyright is "the right not to do specific acts without permission”</h3>
    <SpeechBubbles>
      <Bubble speaker="Sumiki" feLevel="2">
        In simple terms, copyright is the right not to have one's copyrighted work "do specific acts without
        permission".
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">
        Such as, it can't be copied without permission, or remade without permission.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Japan has a 'non-formality' system, which means that a copyright is automatically granted the moment a work is
        created. Simply put, there is no need to register or go through any other procedures to obtain a copyright.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">Even pictures drawn by elementary school children?</Bubble>
      <Bubble speaker="Daiin" feLevel="2">And reports written by students?</Bubble>
      <Bubble speaker="Sumiki" feLevel="1">Yes.</Bubble>
    </SpeechBubbles>
    <Point>When a copyrighted work is created, a copyright is automatically granted (Article 17(2)).</Point>
    <p>
      In a broad sense, there are two types of copyrights: "moral rights," which protect the author's commitment to the
      copyrighted work, and "copyright (economic rights)", which protect the economic value. The following is an
      explanation of what rights are associated with each.
    </p>

    <h3 id="ref28">Moral rights</h3>
    <p>
      Moral rights cannot be assigned to others and cannot be inherited (Article 59, proviso of Civil Code Article 896).
      Therefore, even if a copyright is assigned, the moral rights remain with the author.
    </p>
    <p>
      Moral rights cease to exist when the author dies. However, the Copyright Act states that even after the author's
      death, a person who provides or presents a copyrighted work to the public must not commit any act that infringes
      the moral rights of the author (Article 60).
    </p>
    <p>Let us explain what moral rights are.</p>

    <h4 id="ref16">Publication Right (Article 18)</h4>
    <p>
      The publication right is, as the name implies, the right to decide how the author of an unpublished copyrighted
      work will make it public. The author of a derivative work may not publish the derivative work without the consent
      of the author of the original work.
    </p>
    <ListArea>
      <ul>
        <li>Whether to make it public or not.</li>
        <li>When will it be made public?</li>
        <li>
          In what form of publication (publication as a book, broadcast, screening, exhibition, public transmission,
          etc.)?
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        Do I need the student's consent to submit their painting to a city competition?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Of course, you must obtain the student's consent. If the student only submitted the painting to the teacher as
        homework, it does not meet the definition of "published".<br />Since you are publishing it to third parties, you
        need the author's consent.<br />There is also the issue of exhibition rights, as such art competitions usually
        involve exhibiting the paintings somewhere.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="4">I see, I will be careful.</Bubble>
    </SpeechBubbles>

    <h4 id="ref19">Attribution Right (Article 19)</h4>
    <p>
      The attribution right, as the name implies, is the right to determine the name to be displayed as the author when
      the copyrighted work is offered or presented to the public.
    </p>
    <ListArea>
      <ul>
        <li>Whether to display a name or not.</li>
        <li>If displayed, whether it is your real name or an alias (pen name, artist's name, etc.).</li>
      </ul>
    </ListArea>
    <p>
      In the case of derivative works, both the author of the original work (the second sentence of Article 19(1)) and
      the author of the derivative work have the attribution right. There are certain limitations on the attribution
      right and the following cases do not constitute infringement:
    </p>
    <ListArea>
      <ul>
        <li>
          When using a copyrighted work, the user may indicate the name already indicated in the copyrighted work. If
          the author's special intention requires a different name to be indicated, the user must follow the intention
          (Article 19(2)).
        </li>
        <li>
          If it is difficult to indicate the name and there is no risk of harm to the interest of the author in claiming
          to be the author, the name need not be indicated as long as it does not violate fair practice (Article 19(3)).
        </li>
      </ul>
    </ListArea>
    <p>
      For example, when background music is played in a hotel lobby, there is no need to announce who the composer is,
      every single time.
    </p>

    <h4 id="ref33">Integrity Right (Article 20)</h4>
    <SpeechBubbles>
      <Bubble speaker="Sumiki" feLevel="2">
        The integrity right is the right not to have the content or the title of the author's copyrighted work "altered
        (modified, mutilated, etc.)" against the author's intention without permission.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">
        Can you crop a photo and use it, or change the text etc ... ?<ModalTrigger id="s4_1" />
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Yes. Please note that changing "," to ";" deleting a line break, and changing paragraph breaks or changing the
        wording for consistency may also infringe the integrity right<ModalTrigger id="s4_2" />.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="5">
        Well, if something like that is wrong, it should be fixed. It's common for student theses to have
        inconsistencies in terminology.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        It is only with the author's consent that you can correct such inconsistencies. In other words, if the author
        corrects the inconsistencies, they may be more careful about it in the future. Then there is no infringement.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">That's right.</Bubble>
    </SpeechBubbles>
    <Modal id="s4_1" isEN>
      <p>Tokyo District Court, March 26, 1999, HANREI JIHO No. 1694, p. 142 [Dolphin Blue Case].</p>
    </Modal>
    <Modal id="s4_2" isEN>
      <p>Tokyo High Court, December 19, 1991, HANREI JIHO No. 1422, p. 123 [Hosei University Prize Essay Case].</p>
    </Modal>
    <p>However, alterations are permitted in the following cases (Article 20(2)):</p>
    <ListArea>
      <ol>
        <li>
          If the use of a work is permitted by application of the following provisions: publication in textbooks
          (Article 33(1) and (4)), publication in substitute materials for textbooks (Article 33-2(1)), reproduction for
          the preparation of expanded textbooks (Article 33-3(1)), and broadcasting of school educational programs
          (Article 34(1)), the use of a work is unavoidable for school education (Article 33-2(1)).
        </li>
        <li>Alteration due to extension, reconstruction, repair, or redecoration of buildings.</li>
        <li>Program version upgrades and other modifications.</li>
        <li>
          Other modifications that are deemed unavoidable in light of the nature of the work and the purpose and manner
          of its use.
        </li>
      </ol>
    </ListArea>
    <p>
      An example of (1) is converting difficult Kanji into Hiragana so that they are easier to read for younger
      students.
    </p>
    <p>
      Regarding (4), due to the performance of the printing press, it may not be possible to reproduce the exact colors
      in the same way as the original, or when a singer may not be able to sing the original melody as it was sung
      because of the abilities of the singer.
    </p>
    <p>
      It is difficult to determine the specific extent to which a work is "unavoidable. " If you are not sure, you
      should check with the author.
    </p>
    <Point id="ref33-1">
      There are three moral rights: (a) the publication right, (b) the attribution right, and (c) the integrity right!<ModalTrigger
        id="s4_4"
      />
    </Point>
    <Modal id="s4_4" isEN>
      <p>
        "The exploitation of a work in a way that is prejudicial to the honor or reputation of the author" is deemed an
        infringement of the author's moral rights (Article 113(11)). Although not strictly defined as a right, this
        provision is sometimes called the "honor and reputation right" as a fourth right.
      </p>
    </Modal>

    <h3 id="ref4">Copyrights (Economic rights)</h3>
    <p>
      Copyrights as economic rights include the following<ModalTrigger id="s4_5" />:
    </p>
    <Modal id="s4_5" isEN>
      <p>
        Since it is difficult for a copyright owner to trace a user's act of perceiving or enjoyment of a work, such as
        by viewing, listening to, or reading a work, these are not subject to copyright (see Kaoru Okamoto, <span
          class="italic">The Concept of Copyright</span
        >, Iwanami Shinsho, 2003, p. 160).
      </p>
    </Modal>
    <ListArea>
      <ul>
        <li>Reproduction Right (Article 21).</li>
        <li>Stage Performance Right and Musical Performance Right (Article 22).</li>
        <li>On-Screen Presentation Right (Article 22-2).</li>
        <li>Public Transmission Right, Right of Making Transmittable, and Public Communication Right (Article 23).</li>
        <li>Recitation Right (Article 24).</li>
        <li>Exhibition Right (Article 25).</li>
        <li>Distribution Right (Article 26).</li>
        <li>Transfer Right (Article 26-2).</li>
        <li>Rent Out Right (Article 26-3).</li>
        <li>Translation and Adaptation Rights etc. (Article 27).</li>
        <li>Rights of the Original Author in Connection with the Exploitation of Derivative Works (Article 28).</li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">There are a lot of different rights.</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Yes. Some people may find it a little difficult. Copyright is sometimes called a "bundle of rights"<ModalTrigger
          id="s4_6"
        />. First of all, it is good to understand that there are two major rights.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="1">Only two!</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        There are two fundamental rights. <span class="font-bold text-orange-600"
          >The first is (1) the right to copy copyrighted works. The other is (2) the right to communicate the
          copyrighted work to the public.</span
        >
      </Bubble>
      <Bubble speaker="Daiin" feLevel="3">Hmmm. Maybe I can remember that.</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        (1) The "right to copy" is like a prerequisite for (2) the "right to communicate the copyrighted work to the
        public", because the more copies that are created, the more opportunities for communicating to the public.<br
        />For (2), "the right to communicate to the public," the number of rights has increased as the means of
        communicating publicly have become more diverse due to technological advances.<br />We can communicate to the
        people in front of us via "stage performances," "musical performances," "recitations," and "exhibitions." As
        technology advances and copyrighted works can be fixed in some form, they can be conveyed to people far away.
        These include "transfer," "rent out," and "distribution." Furthermore, "public transmission" and "making
        transmittable" are used to convey copyrighted works to people far away, even if they are not in a tangible form.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">How should we understand an adaptation?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Adaptation is the addition of new creative elements to a preexisting work. So, please understand that it is a
        sort of (1) the "right to copy".
      </Bubble>
    </SpeechBubbles>
    <Modal id="s4_6" isEN>
      <p>
        Taku Inoue, <span class="italic">Latest Copyright Introduction by SNS</span>, Seibundo-Shinkosha, 2022, p. 53,
        explains that there are many copyright rights by comparing them to grapes.
      </p>
    </Modal>
    <img src="/assets/images/1-4-1_en.png" alt="" width="1277" height="597" />
    <p id="ref13">
      As explained in Section 04 "What is Copyright?", a reproduction right is "the right not to be reproduced without
      permission". Copyright as an economic right can be transferred or inherited (Article 61(1)).
    </p>
    <p>
      For example, Masamoto Nasu, author of the <span class="italic">Zukkoke Sannin-Gumi (The funny trio)</span> series,
      reportedly transferred (bequeathed) the copyrights of all his works to a literary organization in his will<ModalTrigger
        id="s4_7"
      />.
    </p>
    <Modal id="s4_7" isEN>
      <p>
        Donation of all copyrights, "Zukkoke Sannin Gumi", Masamoto Nasu's Wish for Children's Literature, Mainichi
        Shimbun, October 5, 2022,<a
          href="https://mainichi.jp/articles/20221004/k00/00m/040/188000c"
          target="_blank"
          class="block"
        >
          https://mainichi.jp/articles/20221004/k00/00m/040/188000c
        </a>
      </p>
    </Modal>
    <p>
      "Adaptation" is a term unique to the Copyright Act, but it means the act of creating a derivative work by adapting
      it or making it into a film<ModalTrigger id="s4_8" />.
    </p>
    <Modal id="s4_8" isEN>
      <p>
        The act of creating a derivative work, including translation, arrangement, or transformation for the sake of
        convenience, is sometimes called an "adaptation".
      </p>
    </Modal>
    <p>
      The terms "public transmission right" and "right to make transmittable" may also be unfamiliar to you. The public
      transmission right is the right to transmit a copyrighted work to the public (to an unspecified or specified
      number of persons). For example, among public transmissions, automatic public transmission means putting the
      copyrighted work on a website for a large number of people to view, or posting the copyrighted work on a social
      networking service for a large number of people to see. Making transmittable means uploading a copyrighted work to
      a server, etc. to make it available for automatic public transmission, regardless of whether it has been
      transmitted or not<ModalTrigger id="s4_9" />.
    </p>
    <Modal id="s4_9" isEN>
      <p>Article 23(1) brackets.</p>
    </Modal>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        What makes "public communication" different from "public transmission"?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        To use a simple example, a broadcaster broadcasting a TV program is a "public transmission," and a TV program
        shown on a TV set up in a cafeteria or other location for customers to watch is a "public communication".
      </Bubble>
      <Bubble speaker="Konaka" feLevel="1">
        I see, so you are saying that it is a device that can receive and watch something that has already been publicly
        transmitted.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="3">
        By the way, the use of an ordinary household receiver to broadcast a copyrighted work does not constitute an
        infringement of the public communication right, even if it is for profit or a fee<ModalTrigger id="s4_10" />.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="1">I haven't made any public communications.</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        No, there is a possibility that Dr. Daiin may do this. For example, if you show a website in class and show
        actions such as "click here to view this", this is a public communication.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">
        I didn't know that! I didn't know that such an act was subject to copyright too.
      </Bubble>
    </SpeechBubbles>
    <Modal id="s4_10" isEN>
      <p>The second sentence of Article 38(3).</p>
    </Modal>
    <Point>Copyright is the right not to do specific acts without permission.</Point>

    <h3 id="ref32">Neighboring rights</h3>
    <p>
      Neighboring rights are granted to those who "convey" copyrighted works (Article 89). Like copyrights, these rights
      are automatically granted upon performance, sound fixation, broadcasting, or wire broadcasting, and do not require
      any registration (Articles 89(5) and 101(1)).
    </p>
    <Point>Neighboring rights protect those who play an important role in the conveyance of copyrighted works.</Point>
    <p>The following are the owners of neighboring rights.</p>
    <p>
      Please see the texts of CRIC and other sources to find out what rights you have for each of them<ModalTrigger
        id="c4_11"
      />.
    </p>
    <Modal id="c4_11" isEN>
      <p>
        IV. Author's rights and neighboring rights under the Japanese copyright law, Copyright System in Japan, CRIC:<a
          href="https://www.cric.or.jp/english/csj/csj4.html"
          target="_blank"
          class="block"
        >
          https://www.cric.or.jp/english/csj/csj4.html
        </a>
      </p>
    </Modal>
    <ListArea>
      <ul>
        <li>Performers: singers, actors, dancers, etc. who perform copyrighted works, etc.</li>
        <li>Record producer: a person who first fixed (recorded) the sound (e.g., a record company).</li>
        <li>
          Broadcaster: a person who engages in broadcasting as a business (TV broadcaster, radio broadcaster, etc.).
        </li>
        <li>
          Cable broadcasting operator: a person who engages in cable broadcasting as a business (cable TV, cable music
          broadcasting station, etc.).
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        Perhaps elementary school students imitating their idols and dancing are performers?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="3">
        Yes. Permission is required if the dance is to be recorded or published on a website.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">
        Does the record producer's "fixing the sound" apply to me recording my dog's barking on my phone?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="1">
        Applicable. This fixed "sound" does not have to be a copyrighted work.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="1">I'm a record producer too!</Bubble>
    </SpeechBubbles>
    <img src="/assets/images/1-4-2.png" alt="" width="1592" height="819" />

    <h3 id="ref23">Protection Term</h3>
    <p>A copyright does not last forever but has a fixed protection term.</p>
    <ListArea>
      <p>Copyright</p>
      <ul>
        <li>70 years after the author's death from the time of the creation of the copyrighted work (Article 51).</li>
        <li>
          For copyrighted works under an unknown name, an unusual name, or a collective name, and cinematographic works,
          70 years from the time of publication of the copyrighted work (Articles 52(1), 53(1), 54(1)).
        </li>
      </ul>

      <p>Neighboring rights</p>
      <ul>
        <li>Performances are 70 years from the time of performance (Articles 101(1)(i) and 101(2)(i)).</li>
        <li>
          A record is from the time the sound is fixed (recorded) to 70 years after publication (Article 101(2)(ii)).
        </li>
        <li>
          Broadcasting and cable broadcasting is 50 years from the time of broadcast (Article 101(2)(iii) and (iv)).
        </li>
      </ul>
    </ListArea>
    <Point tag="column" title="Wartime extensions">
      As for the copyright protection term, the rules add the protection term for copyrights that were not protected
      during World War II, and for which the Allied nations and Allied nationals had copyrighted in Japan on December 7,
      1941 (the day before the war began), and for which copyrights were acquired from December 8, 1941 (the day Japan
      entered the war) to the day before the date the peace treaty came into effect for the Allied nations concerned
      (e.g., April 27, 1952, for the United States). For example, in the case of the United States, the copyright was
      acquired on April 27, 1952).
    </Point>
    <SpeechBubbles>
      <Bubble speaker="Daiin" feLevel="1">
        Oh, I know this one ... the protection term used to be 50 years and now with the <ModalTrigger
          id="s4_13"
          word="TPP（Trans-Pacific Partnership Agreement）"
        >
          TPP
        </ModalTrigger> it's 70!
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">That's right ...</Bubble>
      <Bubble speaker="Konaka" feLevel="2">
        My grandfather passed away about 10 years ago, so if there are any copyrighted works by him, they will be
        protected for another 60 years<ModalTrigger id="s4_14" />. I wonder if I'll still be alive ...
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        Well, after 70 years, the grandchildren may not be alive, and more often than not, you may not know who the
        copyright owner is.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">What if I want to get permission but can't find the copyright owner?</Bubble>
      <Bubble speaker="Sumiki" feLevel="3">
        There is a system that can be used legally instead of having to pay compensation, based on a ruling from the
        Commissioner of Cultural Affairs.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="4">Wait, the Commissioner of Cultural Affairs ...</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Of course, there is a procedure, so we're not going to go directly to the Commissioner. I will explain this in
        detail in Chapter 4.
      </Bubble>
    </SpeechBubbles>
    <Modal id="s4_13" word="TPP (Trans-Pacific Partnership Agreement)" isEN>
      <p>
        Abbreviation for the Trans-Pacific Partnership Agreement, an economic partnership agreement signed on February
        4, 2016.
      </p>
    </Modal>
    <Modal id="s4_14" isEN>
      <p>
        There is a caveat to Dr. Konaka's grandfather's story. <br />The end of the protection term is counted from
        January 1 of the year following the year of the author's death, not from the date of the author's death (Article
        57). Therefore, if the grandfather died on May 1, 2012, the protection term is counted from January 1, 2013,
        which means that the protection term will expire 70 years later, on December 31, 2082.
      </p>
    </Modal>
    <Point>
      The protection term is basically from the time of the creation of the copyrighted work to 70 years after the
      author's death.
    </Point>

    <h3 id="ref26">Public Domain</h3>
    <p>
      Public domain means public ownership. It can be freely used by anyone without the permission of the copyright
      owner<ModalTrigger id="s4_15" />. The following fall under this category.
    </p>
    <Modal id="s4_15" isEN>
      <p>
        To be precise, once in the public domain, anyone is free to perform acts that were the subject of copyright as
        long as they do not infringe on the moral interests of the author (Supreme Court, January 20, 1984, HANREI JIHO
        No. 1107, p. 127 [Ganshinkei Case]).
      </p>
      <p>
        The protection term for moral rights after death is not limited and theoretically lasts forever. Therefore,
        copyrighted works that have entered the public domain 70 years after the author's death are also theoretically
        protected.
      </p>
      <p>
        However, claims regarding moral rights after the author's death can only be made by the deceased author's
        "spouse, children, parents, grandchildren, grandparents, or siblings", in other words, up to the second degree
        of kinship (Article 116(1)). Therefore, if these persons die, there will be no claimant, meaning the end of the
        protection term for moral rights after the author's death.
        <br />See Nobuhiro Nakayama, <span class="italic">Copyright Law</span>, 3rd ed., Yuhikaku, 2020, p. 652.
      </p>
    </Modal>
    <ListArea>
      <ul>
        <li>Copyrighted works whose protection term has expired.</li>
        <li>Copyrighted works for which the copyright owner has waived their rights.</li>
        <li>The copyright owner is dead and there are no heirs (Article 62(1)(i)).</li>
      </ul>
    </ListArea>
    <p>
      A derivative work based on a public domain work is copyrighted from the time the derivative work is created. Note
      that even the derivative work is not in the public domain.
    </p>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="1">It's copyright "free".</Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        The term "copyright free" is a bit of a dangerous term. Many people understand that "copyright free = no
        copyright", but this is not the case.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">No?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Even if it says "copyright free", the rights may not be waived. In that case, it is not in the public domain.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="3">
        Is it okay to use anything publicly available on the Internet without permission?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        No, no.<br />First, let's check the license requirements.
      </Bubble>
    </SpeechBubbles>

    <h3 id="ref38">License</h3>
    <p>
      A license is permission given by the author or copyright owner to the user, saying, "You may use it in this way".
      It may be granted individually upon request from the user, or it may be presented in advance by the rights owner.
    </p>
    <p>
      When using the copyrighted works of others, be sure to check the terms of use, license, or license agreement to
      see if there is a license, and if so, what it entails.
    </p>

    <h4 id="ref39">Check the Terms of Use</h4>
    <p>One of the illustrations we have seen recently in various places is by "Irasutoya".</p>
    <p>If you go to the website of "Irasutoya", you will find the "Terms of Use" page<ModalTrigger id="c4_16" />.</p>
    <Modal id="c4_16" isEN>
      <p>
        Irasutoya,<br />Terms of Use:<a href="https://www.irasutoya.com/p/terms.html" target="_blank" class="block">
          https://www.irasutoya.com/p/terms.html
        </a>
      </p>
      <p class="mt-3">
        Frequently Asked Questions:<a href="https://www.irasutoya.com/p/faq.html" target="_blank" class="block">
          https://www.irasutoya.com/p/faq.html
        </a>
      </p>
    </Modal>
    <Point type="simple">
      The materials distributed on this site may be used free of charge by individuals or corporations, commercial or
      non-commercial, as long as they are within the scope of the terms of use.
    </Point>
    <p>
      Do not think, 'Oh well, I get to use it for free!'. You should not be reassured that you can use the service for
      free. You need to make sure that you are within the terms of use. Please read the FAQs carefully for detailed
      instructions on how to use the site.
    </p>
    <p>
      Particular attention should be paid to the fact that it states that a fee will be charged for the use of 21 or
      more illustrations in a single production for commercial use.
    </p>
    <p>
      Sites that provide such illustration materials and photo materials often have terms and conditions of use written
      in them such as "About Use," "Terms of Use," and "License," so be sure to check them carefully before using them.
    </p>
    <p>
      Google Maps, which you may be familiar with, also requires credit<ModalTrigger id="c4_17" />. Please be aware that
      removing the credit already displayed may constitute a breach of contract or an infringement of rights.
    </p>
    <Modal id="c4_17" isEN>
      <p>
        Google Maps, General guidelines:<a
          href="https://about.google/brand-resource-center/products-and-services/geo-guidelines/"
          target="_blank"
          class="block"
        >
          https://about.google/brand-resource-center/products-and-services/geo-guidelines/
        </a>
      </p>
    </Modal>

    <h4 id="ref11">Creative Commons License</h4>
    <p>
      One of the most famous licenses is the Creative Commons License, but because the name is long, it is sometimes
      abbreviated to "CC". CC is used around the world as a tool for authors who publish their works to express their
      willingness to say, "You are free to use my work as long as you abide by these terms of use".
    </p>
    <p>This material is also published under "CC BY 4.0" (this symbol is marked in the footer).</p>
    <ImgCaption>
      <figcaption>[Creative Commons (CC BY 4.0)]</figcaption>
      <div class="max-w-xs border border-stone-500 p-4 md:p-8">
        <img
          src="/assets/images/cc.svg"
          alt="This Creative Commons license mark has the highest degree of freedom, with the main condition being that the original author's credit (name, title, etc.) is displayed, and not only modification but also secondary use for commercial purposes is permitted."
          width="69"
          height="24"
          class="mx-auto w-56"
        />
      </div>
    </ImgCaption>
    <p>
      This is called "attribution," and as long as "the credit of the original author (name, title of the work, etc.) is
      indicated", modification and commercial use are allowed.
    </p>
    <p>
      Please note that sometimes there are people who mistakenly think that because it has CC indicated, they are free
      to use it, but credit is required even for BY.
    </p>
    <p>
      In CC, BY must be added. Other conditions can be combined with the indications as shown in the [Creative Commons
      example] below to provide the conditions desired by the author.
    </p>
    <ImgCaption>
      <figcaption>[Creative Commons example]</figcaption>
      <table>
        <thead>
          <tr class="col-3">
            <th>Display</th>
            <th>Meaning</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-3">
            <td>SA</td>
            <td>Share Alike</td>
            <td>If you modify the work, you must distribute it under the same CC license as the original.</td>
          </tr>
          <tr class="col-3">
            <td>ND</td>
            <td>No Derivatives</td>
            <td>No derivative work is permitted.</td>
          </tr>
          <tr class="col-3">
            <td>NC</td>
            <td>Non-Commercial</td>
            <td>Must be non-commercial.</td>
          </tr>
        </tbody>
      </table>
    </ImgCaption>
    <p>
      For example, CC-BY-ND-NC means that you can use it as long as it is "credited, no derivative work is allowed,
      non-commercial". There are a total of six types.
    </p>
    <p>
      There is also CC0, which indicates a waiver of rights. Works marked with CC0 are free to use<ModalTrigger
        id="c4_18"
      />.
    </p>
    <Modal id="c4_18" isEN>
      <p>
        About CC0 - "No Copyright":<a
          href="https://creativecommons.org/publicdomain/zero/1.0/"
          target="_blank"
          class="block"
        >
          https://creativecommons.org/publicdomain/zero/1.0/
        </a>
      </p>
    </Modal>
    <p>
      For more information, please visit the Creative Commons website<ModalTrigger id="c4_19" /><ModalTrigger
        id="c4_20"
      />.
    </p>
    <Modal id="c4_19" isEN>
      <p>
        Creative Commons:<a href="https://creativecommons.org/" target="_blank" class="block">
          https://creativecommons.org/
        </a>
      </p>
    </Modal>
    <Modal id="c4_20" isEN>
      <p>
        In the Tokyo District Court, October 12, 2021 (2021 (wa) 5285) [Photo on Flickr Case], the court ruled that the
        defendant's use of a photo by the plaintiff (photographer) posted on Flickr under a Creative Commons License
        (BY-SA) on his website without giving credit to the author constituted an infringement of the public
        transmission right and the attribution right.
      </p>
    </Modal>
    <Point>Be sure to check the license!</Point>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        Even if you don't use CC, there are quite a few sites that require "credit" in their terms of use.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        In that case, you must use the copyrighted work by properly indicating the name of the work and the name of the
        author.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="5">
        Even if there are no terms of use or anything, if it's on the Internet, you're allowed to use it, right?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        No. If nothing is written, it basically means that permission is required for use. Just because it is published
        on the Internet does not mean that you are free to use it.
      </Bubble>
    </SpeechBubbles>
    <img src="/assets/images/1-4-3.png" alt="" width="1715" height="847" />

    <h3 id="ref12">Limitation of rights</h3>
    <p>
      As explained in Section 01 "What is the Copyright Act?", the Copyright Act aims to develop culture by considering
      not only the protection of authors' rights but also the "fair exploitation" of copyrighted works.
    </p>
    <p>
      To promote "fair exploitation", the Copyright Act stipulates situations in which copyrighted works may be used
      without the permission of the copyright owner, and these are called "limitations of rights"<ModalTrigger
        id="c4_21"
      />. These provisions limit the rights of copyright owners and define the scope of fair exploitation.
    </p>
    <Modal id="c4_21" isEN>
      <p>
        Note that the limitation of rights shall not be construed as affecting moral rights (Article 50), so
        consideration must be given to moral rights.
      </p>
    </Modal>
    <p>
      There are many limitations of rights, but the following are a few that may be relevant to you, the reader of this
      material. If any of these apply to you, you may use the material without the permission of the copyright owner.
    </p>
    <ListArea id="ref18">
      <p>Reproduction for private use (Article 30)</p>
      <ul>
        <li>
          It is OK to make your copies only for your use or for use within your home or another similarly limited area.
        </li>
        <li>
          The voyeurism of movies in theaters and other places is not allowed, even if you are the only one watching the
          movie (Article 4(1) of the Law for the Prevention of Voyeurism of Films).
        </li>
        <li>
          Downloading illegally uploaded copyrighted material knowing that the material is an infringement of copyright
          is also not allowed (Article 30(1)(iii)).
        </li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="1">
        Downloading a favorite image from a website and using it as wallpaper for your phone is a reproduction for
        private use, right?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        That is correct. But uploading the image to a social networking site is an infringement of the public
        transmission right since Article 30 only allows reproduction.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">
        What about handing out copies of newspaper articles at staff meetings?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="3">
        Such a meeting is for business purposes, so it is not private. It is not a reproduction for private use<ModalTrigger
          id="s4_21"
        />.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">What if it was a neighborhood association?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        It is also hard to describe such gatherings as "within the family" or "within a similar limited range", so it
        does not apply to this group<ModalTrigger id="s4_22" />.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">Well, there was a book scan service case or something like that ...</Bubble>
      <Bubble speaker="Sumiki" feLevel="3">
        In that case, a person who wanted to digitize a purchased paper book hired a service provider to scan it, but
        the person who wanted to use the copy had to make the copy themselves to be covered by Article 30<ModalTrigger
          id="s4_23"
        />.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">Private reproduction does not mean you can reproduce too widely ...</Bubble>
      <Modal id="s4_21" isEN>
        <p>Tokyo District Court, July 22, 1977, Mutaireishu 9, 2, 534.</p>
      </Modal>
      <Modal id="s4_22" isEN>
        <p>
          Tokyo District Court, November 8, 2022 (2022 (wa) 2229) held that "for the scope of use of a work to be
          considered 'within the limited scope of other similar uses', it is necessary to have at least a close and
          closed relationship to the extent that it is equivalent to a family".
        </p>
      </Modal>
      <Modal id="s4_23" isEN>
        <p>
          Intellectual Property High Court, October 22, 2014, HANREI JIHO No. 2246, p. 92 [Book Scan Service Provider
          Case].
        </p>
      </Modal>
    </SpeechBubbles>
    <ListArea id="ref37">
      <p>Use of Incidental Works (Article 30-2)</p>
      <ul>
        <li>
          It is OK for a copyrighted work to appear as a minor part of an accompanying photograph or video when it is
          taken.
        </li>
        <li>Public transmission of incidentally captured photos and videos is OK within a legitimate scope.</li>
        <li>But not if it unreasonably prejudices the interests of the copyright owner.</li>
      </ul>
    </ListArea>
    <ListArea id="ref34">
      <p>Reproduction in libraries, etc. (Article 31)</p>
      <ul>
        <li>
          Libraries may reproduce works of library materials as a not-for-profit enterprise in the following cases:
          <ul>
            <li>
              When one copy of a part of a published work<ModalTrigger id="c4_23" /> is provided per person upon request
              of the user.
            </li>
            <li>When necessary for the preservation of library materials.</li>
            <li>When providing copies of out-of-print materials at the request of other libraries, etc.</li>
          </ul>
        </li>
      </ul>
    </ListArea>
    <Modal id="c4_23" isEN>
      <p>
        As a general rule, "a portion" is understood to mean "up to half" of a work. For the operation of the National
        Diet Library, please visit <span class="italic">Information about Copyright</span> of the National Diet Library.
      </p>
      <p class="mt-3">
        Information about Copyright:<a
          href="https://www.ndl.go.jp/en/copy/copyright/index.html"
          target="_blank"
          class="block"
        >
          https://www.ndl.go.jp/en/copy/copyright/index.html
        </a>
      </p>
      <p class="mt-3">
        In addition, under the 2021 amendment to the Copyright Act, the provision of copies of materials for publicity
        by the state, etc., and other works specified by Cabinet Order as having special circumstances in which the
        provision of copies of the entire work is deemed not to unreasonably prejudice the interests of the copyright
        owner is covered in its entirety (Article 31(1)(i), bracketed).
      </p>
    </Modal>
    <ListArea id="ref8">
      <p>Publication in textbooks, etc. (Article 33)</p>
      <ul>
        <li>May be published in textbooks to the extent necessary for school education.</li>
        <li>
          Translation, arrangement, transformation, and adaptation OK for inclusion in textbooks<ModalTrigger
            id="c4_24"
          />.
        </li>
        <li>Requires notification and compensation to copyright owners.</li>
      </ul>
    </ListArea>
    <Modal id="c4_24" isEN>
      <p>
        Changes in type or terminology or other alterations that are unavoidable for school education (Article 20
        (2)(i)) do not constitute an infringement of the integrity right.
      </p>
    </Modal>
    <ListArea id="ref17">
      <p>Reproduction, etc. as examination questions (Article 36)</p>
      <ul>
        <li>
          Reproduction and public transmission (excluding broadcasting and cable broadcasting) of works that have
          already been published as examination or examination questions to the extent necessary for the examination<ModalTrigger
            id="c4_26"
          /><ModalTrigger id="c4_25" />.
        </li>
        <li>OK for examinations done in an online format.</li>
        <li>However, if it would unreasonably prejudice the interests of the copyright owner, it is not acceptable.</li>
        <li>
          Compensation must be paid when used for commercial purposes such as paid examinations, employment
          examinations, etc.
        </li>
        <li>
          When publishing past exam questions on the web or distributing them at open campuses, permission from the
          copyright owner is required since Article 36 is not applicable.
        </li>
      </ul>
    </ListArea>
    <Modal id="c4_26" isEN>
      <p>
        This provision was established because it is not appropriate to obtain permission from the copyright owner in
        advance due to the nature of examinations.
      </p>
    </Modal>
    <Modal id="c4_25" isEN>
      <p>
        Although modification of questions that are necessary due to the nature of the question (e.g.,
        fill-in-the-blanks questions) raises issues concerning the integrity right, modification is permissible to the
        extent necessary as an unavoidable modification (Article 20(2)(iv)) (see Tatsuhiro Ueno, <span class="italic"
          >Copyright Guide for Educators and Researchers</span
        >, Yuhikaku, 2021, p. 148, and see also Nobuhiro Nakayama, <span class="italic">Copyright Law</span>, 3rd ed.,
        Yuhikaku, 2020, p. 421).
      </p>
    </Modal>
    <ListArea id="ref3">
      <p>Performances, etc. not for profit (Article 38)</p>
      <ul>
        <li>
          Public stage performances, musical performances, on-screen presentations, or recitations of a published work
          are OK if they are not for profit, if no fee is charged by the audience, and if no compensation is paid to the
          performers.
        </li>
        <li>
          It is OK to lend copies of published works, such as CDs, when not for profit and when no fee is charged by the
          lender.
        </li>
      </ul>
    </ListArea>
    <Point>Limitations of rights seek to promote fair exploitation by limiting the rights of authors.</Point>
    <img src="/assets/images/1-4-5_en.png" alt="" width="1277" height="597" />
    <p>
      The following two are particularly useful limitations of rights in the classroom and are discussed in detail in
      Chapter 2.
    </p>
    <ListArea>
      <ul>
        <li>Citation (Article 32(1)).</li>
        <li>Reproduction, etc. in educational institutions (Article 35).</li>
      </ul>
    </ListArea>

    <h3 id="ref21">Penal Provisions</h3>
    <p>
      We have explained various rules that you should comply with, but if you break those rules and the criminal court
      determines that you have willfully infringed copyright, the criminal penalty is imprisonment for not more than 10
      years or a fine of not more than 10 million yen, or both (Article 119(1)).
    </p>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">It's still a crime to break the law ...</Bubble>
      <Bubble speaker="Daiin" feLevel="5">
        But copyright is a crime requiring a complaint from the victim for prosecution, right?<br />You can't be guilty
        of a crime if no one submits a complaint, right?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        The reason why the Copyright Act has this system is that there is no need to prosecute if the author or
        copyright owner thinks it's okay.<br />However, just because you are not prosecuted does not mean you can do it.
        It is still a violation of the law. As long as you are breaking the law, you never know when you might be
        prosecuted.
      </Bubble>
    </SpeechBubbles>
    <p>
      The Copyright Act was amended in 2018 to make it an offense prosecutable without a complaint from a victim if it
      meets all of the following requirements (Article 123(2)):
    </p>
    <ListArea>
      <ul>
        <li>The purpose of obtaining compensation or the purpose of harming the interests of the right owner.</li>
        <li>
          Transferring, publicly transmitting, or reproducing for such purposes, in its original form, a copyrighted
          work that is offered or presented to the public for a fee (paid copyrighted work, etc.).
        </li>
        <li>
          Unjust harm is caused to the interests of right owners who are expected to gain from the provision or
          presentation of paid copyrighted works, etc.
        </li>
      </ul>
    </ListArea>
    <p>
      Specifically, selling pirated copies of manga, movies, anime, etc., or publishing them on the internet can be a
      criminal offense even without a complaint from the rights owner.
    </p>
    <p>
      On the other hand, derivative works such as fanzine (dōjinshi) sold at Comiket and other events remains a crime
      prosecutable upon a complaint from the victim.
    </p>
    <img src="/assets/images/1-4-6_en.png" alt="" width="1277" height="596" />
  </Section>
</Page>
