---
import Section from '../../components/Section.astro';
import IndexItem from '../../components/IndexItem.astro';
import Page from '../../templates/Page.astro';
---

<Page
  title="資料集・索引"
  description="主に教育機関で授業をされている先生を対象に著作権について説明している当ウェブサイトの、参考資料と索引のページです。"
>
  <Section number="02" title="索引">
    <h3>英数</h3>
    <div class="grid gap-2">
      <IndexItem
        title="35条改正"
        items={[
          {
            text: '2018年の35条改正',
            href: '/copyright03/#ref1',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="SARTRAS"
        items={[
          {
            text: 'SARTRAS（一般社団法人授業目的公衆送信補償金等管理協会） ',
            href: '/copyright03/#ref2',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="SARTRASライセンス"
        items={[
          {
            text: 'Q16 履修期間を過ぎた後でも教材は使える？',
            href: '/use/#q16',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="TRIPS協定"
        items={[
          {
            text: 'Q10 海外の著作物を授業で扱う場合に注意する点は？',
            href: '/use/#q10',
            memo: '3章 section01',
          },
        ]}
      />
    </div>

    <h3>五十音</h3>

    <h4>あ行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="引用"
        items={[
          {
            text: '引用とは',
            href: '/copyright02/#ref50',
            memo: '2章 section02',
          },
        ]}
      />
      <IndexItem
        title="営利を目的としない上演等"
        items={[
          {
            text: '営利を目的としない上演等（38条） ',
            href: '/basis04/#ref3',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="演奏権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="遠隔合同授業"
        items={[
          {
            text: '授業目的で無許諾、無償でできたこと',
            href: '/copyright03/#ref1-1',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="オーバーライド問題"
        items={[
          {
            text: 'Q6 授業で映画を上映できる？',
            href: '/use/#q6',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="オーファンワークス"
        items={[
          {
            text: 'Step4：著作権者がわからない場合',
            href: '/permission/#ref5',
            memo: '4章 section01',
          },
        ]}
      />
      <IndexItem
        title="公に伝える権利"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="公の伝達権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: '2018年の35条改正',
            href: '/copyright03/#ref1',
            memo: '2章 section03',
          },
          {
            text: '公に伝達（運用指針9ページ）',
            href: '/copyright04/#ref6',
            memo: '2章 section04',
          },
          {
            text: '複製・公衆送信・伝達の態様',
            href: '/copyright04/#ref7',
            memo: '2章 section04',
          },
        ]}
      />
      <IndexItem
        title="オンデマンド型授業"
        items={[
          {
            text: '許諾をとらないといけなかったこと',
            href: '/copyright03/#ref22',
            memo: '2章 section03',
          },
        ]}
      />
    </div>

    <h4>か行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="改正著作権法第35条運用指針"
        items={[
          {
            text: '著作権とは',
            href: '/basis04/',
            memo: '1章 section01',
          },
          {
            text: '改正著作権法第35条運用指針について',
            href: '/copyright04/#ref51',
            memo: '2章 section04',
          },
        ]}
      />
      <IndexItem
        title="教科用図書等への掲載"
        items={[
          {
            text: '教科用図書等への掲載（33条）',
            href: '/basis04/#ref8',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="共同著作者（物）"
        items={[
          {
            text: '複数名が著作者となる場合（共同著作者）',
            href: '/basis03/#ref9',
            memo: '1章 section03',
          },
          {
            text: 'Q2 共同で作成した教材は作成に関わった教員なら使える？',
            href: '/use/#q2',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="共有著作権"
        items={[
          {
            text: '複数名が著作者となる場合（共同著作者）',
            href: '/basis03/#ref9',
            memo: '1章 section03',
          },
        ]}
      />
      <IndexItem
        title="許諾なく利用できる著作物の例"
        items={[
          {
            text: '許諾なく利用できる著作物の例',
            href: '/basis02/#ref10',
            memo: '1章 section02',
          },
        ]}
      />
      <IndexItem
        title="クリエイティブ・コモンズ・ライセンス"
        items={[
          {
            text: 'クリエイティブ・コモンズ・ライセンス（Creative Commons License）',
            href: '/basis04/#ref11',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="権利制限規定"
        items={[
          {
            text: '権利制限',
            href: '/basis04/#ref12',
            memo: '1章 section04',
          },
          {
            text: '授業で扱う著作物',
            href: '/copyright/#ref52',
            memo: '2章 section01',
          },
          {
            text: 'Q6 授業で映画を上映できる？',
            href: '/use/#q6',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="公衆送信権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: '「公衆送信権」「送信可能化権」も耳慣れない言葉…',
            href: '/basis04/#ref13',
            memo: '1章 section04',
          },
          {
            text: '授業で扱う著作物',
            href: '/copyright/#ref52',
            memo: '2章 section01',
          },
          {
            text: '授業で著作物を扱う際の権利制限',
            href: '/copyright03/#ref53',
            memo: '2章 section03',
          },
          {
            text: '公衆送信（運用指針5−6ページ）',
            href: '/copyright04/#ref14',
            memo: '2章 section04',
          },
          {
            text: '複製・公衆送信・伝達の態様',
            href: '/copyright04/#ref7',
            memo: '2章 section04',
          },
        ]}
      />
      <IndexItem
        title="口述権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="公衆送信の許諾"
        items={[
          {
            text: '【公衆送信の許諾】の図',
            href: '/copyright03/#ref15',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="公表権"
        items={[
          {
            text: '公表権（18条）',
            href: '/basis04/#ref16',
            memo: '1章 section04',
          },
          {
            text: 'Q4 卒業した学生の作文やレポートを授業で紹介したい。',
            href: '/use/#q4',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="コピーする権利"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
    </div>

    <h4>さ行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="試験問題としての複製等"
        items={[
          {
            text: '試験問題としての複製等（36条）',
            href: '/basis04/#ref17',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="私的使用のための複製"
        items={[
          {
            text: '私的使用のための複製（30条）',
            href: '/basis04/#ref18',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="氏名表示権"
        items={[
          {
            text: '氏名表示権（19条）',
            href: '/basis04/#ref19',
            memo: '1章 section04',
          },
          {
            text: 'Q4 卒業した学生の作文やレポートを授業で紹介したい。',
            href: '/use/#q4',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="授業で著作物を扱う際の権利制限"
        items={[
          {
            text: '授業で著作物を扱う際の権利制限',
            href: '/copyright03/#ref53',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="授業目的公衆送信補償金制度"
        items={[
          {
            text: '2018年の35条改正',
            href: '/copyright03/#ref1',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="上映権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: '授業で扱う著作物',
            href: '/copyright/#ref52',
            memo: '2章 section01',
          },
        ]}
      />
      <IndexItem
        title="上演権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="譲渡権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="職務著作"
        items={[
          {
            text: '職務著作（法人著作）',
            href: '/basis03/#ref20',
            memo: '1章 section03',
          },
        ]}
      />
      <IndexItem
        title="親告罪"
        items={[
          {
            text: '罰則規定',
            href: '/basis04/#ref21',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="スタジオ型授業"
        items={[
          {
            text: '許諾をとらないといけなかったこと',
            href: '/copyright03/#ref22',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="戦時加算制度"
        items={[
          {
            text: '保護期間',
            href: '/basis04/#ref23',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="送信可能化権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: '第35条（学校その他の教育機関における複製等）',
            href: '/copyright03/#ref24',
            memo: '2章 section03',
          },
          {
            text: '公衆送信（運用指針5−6ページ）',
            href: '/copyright04/#ref14',
            memo: '2章 section04',
          },
        ]}
      />
    </div>

    <h4>た行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="貸与権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="著作権者"
        items={[
          {
            text: '著作者と著作権者',
            href: '/basis03/#ref25',
            memo: '1章 section03',
          },
        ]}
      />
      <IndexItem
        title="著作権者不明の場合の裁定補償金金額シミュレーションシステム"
        items={[
          {
            text: 'Step4：著作権者がわからない場合',
            href: '/permission/#ref5',
            memo: '4章 section01',
          },
        ]}
      />
      <IndexItem
        title="著作権フリー"
        items={[
          {
            text: 'パブリックドメイン',
            href: '/basis04/#ref26',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="著作権法改正"
        items={[
          {
            text: '罰則規定',
            href: '/basis04/#ref21',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="著作権法上の著作物ではないものの例"
        items={[
          {
            text: '著作権法上の著作物でないものの例',
            href: '/basis02/#ref27',
            memo: '1章 section02',
          },
        ]}
      />
      <IndexItem
        title="著作財産権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="著作者"
        items={[
          {
            text: '著作者の定義',
            href: '/basis03/#ref54',
            memo: '1章 section03',
          },
        ]}
      />
      <IndexItem
        title="著作者人格権"
        items={[
          {
            text: '著作者人格権',
            href: '/basis04/#ref28',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="著作物の教育利用に関する関係者フォーラム"
        items={[
          {
            text: '著作物の教育利用に関する関係者フォーラム',
            href: '/copyright03/#ref29',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="著作物の種類"
        items={[
          {
            text: '【著作物の種類（10条1項）】の表',
            href: '/basis02/#ref30',
            memo: '1章 section02',
          },
          {
            text: '著作物の種類',
            href: '/copyright04/#ref31',
            memo: '2章 section04',
          },
        ]}
      />
      <IndexItem
        title="著作隣接権"
        items={[
          {
            text: '著作隣接権',
            href: '/basis04/#ref32',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="展示権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="同一性保持権"
        items={[
          {
            text: '同一性保持権（20条）',
            href: '/basis04/#ref33',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="図書館等における複製"
        items={[
          {
            text: '図書館等における複製（31条）',
            href: '/basis04/#ref34',
            memo: '1章 section04',
          },
        ]}
      />
    </div>

    <h4>な行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="二次的著作物"
        items={[
          {
            text: '【著作物の種類（11条、12条、12条の2）】の表',
            href: '/basis02/#ref35',
            memo: '1章 section02',
          },
          {
            text: '氏名表示権（19条）',
            href: '/basis04/#ref19',
            memo: '1章 section04',
          },
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: 'パブリックドメイン',
            href: '/basis04/#ref26',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="二次的著作物の利用に関する原著作者の権利"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
    </div>

    <h4>は行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="罰則規定"
        items={[
          {
            text: '罰則規定',
            href: '/basis04/#ref21',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="パプリックドメイン"
        items={[
          {
            text: 'パプリックドメイン',
            href: '/basis04/#ref26',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="万国著作権条約"
        items={[
          {
            text: 'Q10 海外の著作物を授業で扱う場合に注意する点は？',
            href: '/use/#q10',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="頒布権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="非親告罪"
        items={[
          {
            text: '罰則規定',
            href: '/basis04/#ref21',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="複製（権）"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: '授業で扱う著作物',
            href: '/copyright/#ref52',
            memo: '2章 section01',
          },
          {
            text: '授業で著作物を扱う際の権利制限',
            href: '/copyright03/#ref53',
            memo: '2章 section03',
          },
          {
            text: '複製（運用指針5ページ）',
            href: '/copyright04/#ref36',
            memo: '2章 section04',
          },
          {
            text: '複製・公衆送信・伝達の態様',
            href: '/copyright04/#ref7',
            memo: '2章 section04',
          },
        ]}
      />
      <IndexItem
        title="付随対象著作物の利用"
        items={[
          {
            text: '付随対象著作物の利用（30条の2）',
            href: '/basis04/#ref37',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="ベルヌ条約"
        items={[
          {
            text: 'Q10 海外の著作物を授業で扱う場合に注意する点は？',
            href: '/use/#q10',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="法人著作"
        items={[
          {
            text: '職務著作（法人著作）',
            href: '/basis03/#ref20',
            memo: '1章 section03',
          },
        ]}
      />
      <IndexItem
        title="保護期間"
        items={[
          {
            text: '保護期間',
            href: '/basis04/#ref23',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="補償金"
        items={[
          {
            text: '2018年の35条改正',
            href: '/copyright03/#ref1',
            memo: '2章 section03',
          },
        ]}
      />
      <IndexItem
        title="翻案権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
          {
            text: '「翻案」は、著作権法独特の言い回しかと思いますが…',
            href: '/basis04/#ref13',
            memo: '1章 section04',
          },
          {
            text: '教科用図書等への掲載（33条）',
            href: '/basis04/#ref8',
            memo: '1章 section04',
          },
          {
            text: 'Q8 楽曲を練習しやすく編曲すると問題ある？',
            href: '/use/#q8',
            memo: '3章 section01',
          },
          {
            text: 'Q11 ビブリオバトルを行う場合に注意するポイントとは？',
            href: '/use/#q11',
            memo: '3章 section01',
          },
        ]}
      />
      <IndexItem
        title="翻訳権"
        items={[
          {
            text: '著作権（著作財産権）',
            href: '/basis04/#ref4',
            memo: '1章 section04',
          },
        ]}
      />
    </div>

    <h4>ま行</h4>
    <div class="flex flex-col gap-2">
      <IndexItem
        title="無方式主義"
        items={[
          {
            text: '著作権は「勝手に〇〇されない権利」',
            href: '/basis04/#ref55',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="名誉声望権"
        items={[
          {
            text: 'POINT「著作者人格権」内',
            href: '/basis04/#ref33-1',
            memo: '1章 section04',
          },
        ]}
      />
    </div>

    <h4>ら行</h4>
    <div class="my-5 flex flex-col gap-2 md:my-6">
      <IndexItem
        title="ライセンス"
        items={[
          {
            text: 'ライセンス',
            href: '/basis04/#ref38',
            memo: '1章 section04',
          },
        ]}
      />
      <IndexItem
        title="利用条件"
        items={[
          {
            text: '利用条件を確認する',
            href: '/basis04/#ref39',
            memo: '1章 section04',
          },
        ]}
      />
    </div>
  </Section>
</Page>
