@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Noto Sans JP';
	src: url('/assets/fonts/NotoSansJP-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
  }
  @font-face {
	font-family: 'Noto Sans JP';
	src: url('/assets/fonts/NotoSansJP-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  @font-face {
	font-family: 'Noto Sans JP';
	src: url('/assets/fonts/NotoSansJP-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }

.section-content {
	@apply leading-relaxed text-stone-700;

	h3 {
		@apply bg-orange-600 text-white text-xl md:text-2xl font-medium leading-normal md:leading-normal py-2 px-3 md:px-4 rounded;
	}

	h4 {
		@apply text-orange-600 text-lg md:text-2xl font-bold leading-relaxed md:leading-relaxed;
	}

	dd {
		@apply h-fit;
	}
}
#js-nav.active {
	@apply translate-x-0;
}

#js-hamburger.active {
	@apply text-transparent;

	ul {
		li:first-of-type {
			@apply translate-y-[5px] scale-[1.06] rotate-45;
		}
		li:nth-of-type(2) {
			@apply scale-0;
		}
		li:last-of-type {
			@apply translate-y-[-5px] scale-[1.06] -rotate-45;
		}
	}
}
