---
import Section from '../../../components/Section.astro';
import SpeechBubbles from '../../../components/SpeechBubbles.astro';
import Bubble from '../../../components/Bubble.astro';
import ImgCaption from '../../../components/ImgCaption.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="Copyright in Classes"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions. This page explains the legal rules and processes, citations, and reproductions when handling copyrighted works in classes."
  isEN
>
  <Section
    number="01"
    title="Classes and copyrighted works"
    description="This section describes the requirements for dealing with third-party copyrighted works in classes, the definitions of terms, and the flow for dealing with copyrighted works in classes."
  >
    <h3>Copyrighted Works in Classes</h3>
    <SpeechBubbles>
      <Bubble speaker="Sumiki" feLevel="3">
        What are some of the situations in which you deal with third-party copyrighted works in your classes?
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">Use of text or illustrations in print or ...</Bubble>
      <Bubble speaker="Daiin" feLevel="2">
        I sometimes use them in the slides I show in my class. I also use the LMS (Learning Management System) to
        distribute materials.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Dr. Konaka also writes on the board and reads to the students, right?
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">Oh, is that related to copyright too?</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Writing on the board is related to reproduction rights, reading publicly is subject to recitation rights, and
        distributing materials in the LMS involves reproduction and public transmission rights.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">
        In "Chapter 1 Section 04 What is Copyright?" we were told that viewing and operating a website is a public
        communication.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        We have that, too. Also, there are times when we play videos in classes, and that involves on-screen
        presentation rights.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="3">So, copyright involves many different rights.</Bubble>
    </SpeechBubbles>
    <p>
      In "Chapter 1, Section 04 What is Copyright?" we talked about available copyrighted works and limitations of
      rights. When handling a third party's copyrighted work in classes, it is necessary to confirm as shown in the
      "flow chart for handling copyrighted works in classes" below.
    </p>
    <ImgCaption>
      <figcaption>[Flow chart for dealing with copyrighted works in classes.]</figcaption>
      <img
        src="/assets/images/copyright-01_en.png"
        alt="If it is a copyrighted work, it can be used if it is in the public domain or if a license (like Creative Commons, with specific terms of use) allows it. If it is not allowed, check if any statutory limitations apply (Articles 30 to 47-5). If applicable, the copyrighted work can be used. If not applicable, decide whether to obtain permission or to give up its use."
        width="1360"
        height="980"
      />
    </ImgCaption>
    <p>
      There are many provisions limiting rights, but in the classroom, it is recommended to keep in mind "Citation
      (Article 32(1))", "Reproduction, etc. in schools and other educational institutions (Article 35)", and "Non-profit
      on-screen presentation, etc. (Article 38)".
    </p>
    <p>Article 38 can apply to many cases like the previous examples such as reading to a class or showing a video.</p>
    <p>We explain Articles 32 and 35 in more detail in the following sections.</p>
    <img src="/assets/images/2-1-1.png" alt="" width="1713" height="668" />
  </Section>
</Page>
