---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Annotation from '../../components/Annotation.astro';
import Page from '../../templates/Page.astro';
---

<Page
  chapterNum={2}
  title="授業における著作権"
  description="当ウェブサイトは、主に教育機関で授業をされている先生を対象に著作権について説明しています。このページでは授業で著作物を扱う際の法律上の決まりやフロー、引用、複製等について解説しています。"
>
  <Section
    number="02"
    title="引用（32条1項）"
    description="このsectionでは、著作権法で定められている「引用」について説明します。著作権法上の「引用」は決まりごとが多く説明がたくさんありますが、がんばって読んでみてください。"
  >
    <h3 id="ref50">引用とは</h3>
    <SpeechBubbles>
      <Bubble speaker="隅木" feLevel="2">引用って聞いた時にどんなイメージですか？</Bubble>
      <Bubble speaker="大院" feLevel="2">よそから引っ張ってきてたら引用かな。転載のことかな？</Bubble>
      <Bubble speaker="小中" feLevel="3">要約したりもあるような？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        広義で言う「引用」って、人によって違うんですよね。ここで説明するのは、あくまでも著作権法上の「引用」となります。広義で使われている「引用」という言葉とは、意味合いが異なりますので注意が必要です。
      </Bubble>
    </SpeechBubbles>
    <p>著作権法の32条1項には以下のように書かれています。</p>
    <Point hasNoTag title="第32条（引用）">
      <p>
        <span class="mr-[1rem] text-orange-600">1</span
        >公表された著作物は、引用して利用することができる。この場合において、その引用は、公正な慣行に合致するものであり、かつ、報道、批評、研究その他の引用の目的上正当な範囲内で行なわれるものでなければならない。
      </p>
    </Point>
    <p>
      32条1項の引用として著作物を利用するには、次の条件に<span class="font-bold text-orange-600"
        >すべてあてはまることが必要です</span
      >。
    </p>
    <ListArea>
      <ul>
        <li>公表された著作物であること</li>
        <li>
          「引用」であること
          <ul>
            <li>区別性：引用した箇所が明確になっていること（カギカッコや区切り線など）</li>
            <li>主従関係：量的にも質的にも本文が「主」、引用部分が「従」であること</li>
          </ul>
        </li>
        <li>
          引用による利用行為が「公正な慣行」に合致し、「引用の目的上正当な範囲内」であること<Annotation num={1} />
          <ul>
            <li>
              引用だからといって、その著作物の販売に悪影響を与えるなど著作権者に大きな経済的打撃を与えてはいけないし、引用して利用する著作物全体のうち、利用する部分が妥当な範囲かが問われるということです。
            </li>
          </ul>
        </li>
        <li>
          出所を明示すること<Annotation num={2} />
        </li>
        <li>
          引用部分を改変していないこと<Annotation num={3} />
        </li>
      </ul>
      <Point isMemo num={1} id="c2s2_1">
        <p>
          他人の著作物を利用する側の利用の目的、その方法や態様、利用される著作物の種類や性質、当該著作物の著作権者に及ぼす影響の有無・程度などを総合考慮すべきとされています。東京地判平成30年2月21日（平成28（ワ）37339）〔沖縄うりずんの雨事件第一審〕
        </p>
      </Point>
      <Point isMemo num={2} id="c2s2_2">
        <p>
          正確に言えば出所の明示（48条1項1号）は、引用の要件ではないですが、「公正な慣行」に合致するかの判断に考慮する裁判例もあります（知財高判平成30年8月23日（平成30（ネ）10023）〔沖縄うりずんの雨事件控訴審〕）。いずれにせよ、出所の明示は必要と理解しておきましょう。
        </p>
      </Point>
      <Point isMemo num={3} id="c2s2_3">
        <p>
          厳密には引用の要件ではありませんが、同一性保持権への配慮が必要なため、引用部分を改変していないことも加えています。
        </p>
      </Point>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="大院" feLevel="5">
        引用を適用するための条件の中に「引用であること」が入ってるのってどういうことなんだ？
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">
        何かの目的があって、第三者の著作物を転載したいわけですよね<Annotation num={4} />。その時に、自分の著作物の中でどこが転載箇所なのか明確になっていること（区別性）、自分の著作物の方が質的量的に「主」となっていること（主従関係）の両方が成立していることが、「引用」になるということです。これらが、単なる転載じゃなく「引用」にあたるための必要最低限の条件です【引用と転載の違い】。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">
        なるほど。その「引用」であって、出所明示とかほかの条件がすべてあてはまって、32条が適用できると。
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        そういうことになります<Annotation num={5} />。
      </Bubble>
    </SpeechBubbles>
    <Point isMemo num={4} id="c2s2_4">
      <p>
        「転載」の定義は著作権法にはありません。中山信弘『著作権法〔第4版〕』（有斐閣、2023）428頁では、「転載とは著作物の全部あるいは一部をそのまま掲載すること」を指すとされています。引用も転載の一種といえるでしょう。
      </p>
    </Point>
    <Point isMemo num={5} id="c2s2_5">
      <p>
        引用の条件は、特に区別性と主従関係の位置付けについては様々な整理の仕方、見解があります。どの文言に位置付けられるにせよ、これらの条件をみたしていれば、適法な引用になると考えられます。
      </p>
    </Point>
    <ImgCaption caption="【引用と転載の違い】">
      <img
        src="/assets/images/copyright-02.png"
        alt="著作物が文章の場合。引用は、どこが転載箇所なのか明確であり、自分の文章の質量の方が多く、主となっている。転載の場合は、自分の文章よりも他人（参考文献）の文章の方が多く、転載箇所が明確でない。"
        width="1360"
        height="896"
      />
    </ImgCaption>

    <Point isColumn>
      <p>なお、引用の必然性が必要とする見解もあります。たとえば、加戸守行『著作権法逐条講義〔七訂新版〕』（著作権情報センター、2021）302頁、東京地判平23年2月9日は、引用の必然性がないことを「公正な慣行」に合致し、「引用の目的上正当な範囲内」にあたらないひとつの事情として指摘しています。しかし、引用の必然性までは必要ないというのが通説的な見解です（中山信弘『著作権法〔第4版〕』（有斐閣、2023）421頁）。</p>
    </Point>

    <SpeechBubbles>
      <Bubble speaker="隅木" feLevel="2">
        プリントやスライドなどの余白がさびしいからと言って、にぎやかしのためにイラストを入れるのは、引用の目的上正当な範囲とは言えないことが多いでしょう。でも、あるキャラクターについて、研究したり批評したりするために必要だったら、そのキャラクターの絵を引用して使うことができます。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">ピカチューの研究だったら、ピカチューの絵を使えるんだな。</Bubble>
      <Bubble speaker="隅木" feLevel="4">
        あくまで引用の条件すべてをみたす必要がありますので、ピカチューの研究だったらピカチューの絵をなんでも使ってよいわけではないですよ。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">出所って、なんか刑務所から出てくるみたいですけど……</Bubble>
      <Bubble speaker="隅木" feLevel="2">ふふ、確かに法律的な表現ですね。普通に言うと「出典を書く」となります。</Bubble>
      <Bubble speaker="大院" feLevel="5">
        文章だとそのまま書かないといけないんだよな？元の文章に誤字脱字があっても？
      </Bubble>
      <Bubble speaker="隅木" feLevel="3">
        引用する箇所をそのまま書く必要があります。原文に誤字脱字がある場合は「原文ママ」などと書くとよいと思います。翻訳して引用することは著作権法でOKとされています<Annotation num={6} />。
      </Bubble>
      <Bubble speaker="小中" feLevel="3">
        画像とかはどうしたらいいんですか。必要最小限で一部切り取るのか、それとも改変なく原型のまま使うのか。
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        画像はそのまま使うのが基本です。しかし、その画像の一部に特に注目して言及したい場合には、その一部であることをわかりやすく表示し、なおかつ、引用であることを明確にする必要があります【画像の引用例】<Annotation num={7} />。
      </Bubble>
    </SpeechBubbles>
    <Point isMemo num={6} id="c2s2_6">
      <p>
        翻訳引用（47条の6第1項2号）は条文上認められている一方、要約引用は条文上認められておらず、解釈に委ねられています（要約引用を認めた裁判例として、東京地判平成10年10月30日判タ991号240頁〔血液型と性格の社会史事件〕）。
      </p>
    </Point>
    <Point isMemo num={7} id="c2s2_7">
      <p>
        中山信弘『著作権法〔第4版〕』（有斐閣、2023）428頁は、「引用においては、全部引用でない限り、同一性保持権の問題は不可避的に生ずるが、引用については部分引用が通常であり、しかも適法引用である限り、著作者は自己の作品との結び付きにつき誤解を与えられるというおそれも少なく、同一性保持権侵害にはならないと解すべきである。」としています。
      </p>
    </Point>
    <ImgCaption caption="【画像の引用例】">
      <img
        src="/assets/images/copyright-03.png"
        alt="とある建築物の説明のために、建物全体の写真の屋根部分を拡大して使う場合。元となる建物全体の写真を掲載し、出典と撮影者を記載。屋根部分を拡大した画像まで、元の画像から矢印を伸ばし、引用であることを明確に表示している。"
        width="1360"
        height="1433"
      />
    </ImgCaption>
    <SpeechBubbles>
      <Bubble speaker="大院" feLevel="4">
        動画はどうしたらいいんだ？改変するなって言われても、このシーンだけに言及したいってあるんじゃないのか？
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        動画の場合は、必要な範囲で引用する箇所を切り出したり、スクリーンキャプチャで引用したりすることは可能です。この場合も、引用箇所が明確であり、引用の条件をすべてみたす必要があります。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">必要な範囲はまあわかりますけど、主従関係ってどんな感じですか？</Bubble>
      <Bubble speaker="隅木" feLevel="4">
        文章だと、自分が書いている箇所のほうが、引用部分より多くないといけません。画像の場合は、その画像がメインの意味合いを持つような利用の仕方だと引用にはあたりません。例えば、画集のように見開きの半ページがすべて高画質の画像とかですね。
      </Bubble>
      <Bubble speaker="大院" feLevel="5">
        スライドだと、そのページにはその画像とちょいと説明文をいれるくらいしかできない場合が多いぞ。そしたらどうしても画像のほうが大きくなる。
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        スライドを使うのはだいたいプレゼンテーションしてる時かと思うので、口頭で説明していますよね。そうすると先生の説明も合わせてご自身の内容が「主」になって、画像のほうが「従」になれば、引用を適用できると思います。<br
        />しかし、このスライド資料だけを配布すると、先生の口頭の説明がなくなってしまうので、全体が画像中心のスライドで自分の説明部分が分量的にも内容的にも薄いときには、主従関係がNGとなる可能性があります<Annotation num={8} />。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">うーん、きびしい……</Bubble>
    </SpeechBubbles>
    <Point><p>著作権法の「引用」は、条件をすべて守らなければいけない。</p></Point>
    <Point isMemo num={8} id="c2s2_8">
      <p>
        主従関係の分量については形式的に判断されるわけではありません。例えば、書籍で著作物が引用された頁のみを取り上げて、被引用著作物と引用著作物の分量を比較することは適切ではないと判示されています（東京高判平成12年4月25日判時1724号124頁〔脱ゴーマニズム宣言事件控訴審〕）。
      </p>
    </Point>
    <img src="/assets/images/2-1-2.png" alt="" width="1399" height="898" />
  </Section>
</Page>
