---
import Section from '../../components/Section.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Page from '../../templates/Page.astro';
---

<Page
  chapterNum={2}
  title="授業における著作権"
  description="当ウェブサイトは、主に教育機関で授業をされている先生を対象に著作権について説明しています。このページでは授業で著作物を扱う際の法律上の決まりやフロー、引用、複製等について解説しています。"
>
  <Section
    number="01"
    title="授業と著作物"
    description="ここでは授業で第三者の著作物を扱う際に、どんな法律上のきまりがあるか、その内容や用語の定義、および授業で著作物を扱う際のフローについて説明します。"
  >
    <h3 id="ref52">授業で扱う著作物</h3>
    <SpeechBubbles>
      <Bubble speaker="隅木" feLevel="3">授業で第三者の著作物を扱うのは、どういう場面がありますか？</Bubble>
      <Bubble speaker="小中" feLevel="3">プリントに文章とかイラスト使ったり……</Bubble>
      <Bubble speaker="大院" feLevel="2">
        おれは、授業で見せるスライドの中で使うことあるな。後はLMS（Learning Management
        System：学習支援システム）で、資料配布したり。
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">小中先生は板書したり、読み聞かせしたりもありますよね。</Bubble>
      <Bubble speaker="小中" feLevel="2">あ、それも著作権が関係するんですか？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        板書は複製権、読み聞かせは口述権、LMSで資料を配布するのは複製権と公衆送信権が関係あります。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">
        「1章 section04 著作権とは」で、Webサイトを見ながら操作をするのは公の伝達だと言われた。
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">
        それもありますね。あと、授業でなにかの映像を流すこともあると思いますが、それは上映権になります。
      </Bubble>
      <Bubble speaker="小中" feLevel="3">いろいろな権利が関係あるのですね。</Bubble>
    </SpeechBubbles>
    <p>
      「1章 section04
      著作権とは」で、利用可能な著作物や「権利制限」について説明しました。授業で第三者の著作物を扱う時は、下の【授業で著作物を扱う時のフロー図】のような確認が必要となります。
    </p>
    <ImgCaption>
      <figcaption>【授業で著作物を扱う時のフロー図】</figcaption>
      <img
        src="/assets/images/copyright-01.png"
        alt="それは著作物である場合。パブリックドメイン、ライセンス（CC、利用条件）でOKであれば利用可能。OKでない場合、権利制限が適用可能かどうか確認（30条から47条の5）。適用可能な場合、利用可能。適用不可の場合、許諾を取るか諦めるかを判断する。"
        width="1360"
        height="964"
      />
    </ImgCaption>
    <p>
      権利制限規定がたくさんありますが、授業では「引用（32条1項）」「学校その他の教育機関における複製等（35条）」「営利を目的としない上映等（38条）」をおさえておくとよいでしょう。
    </p>
    <p>先程の例で言うと、授業で読み聞かせたり、映像を見せたりするのは、38条を適用できる場合が多いと考えられます。</p>
    <p>32条と35条について、以降で詳しく説明します。</p>
    <img src="/assets/images/2-1-1.png" alt="" width="1713" height="668" />
  </Section>
</Page>
