---
import Section from '../../../components/Section.astro';
import Point from '../../../components/Point.astro';
import Annotation from '../../../components/Annotation.astro';
import SpeechBubbles from '../../../components/SpeechBubbles.astro';
import Bubble from '../../../components/Bubble.astro';
import ListArea from '../../../components/ListArea.astro';
import ImgCaption from '../../../components/ImgCaption.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  chapterNum={2}
  title="Copyright in Classes"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions. This page explains the legal rules and processes, citations, and reproductions when handling copyrighted works in classes."
  isEN
>
  <Section
    number="03"
    title="Reproduction, etc. for class purposes (Article 35)"
    description="This section describes Article 35, which governs reproduction and public transmission for classroom purposes. It also explains what happened when Article 35 was amended in 2018."
  >
    <h3 id="ref52">Limitations on rights when dealing with copyrighted works in the classroom</h3>
    <p>
      Article 35 of the Copyright Act provides for limitations on rights when dealing with copyrighted works in the
      course of classes. It allows the use of other people's copyrighted works without the permission of the copyright
      owner, although only to a limited extent, for materials that you wish to share with students in a class.
    </p>
    <p>
      It is important to be aware that you cannot do everything, but what you can do and the scope of what you can do
      are "limited". They are written in the text of the Copyright Act, and the Guidelines for Article 35 under the
      Amended Copyright Act attempt to summarize them in more concrete terms.
    </p>
    <p>
      Such material, we simply call the Guidelines. The Guidelines are explained in detail in "Section 04: Guidelines
      for Article 35 under the Amended Copyright Act".
    </p>
    <p>The Article reads as follows.</p>

    <Point
      hasNoTag
      title="Article 35 (Reproduction in Schools and Other Educational Institutions; Related Matters)"
      id="ref24"
    >
      <p>
        <span class="mr-[1rem] text-orange-600">(1)</span>A person in charge of teaching or a person taking classes at a
        school or other educational institution (except one founded for commercial purposes) may reproduce a work that has
        been made public or transmit that work to the public (including making that work available for transmission, if it
        is to be transmitted to the public via automatic public transmission; hereinafter the same applies in this
        Article), or publicly communicate a work that has been made public and is transmitted to the public through a
        receiver to the extent that is found to be necessary if the purpose of doing so is exploitation in the course of
        those classes; provided, however, that this does not apply if the action would unreasonably prejudice the
        interests of the copyright owner in light of the nature and purpose of the work, the number of copies that would
        be made, and the circumstances of its reproduction, public transmission, or transmission.
      </p>
    </Point>

    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="4">
        I don't know what you're talking about! Impossible! I'm already confused ...
      </Bubble>
      <Bubble speaker="Daiin" feLevel="5">
        The sentences in brackets are long and it's hard to tell where they are connected ...
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        It is difficult because it is a legal expression. For those of you who find it difficult, we have the Guidelines
        for Article 35 under the Amended Copyright Act. In this material, the contents of the Guidelines will be
        explained in an easier-to-understand manner.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">It's got the word "amended" in it, but what does it mean?</Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        I need to explain the background behind the creation of the Guidelines.
      </Bubble>
    </SpeechBubbles>
    <h4 id="ref1">Amended Article 35 in 2018</h4>
    <p>
      The Copyright Act is often amended, and in 2018 there was a major amendment to Article 35 and the sections related
      to it [former Article 35 and amended Article 35]. Specifically, a compensation system was introduced.
    </p>
    <ImgCaption>
      <figcaption>[Former Article 35 and amended Article 35]</figcaption>
      <img
        src="/assets/images/copyright-04_en.png"
        alt="Under the former Article 35, Paragraph 1, reproduction for class purposes is allowed without permission if the requirements are met. Under the former Article 35, Paragraph 2, public transmission for class purposes, such as in remote joint classes, is permitted without permission. Under the Amended Article 35, Paragraph 1, if the requirements are met, reproduction, public transmission, and public communication for class purposes are allowed without permission. Under the Amended Article 35, Paragraph 2, when public transmission referred to in Paragraph 1 of the Amended Article 35 is conducted, 'a person that establishes an educational institution' must pay compensation to the copyright owner. Under the Amended Article 35, Paragraph 3, for remote joint classes and similar situations, public transmission for class purposes does not require compensation."
        width="1360"
        height="1402"
      />
    </ImgCaption>
    <p>Under the former Article 35, third-party copyrighted works were handled in the classroom as follows.</p>
    <ListArea id="ref1-1">
      <p>What could be done without a license or free of charge for teaching purposes?</p>
      <ul>
        <li>
          Reproduction
          <ul>
            <li>Reproduction for classroom use and distribution of reproductions in the classroom.</li>
          </ul>
        </li>
        <li>
          Public transmission in remote joint classes, etc.
          <ul>
            <li>
              A class in which it is assumed that at least the teacher and students are present at the main site and the
              students are present at a remote secondary site, and the class is simultaneously relayed to a remote site
              using a teleconferencing system, etc<Annotation num={1} />.
            </li>
          </ul>
        </li>
      </ul>
    </ListArea>
    <ListArea id="ref22">
      <p>When permission was needed.</p>
      <ul>
        <li>
          Public transmissions other than public transmissions in remote joint classes, etc.
          <ul>
            <li>Public transmissions outside of class hours and public transmissions for on-demand classes</li>
            <li>
              Public transmissions of simultaneous broadcasts but without students present at the site of the faculty
              member teaching the class (studio-type classes)
            </li>
          </ul>
        </li>
        <li>Public communication such as projecting the screen of a website onto a screen with a projector.</li>
      </ul>
    </ListArea>
    <Point isMemo id="c2s3_1" num={1}>
      <p>
        Ryo Shimanami, Tatsuhiro Ueno, and Hisayoshi Yokoyama, <span class="italic">Copyright Law in Japan</span>, 3rd
        ed., Yuhikaku, 2021, p. 198.
      </p>
    </Point>
    <p>
      Under the amended Article 35, public transmission for teaching and the aforementioned public transmission may be
      conducted without permission if compensation is paid. The table below summarizes what can now be done for each
      type of class, as shown in the "Permission for Public Transmission".
    </p>
    <p>
      What complicates matters is that compensation is not required for all public transmissions. Among public
      transmissions, so-called remote joint classes, etc., can be used without compensation and a license (Article
      35(3)).
    </p>
    <p>
      This is because the use that could be made free of charge before the 2018 amended Copyright Act will continue to
      be made free of charge, leaving use that can be made free of charge for public transmission after the amendment<Annotation num={2} />.
    </p>
    <ImgCaption id="ref15">
      <figcaption>[Permission for public transmission]</figcaption>
      <table class="text-3.25/tight md:text-sm/tight [&_td]:break-all [&_th]:break-all">
        <thead>
          <tr>
            <th rowspan="2">Type of class</th>
            <th rowspan="2" class="max-w-[5.75rem] md:max-w-[5rem]">Where students participate in class</th>
            <th class="max-w-[5.75rem] md:max-w-[5rem]">Distribution of learning materials‡</th>
            <th class="max-w-[5.75rem] break-words md:max-w-[5rem]">Public communication</th>
            <th colspan="2">Public transmission of mataerials</th>
            <th colspan="2">Public transmission of classes</th>
          </tr>
          <tr>
            <th>In classroom</th>
            <th class="max-w-[5.75rem] break-words md:max-w-[5rem]">In classroom</th>
            <th>in class time</th>
            <th>out of class time</th>
            <th>Live</th>
            <th>Archived</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr class="!bg-orange-100">
            <td class="text-left">Traditional classes</td>
            <td>Classroom</td>
            <td>◎</td>
            <td>○†</td>
            <td>○</td>
            <td>○</td>
            <td>-</td>
            <td>○</td>
          </tr>
          <tr class="!bg-white">
            <td rowspan="2" class="text-left">Remote join classes</td>
            <td>Classroom</td>
            <td>◎</td>
            <td>○†</td>
            <td>○</td>
            <td>○</td>
            <td>-</td>
            <td>○</td>
          </tr>
          <tr>
            <td>Remote</td>
            <td>-</td>
            <td>-</td>
            <td>◎</td>
            <td>○</td>
            <td>◎</td>
            <td>○</td>
          </tr>
          <tr>
            <td class="text-left">Studio classes</td>
            <td>Remote</td>
            <td>-</td>
            <td>-</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td class="text-left">On-demand classes</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>○</td>
            <td>-</td>
            <td>○</td>
          </tr>
        </tbody>
      </table>
      <p class="text-3.25/normal md:text-sm/normal">
        ◎: Since the former Article 35, it is allowed without permission and without compensation.
      </p>
      <p class="text-3.25/normal md:text-sm/normal">
        ○: Under the amended Article 35, it is allowed without permision and with compensation.
      </p>
      <p class="text-3.25/normal md:text-sm/normal">†: No compensation required.</p>
      <p class="text-3.25/normal md:text-sm/normal">
        ‡: Distribution via printouts, USB memory stick, AirDrop, or other closed communication within the classroom.
      </p>
    </ImgCaption>
    <Point isMemo id="c2s3_2" num={2}>
      <p>
        The terms "public transmission" and "public communication" are explained in "Section 04 What is Copyright?". The
        definitions of terms and specific examples in the Guidelines are explained in "Section 04: Guidelines for
        Article 35 of the Amended Copyright Act" below.
      </p>
    </Point>
    <p>
      The Agency for Cultural Affairs<Annotation num={3} />, states that this material uses the term "remote
      joint classes, etc." because "remote joint classes" includes two types of classes. The term "remote joint classes,
      etc." includes "simultaneous relay joint classes" and "simultaneous relay remote classes".
    </p>
    <p>
      The difference is whether or not there is a faculty member at the secondary site. In other words, a "simultaneous
      relay joint class" is a type of class in which multiple venues, each with faculty members and students, are
      connected in a manner that allows two-way communication. In contrast, a "simultaneous relay remote class" is a
      type of class in which a class being held in a classroom at the main venue with faculty and students is streamed
      in real-time, and the students can take the class alone at a secondary venue such as their homes [Classification
      of Remote Class Types].
    </p>
    <ImgCaption>
      <figcaption>[Classification of Distance Learning Forms]</figcaption>
      <img
        src="/assets/images/copyright-05_en.png"
        alt="In a simultaneously broadcast joint class, a class being held at the main site with faculty and students is conducted in a form that allows two-way communication with a secondary site with faculty and students at each site. In a simultaneously broadcast remote class, a class being held at the main venue with faculty and students is distributed in real time and can be attended by students alone at a secondary venue, such as their homes. In studio-style classes, classes are delivered in real-time by teachers at the main venue without students, and students can take the classes at a secondary venue such as their homes. In the on-demand model, classes are recorded in advance and distributed from a server, and can be taken by students alone at a secondary venue such as their homes."
        width="1360"
        height="1860"
      />
    </ImgCaption>
    <Point>
      <p>
        Paying compensation has increased the number of situations in which public transmissions can take place without
        permission!
      </p>
    </Point>
    <Point isMemo id="c2s3_3" num={3}>
      <p>Guidelines, p. 25.</p>
    </Point>
    <p id="ref2">
      Compensation should be paid to the copyright owners of copyrighted works that have been publicly transmitted, but
      it is practically impossible for teachers and students in the field to find the copyright owners and pay them
      directly. Therefore, a management organization was created to collect the compensation, which is then paid to the
      organization and distributed to the copyright owners. This system is called the "Compensation System for Public
      Transmission for Educational Purposes". The collective payment of compensation is also made by the educational
      institution's establishment, so there is no need for each teacher to pay it (Article 104-11). The establisher is
      the city for a municipal elementary school, the prefecture for a prefectural high school, or a national university
      corporation or school corporation for a university.
    </p>
    <p>
      The organization that collects, manages, and distributes this compensation is called SARTRAS (Society for the
      Administration of Remuneration for Public Transmission for School Lessons)<Annotation num={4} />.
    </p>
    <Point isMemo id="c2s3_4" num={4}>
      <p>
        SARTRAS<a href="https://sartras.or.jp/en/" target="_blank" class="block">https://sartras.or.jp/en/</a>
      </p>
    </Point>
    <SpeechBubbles>
      <Bubble speaker="Daiin" feLevel="5">
        When you collect money from all over the country like that, what will it be used for?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Please do not be angry. We are sure that you will write a paper or book, and if your work is used in a public
        transmission in class, the money will be distributed to you from the compensation collected<span class="mr-0.5"
          ><Annotation num={5} /></span
        >.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">What? Can I get money?</Bubble>
      <Bubble speaker="Sumiki" feLevel="1">
        That's right. So, when the time comes, you will be contacted so please take the necessary steps.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="1">What the heck, I'll just have to do it then.</Bubble>
    </SpeechBubbles>
    <Point isMemo id="c2s3_5" num={5}>
      <p>
        SARTRAS distribution page:<a href="https://sartras.or.jp/bunpai/" target="_blank" class="block">
          https://sartras.or.jp/bunpai/
        </a>
      </p>
    </Point>
    <p id="ref29">
      When Article 35 was amended, a meeting was set up to bring together the rights owners and the educational
      institutions to discuss how Article 35 should be implemented. This is called the "Forum of Those Related about
      Educational Use of Works" ("Forum")<Annotation num={6} />.
    </p>
    <p>
      As explained in "Chapter 1, Section 01 What is the Copyright Act?", it is difficult to find a balance between the
      protection of rights and fair exploitation, so it was decided that a common understanding should be determined by
      sharing opinions between the parties.
    </p>
    <p>Legal experts also participate as members and provide advice on legal perspectives.</p>
    <img src="/assets/images/2-3-1_en.png" alt="" width="1277" height="597" />
    <Point isMemo id="c2s3_6" num={6}>
      <p>
        Forum of Those Related about Educational Use of Works:<a
          href="https://forum.sartras.or.jp/"
          target="_blank"
          class="block"
        >
          https://forum.sartras.or.jp/
        </a>
      </p>
    </Point>
  </Section>
</Page>
