---
import Layout from '../layouts/Default.astro';
const Chapter = [
  {
    title: '著作権法の基礎',
    text: '著作権法の目的について説明します。著作権法は単に権利を保護する ためだけに法律が書かれているのではないことを理解しましょう。',
    href: '/basis',
    src: '/assets/images/img-01.png',
  },
  {
    title: '授業における著作権',
    text: '授業で第三者の著作物を扱う際に、どんな法律上のきまりがあるか、その内容や用 語の定義、および授業で著作物を扱う際のフローについて説明します。',
    href: '/copyright',
    src: '/assets/images/img-02.png',
  },
  {
    title: '授業における\n著作物利用Q&A',
    text: '授業で第三者の著作物を扱う際の具体的な事例について、Q&A 形式 で説明を行います。',
    href: '/use',
    src: '/assets/images/img-03.png',
  },
  {
    title: '許諾の取り方',
    text: '保護期間や利用条件などで自由に利用できない場合、かつ権利制限を適用できない場合に著作権者の許諾が必要となります。',
    href: '/permission',
    src: '/assets/images/img-04.png',
  },
]
---

<Layout title="すごわか">
  <div class="pb-16 md:pb-20 bg-orange-200">
    <div class="mx-auto text-center">
      <h1 class="font-bold">
        <img src="/assets/images/title.png"
          alt="すごくわかる著作権と授業"
          class="inline-block max-w-[93.6%] md:max-w-[758px]"
          decoding="async"
        />
      </h1>
      <div class="inline-block mt-3 md:mt-[30px]">
        <img
          src="/assets/images/kv.png"
          alt=""
          class="max-w-[71.4%] mx-auto md:max-w-[544px]"
          decoding="async"
        />
      </div>
    </div>
    <div class="px-4 md:px-0 max-w-[920px] mt-6 md:mt-10 mx-auto md:w-[90%]">
      <p class="text-base leading-relaxed">
        このページの内容について2ー3行のテキストを入れたいです。このページの内容について2ー3行のテキストを入れたいです。
        このページの内容について2ー3行のテキストを入れたいです。このページの内容について2ー3行のテキストを入れたいです。
      </p>
      <div class="grid gap-6 md:gap-10 md:grid-cols-2 mt-6 md:mt-10">
        <a
          href="/introduction"
          class="bg-white p-4 md:p-10 rounded-2xl flex gap-2 items-center hover:opacity-95 group transition-opacity">
          <div class="grow">
            <h2 class="text-lg md:text-2xl text-stone-800 font-medium leading-normal md:leading-normal">
              はじめに
            </h2>
            <p class="mt-1 md:mt-2 text-sm leading-relaxed">
              本書の読み方、キャラクターや著者の紹介です。
            </p>
          </div>
          <img
            src="/assets/images/arrow-circle.svg"
            alt=""
            class="w-8 h-8 md:w-9 md:h-9 group-hover:translate-x-2 transition-transform duration-200"
          />
        </a>
        <a
          href="/extra"
          class="bg-white p-4 md:p-10 rounded-2xl flex gap-2 items-center hover:opacity-95 group transition-opacity">
          <div class="grow">
            <h2 class="text-lg md:text-2xl text-stone-800 font-medium leading-normal md:leading-normal">
              資料集・索引
            </h2>
            <p class="mt-1 md:mt-2 text-sm leading-relaxed">
              著作権を知るための資料集、用語の索引です。
            </p>
          </div>
          <img
            src="/assets/images/arrow-circle.svg"
            alt=""
            class="w-8 h-8 md:w-9 md:h-9 group-hover:translate-x-2 transition-transform duration-200"
          />
        </a>
      </div>
      <ul class="flex flex-col mt-6 md:mt-10 gap-6 md:gap-10">
        {Chapter.map(({title, text, href, src}, i) => {
          return (
            <li>
              <a
                href={href}
                class="flex flex-col gap-6 md:flex-row md:gap-10 p-4 bg-white rounded-2xl md:p-10 hover:opacity-95 group transition-opacity">
                <div class="flex flex-col gap-2 md:gap-4">
                  <div class="flex flex-col gap-1 md:gap-0 font-medium">
                    <span class="text-5xl leading-none md:text-[80px] md:leading-none text-orange-600">
                      {('00'+(i+1)).slice(-2)}
                    </span>
                    <div class="flex gap-2">
                      <h3 class="text-2xl md:text-[32px] text-stone-800 leading-normal md:leading-normal grow">
                        {title.split('\n').map(t => (<>{t}<br /></>))}
                      </h3>
                      <img
                        src="/assets/images/arrow-circle.svg"
                        alt=""
                        class="w-8 h-8 md:w-9 md:h-9 mt-0.5 md:mt-2 group-hover:translate-x-2 transition-transform duration-200"
                      />
                    </div>
                  </div>
                  <p>{text}</p>
                </div>
                <img src={src} alt="" class="md:max-w-[50%] object-contain" />
              </a>
            </li>
          )
        })}
      </ul>
    </div>
  </div>
</Layout>
