---
import Section from '../../components/Section.astro';
import Page from '../../layouts/Page.astro';
---

<Page title="著作権の基礎">
  <Section
    number="01"
    title="著作権法とは"
    description="この SECTION では、著作権法の目的について説明します。著作権法は単に権利を保護する ためだけに法律が書かれているのではないことを理解しましょう。"
  >
    <h3>h3 見出し</h3>
    <h4>h4 見出し</h4>
    <p>著作権については「著作権法」で定めています。著作権法の第 1 条に、法律の目的 が書いてあります。</p>
  </Section>

  <Section
    number="02"
    title="著作権法とは"
    description="この SECTION では、著作権法の目的について説明します。著作権法は単に権利を保護する ためだけに法律が書かれているのではないことを理解しましょう。"
  >
    <h3>h3 見出し</h3>
    <h4>h4 見出し</h4>
    <p>著作権については「著作権法」で定めています。著作権法の第 1 条に、法律の目的 が書いてあります。</p>
  </Section>
</Page>
