---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import Modal from '../../components/Modal.astro';
import ModalTrigger from '../../components/ModalTrigger.astro';
import Page from '../../templates/Page.astro';
---

<Page
  chapterNum={1}
  title="著作権の基礎"
  description="当ウェブサイトは、主に教育機関で授業をされている先生を対象に著作権について説明しています。このページでは著作権の基礎や著作物、著作者等について解説しています。"
>
  <Section
    number="01"
    title="著作権法とは"
    description="このsectionでは、著作権法の目的について説明します。著作権法は単に権利を保護するためだけに法律が書かれているのではないことを理解しましょう。"
  >
    <h3>著作権法とは</h3>
    <h4>著作権法</h4>
    <p>著作権については「著作権法」で定めています。著作権法の第1条に、法律の目的が書いてあります。</p>
    <Point type="simple" title="第1条（目的）">
      この法律は、著作物並びに実演、レコード、放送及び有線放送に関し著作者の権利及びこれに隣接する権利を定め、これらの文化的所産の公正な利用に留意しつつ、著作者等の権利の保護を図り、もつて文化の発展に寄与することを目的とする。
    </Point>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">著作権法って著作物をつくった人の権利を守る法律なんですよね。</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        それは正しいのですが、もう1つ大事な役割があります。それは著作物の公正な利用です。つまり、ある程度自由に使える範囲を決めて、みんなが著作物を利用しやすくするということです。
      </Bubble>
      <Bubble speaker="大院" feLevel="5">
        ガチガチに権利を守りすぎると著作物が利用されにくくなるし、あまり自由にすると権利が守られなくなるし……
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">この権利の保護と公正な利用のバランスが難しいですね。</Bubble>
      <Bubble speaker="小中" feLevel="3">文化の発展って具体的にはどういうことでしょう？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        著作権法でいう文化の発展は、要するに多様な表現物が生まれることです。特許が扱う技術の分野は、極端に言ってしまえば1つの技術になってもよいわけです。例えば、値段が同じなら、誰もが一番持続時間の長い電池を使いたいですよね。でも、著作物はそうではない。Mr.Childrenの曲があるから、Perfumeの曲がなくてもよいとは思わないでしょ。
      </Bubble>
      <Bubble speaker="小中" feLevel="1">
        なるほど。色々な表現が生まれることで豊かな社会になっていく、という考え方なんですね。日々多くの人が著作物を創っていて、登録の手続も必要ないから、たくさんの著作物が生まれやすくなる制度になっているんですね。
      </Bubble>
    </SpeechBubbles>
    <Point>著作権法の目的は著作者の権利の保護と著作物の公正な利用をもって文化の発展に寄与すること。</Point>
    <img src="/assets/images/1-1-1.png" alt="" width="1446" height="898" />
    <p>
      著作権法では、「著作物とはどういうものか」「著作権とはどういう権利か（作者の保護）」「どういう場合に著作権が制限されるのか（公正な利用とはなにか）」を決めています。
    </p>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="4">
        でも、法律って難しくてよくわからないです……<br />具体的に書いてないところも多いし。
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">
        法律ではあえて抽象的に規定していて、解釈の余地があるから、人によっては違う意見が出ることもあります。判決が出ないとわからないこともあるんですよね。
      </Bubble>
      <Bubble speaker="大院" feLevel="3">すぐには、はっきり白黒つけられないこともあるってことだ。</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        白黒つけられるところはつけておきたいですよね。先生方が参考にできるものはいろいろあります。この本の副題にある「<span
          class="font-bold text-orange-600">改正著作権法第35条運用指針</span
        ><ModalTrigger id="s1_1" />」もそのうちの1つです。
      </Bubble>
    </SpeechBubbles>
    <Modal id="s1_1">
      <p>「改正著作権法第35条運用指針」については2章で詳しく説明します。</p>
    </Modal>
  </Section>
</Page>
