---
import Section from '../../../components/Section.astro';
import IndexItem from '../../../components/IndexItem.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="References and Index"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions."
  isEN
>
  <Section
    number="01"
    title="Resources for learning about copyright"
    description="For those who want to know more about copyright, here are some resources."
  >
    <h3>For Teachers</h3>
    <ul>
      <li>
        Tatsuhiro Ueno, <span class="italic">Copyright Guide for Educators and Researchers</span>, Yuhikaku, 2021.
      </li>
      <li>
        Hisayoshi Miyatake, Dai Otsuka, <span class="italic"
          >Copyright Handbook: Teachers, Don't Copy Without Permission</span
        >, Tokyo Shoseki, 2021.
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/1tyosaku/kyouiku/sidoujireishu/index.html" target="_blank" class="block"
          >Agency for Cultural Affairs, <span class="italic">How to Use 5 Minutes of Copyright Education</span>, a
          collection of case studies of scene-based instruction in schools.</a
        >
      </li>
      <li>
        <a
          href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/pdf/92916001_01.pdf"
          target="_blank"
          class="block">Agency for Cultural Affairs Educational Activities and Copyright in Schools.</a
        >
      </li>
      <li>
        <a href="https://www.steam-library.go.jp/content/4" target="_blank" class="block"
          >STEAM Contents, <span class="italic"
            >Considering Copyright in the Digital Age - What Institution Supports a Rich Culture?</span
          ></a
        >
        <ul>
          <li>
            <a href="https://www.glocom.ac.jp/steam/2020.html" target="_blank" class="block"
              >DL page for supplementary materials</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <h3>For Students</h3>
    <ul>
      <li>
        Kaoru Okamoto, <span class="italic"
          >Learning about Copyright for the first time for Elementary and Junior High School Students</span
        >, Revised Ed., Asahi Gakusei Shinbunsha, 2019.
      </li>
      <li>
        Kensaku Fukui, <span class="italic">Introduction to Copyright for 18-Year-Olds</span>, Chikuma Primer Shinsho,
        2015.
      </li>
      <li>Satoshi Ikemura, <span class="italic">First Time Copyright Law</span>, Nikkei Bunko, 2018.</li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/chosakuken/hakase/hajimete_1/index.html" target="_blank" class="block"
          >STEAM Library, <span class="italic"
            >Considering Copyright in the Digital Age - What Institution Supports a Rich Culture?</span
          ></a
        >
      </li>
      <!-- <li>
        <a href="https://pf.bunka.go.jp/chosaku/tanoshiku/" target="_blank" class="block"
          >文化庁 楽しく学ぼうみんなの著作権</a
        >
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/chosakuken/h22_manga/index.html" target="_blank" class="block">
          文化庁 マンガでわかる著作物の利用「作太郎の奮闘記」
        </a>
      </li>
      <li>
        <a href="https://www.steam-library.go.jp/content/4" target="_blank" class="block">
          STEAMライブラリー「デジタル時代の著作権を考える - 豊かな文化を支える制度とは」
        </a>
      </li> -->
    </ul>

    <h3>Agency for Cultural Affairs Workshop Materials</h3>
    <ul>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/93726501.html" target="_blank" class="block"
          >Copyright Text.</a
        >
      </li>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/" target="_blank" class="block"
          >Seminar materials.</a
        ><span
          >(Materials can be found at the bottom of the screen under "Seminars, Symposiums, etc." for each fiscal year.)</span
        >
      </li>
    </ul>

    <h3>Media and Creator Relations</h3>
    <ul>
      <li>
        Hajime Ogushi, Takashi Kitamura, Masatoshi Someya, Kodai Kimura, Kaito Koga, Hiroki Saiki, and Ayaka Tsunoda, <span
          class="italic">The Bible for Solving Copyright Problems! A book on rights for Creators</span
        >, Bone Digital, 2018.
      </li>
      <li>Taku Inoue, <span class="italic">Latest Copyright Introduction by SNS</span>, Seibundo-Shinkosha, 2022.</li>
    </ul>

    <h3>(Japanese) Copyright Act</h3>
    <ul>
      <li>Nobuhiro Nakayama, <span class="italic">Copyright Law</span>, 3rd ed., Yuhikaku, 2020.</li>
      <li>Hisamichi Okamura, <span class="italic">Copyright Law</span>, 5th ed., Minjiho Kenkyukai, 2021.</li>
      <li>
        Ryo Shimanami, Tatsuhiro Ueno, and Hisayoshi Yokoyama, <span class="italic">Copyright Law in Japan</span>, 3rd
        ed., Yuhikaku, 2021.
      </li>
      <li>Moriyuki Kato, <span class="italic">Commentary on the Copyright Act</span>, 7th revised ed., CRIC, 2021.</li>
      <!-- <li>池村聡、小坂準記、澤田将史『実務者のための著作権ハンドブック〔新版〕』（著作権情報センター、2022）</li> -->
      <li>Kaoru Okamoto, <span class="italic">The Concept of Copyright</span>, Iwanami Shinsho, 2003.</li>
    </ul>

    <h3>Copyright FAQ</h3>
    <ul class="my-5 md:my-6">
      <li>
        <a href="https://sartras.or.jp/faqs/" target="_blank" class="block"
          >SARTRAS, FAQ on Compensation System (in Japanese)</a
        >
      </li>
      <li>
        <a href="https://www.bunka.go.jp/english/policy/copyright/" target="_blank" class="block"
          >Agency for Cultural Affairs, Copyright</a
        >
      </li>
      <li>
        <a href="http://saiteiseido.bunka.go.jp/chosakuken_qa/" target="_blank" class="block"
          >Agency for Cultural Affairs, Copyright Q&A (in Japanese)</a
        >
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/1tyosaku/kyouiku/sidoujireishu/" target="_blank" class="block"
          >Agency for Cultural Affairs, <span class="italic">How to use 5 minutes in Copyright Education</span> (in Japanese,
          for K12 teachers)</a
        >
      </li>
      <li>
        <a href="https://www.cric.or.jp/english/qa/index.html" target="_blank" class="block"
          >CRIC, Copyright in Japan Q&A</a
        >
      </li>
    </ul>
  </Section>

  <Section number="02" title="Index">
    <div class="grid gap-2">
      <IndexItem
        title="Article 35 amendment"
        items={[
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
        ]}
      />
      <IndexItem
        title="SARTRAS"
        items={[
          {
            text: 'SARTRAS (Society for the Administration of Remuneration for Public Transmissions for School Lessons)',
            href: '/en/copyright/#ref2',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="SARTRAS License"
        items={[
          {
            text: 'Q16. Can I still use the course materials after the enrollment period?',
            href: '/en/use/#q16',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="TRIPS Agreement"
        items={[
          {
            text: 'Q10. What should I care about when dealing with foreign copyrighted works in the classroom?',
            href: '/en/use/#q10',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Reference"
        items={[
          {
            text: 'What is -Citation',
            href: '/en/copyright/#sec-02',
            memo: 'Chapter 2, Section 02',
          },
        ]}
      />
      <IndexItem
        title="Non-profit performances, etc."
        items={[
          {
            text: 'Performances, etc. not for profit (Article 38)',
            href: '/en/basis/#ref3',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="(Artist's) license to perform"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Distance learning"
        items={[
          {
            text: 'What could be done without a license or free of charge for teaching?',
            href: '/en/copyright/#ref1-1',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Override problem"
        items={[
          {
            text: 'Q6. Can I show you a film in class?',
            href: '/en/use/#q6',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Orphan Works"
        items={[
          {
            text: 'Step 4: If the copyright holder is unknown',
            href: '/en/permission/#ref5',
            memo: 'Chapter 4, Section 01',
          },
        ]}
      />
      <IndexItem
        title="The Right to Communicate Publicly"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Public transmission rights (e.g., putting on a show)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
          {
            text: 'Communicate to the public (Guidelines, p.9)',
            href: '/en/copyright/#ref6',
            memo: 'Chapter 2, Section 04',
          },
          {
            text: 'Mode of reproduction, public transmission, and communication',
            href: '/en/copyright/#ref7',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="On-demand teaching"
        items={[
          {
            text: 'Licenses that had to be obtained',
            href: '/en/copyright/#ref22',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Guidelines for Article 35 under the Amended Copyright Act"
        items={[
          {
            text: 'What is copyright?',
            href: '/en/basis/#sec-04',
            memo: 'Chapter 1, Section 01',
          },
          {
            text: 'Guideline for Article 35 under the Amended Copyright Act',
            href: '/en/copyright/#sec-04',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Publication in textbooks, etc."
        items={[
          {
            text: 'Publication in textbooks, etc. (Article 33)',
            href: '/en/basis/#ref8',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Co-author(s)"
        items={[
          {
            text: 'When more than one person is the author (co-authors)',
            href: '/en/basis/#ref9',
            memo: 'Chapter 1, Section 03',
          },
          {
            text: 'Q2. Can teachers involved in the creation of jointly produced teaching materials use them?',
            href: '/en/use/#q2',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Joint authorship"
        items={[
          {
            text: 'When more than one person is the author (co-authors)',
            href: '/en/basis/#ref9',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Examples of works that can be used without permission"
        items={[
          {
            text: 'Examples of works that may be used without permission',
            href: '/en/basis/#ref10',
            memo: 'Chapter 1, Section 02',
          },
        ]}
      />
      <IndexItem
        title="Creative Commons License"
        items={[
          {
            text: 'Creative Commons License',
            href: '/en/basis/#ref11',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Limited rights provision"
        items={[
          {
            text: 'Limitations on rights',
            href: '/en/basis/#ref12',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
          {
            text: 'Q6. Can I show a film in class?',
            href: '/en/use/#q6',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Public transmission rights (e.g., putting copyrightable material on the WWW or an FTP server)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: '“Public transmission right" and "right to make transmittable" are also unfamiliar words...',
            href: '/en/basis/#ref13',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
          {
            text: 'Limitations on rights when dealing with copyrighted works in the classroom',
            href: '/en/copyright/#sec-03',
            memo: 'Chapter 2, Section 03',
          },
          {
            text: 'Public Transmission (pages 5-6 of the Guidelines)',
            href: '/en/copyright/#ref14',
            memo: 'Chapter 2, Section 04',
          },
          {
            text: 'Mode of reproduction, public transmission and communication',
            href: '/en/copyright/#ref7',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Recitation right (e.g., reciting a poem in a bookstore)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Permission for public transmission"
        items={[
          {
            text: '[Permission for Public Transmission] diagram',
            href: '/en/copyright/#ref15',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Publication right"
        items={[
          {
            text: 'Publication right (Article 18)',
            href: '/en/basis/#ref16',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Q4. I would like to present essays and reports of graduating students to the class',
            href: '/en/use/#q4',
            memo: 'Chapter 3 Section 01',
          },
        ]}
      />
      <IndexItem
        title="Reproduction right"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction as examination questions, etc."
        items={[
          {
            text: 'Reproduction, etc. as examination questions (Article 36)',
            href: '/en/basis/#ref17',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction for personal use"
        items={[
          {
            text: 'Reproduction for private use (Article 30)',
            href: '/en/basis/#ref18',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Attribution right"
        items={[
          {
            text: 'Attribution right (Article 19)',
            href: '/en/basis/#ref19',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Q4. I would like to present essays and reports of graduating students to the class',
            href: '/en/use/#q4',
            memo: 'Chapter 3 Section 01',
          },
        ]}
      />
      <IndexItem
        title="Limitations on rights when dealing with copyrighted works in the classroom"
        items={[
          {
            text: 'Limitations on rights when dealing with copyrighted works in the classroom',
            href: '/en/copyright/#sec-03',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Compensation System for Public Transmission for Classroom Purposes"
        items={[
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
        ]}
      />
      <IndexItem
        title="Movie rights"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Performing right"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Transfer right"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Unofficial resignation"
        items={[
          {
            text: 'Duty work (corporate work)',
            href: '/en/basis/#ref20',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Types of crime which require a formal complaint from the victim in order to prosecute"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Studio-based classes"
        items={[
          {
            text: 'Licenses that had to be obtained',
            href: '/en/copyright/#ref22',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="War supplementation system"
        items={[
          {
            text: 'Protection Term',
            href: '/en/basis/#ref23',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Enabling rights"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Article 35 (Reproduction, etc. in schools and other educational institutions)',
            href: '/en/copyright/#ref24',
            memo: 'Chapter 2 Section 03',
          },
          {
            text: 'Public Transmission (page 5-6 of the Guidelines)',
            href: '/en/copyright/#ref14',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Lending rights (for copyrighted works)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Copyright owner"
        items={[
          {
            text: 'Authors and copyright owners',
            href: '/en/basis/#ref25',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Simulation system for award compensation amount in case of unknown copyright holder"
        items={[
          {
            text: 'Step 4: If the copyright holder is unknown',
            href: '/en/permission/#ref5',
            memo: 'Chapter 4, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Copyright free"
        items={[
          {
            text: 'Public domain',
            href: '/en/basis/#ref26',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Copyright Act Amendments"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Examples of works that are not copyrighted works under the Copyright Act"
        items={[
          {
            text: 'Examples of works that are not copyrighted works under the Copyright Act',
            href: '/en/basis/#ref27',
            memo: 'Chapter 1, Section 02',
          },
        ]}
      />
      <IndexItem
        title="Copyright"
        items={[
          {
            text: 'Copyrights (Economic Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Author"
        items={[
          {
            text: 'Definition of author',
            href: '/en/basis/#sec-03',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Moral rights"
        items={[
          {
            text: 'Moral rights',
            href: '/en/basis/#ref28',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Forum of Those Related about Educational Use of Works"
        items={[
          {
            text: 'Forum of Those Related about Educational Use of Works',
            href: '/en/copyright/#ref29',
            memo: 'Chapter 2, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Types of works"
        items={[
          {
            text: 'Table of [Types of works (Article 10.1)]',
            href: '/en/basis/#ref30',
            memo: 'Chapter 1, Section 02',
          },
          {
            text: 'Types of works',
            href: '/en/copyright/#ref31',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Neighboring rights"
        items={[
          {
            text: 'Neighboring rights',
            href: '/en/basis/#ref32',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="(Movie) exhibition rights"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Integrity right"
        items={[
          {
            text: 'Integrity right (Article 20)',
            href: '/en/basis/#ref33',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction in libraries, etc."
        items={[
          {
            text: 'Reproduction in libraries, etc. (Article 31)',
            href: '/en/basis/#ref34',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Derivative work (e.g., alt. world, side story, doujinshi, fanfiction, etc.)"
        items={[
          {
            text: 'Table of [Types of works (Articles 11, 12, 12-2)]',
            href: '/en/basis/#ref35',
            memo: 'Chapter 1, Section 02',
          },
          {
            text: 'Right to display name (Article 19)',
            href: '/en/basis/#ref19',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Public domain',
            href: '/en/basis/#ref26',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Rights of the original author to use derivative works"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Penal regulations"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Public domain"
        items={[
          {
            text: 'Public domain',
            href: '/en/basis/#ref26',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Universal Copyright Convention"
        items={[
          {
            text: 'Q10. What should I pay attention to when dealing with foreign works in class?',
            href: '/en/use/#q10',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="(Movie) distribution rights"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Non-privileged crime"
        items={[
          {
            text: 'Penalties',
            href: '/en/basis/#ref21',
            memo: 'Chapter 1 Section 04',
          },
        ]}
      />
      <IndexItem
        title="Reproduction (Rights)"
        items={[
          {
            text: 'Copyrights (Copyright Property Rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Works covered in class',
            href: '/en/copyright/#sec-01',
            memo: 'Chapter 2, Section 01',
          },
          {
            text: 'Limitations on rights when dealing with copyrighted works in the classroom',
            href: '/en/copyright/#sec-03',
            memo: 'Chapter 2, Section 03',
          },
          {
            text: 'Duplication (Guidelines, p.5)',
            href: '/en/copyright/#ref36',
            memo: 'Chapter 2, Section 04',
          },
          {
            text: 'Mode of reproduction, public transmission and communication',
            href: '/en/copyright/#ref7',
            memo: 'Chapter 2, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Use of Incidental Works"
        items={[
          {
            text: 'Use of Incidental Works (Article 30-2)',
            href: '/en/basis/#ref37',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Berne Convention"
        items={[
          {
            text: 'Q10. What should I pay attention to when dealing with foreign works in class?',
            href: '/en/use/#q10',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Corporate works"
        items={[
          {
            text: 'Corporate works',
            href: '/en/basis/#ref20',
            memo: 'Chapter 1, Section 03',
          },
        ]}
      />
      <IndexItem
        title="Protection Term"
        items={[
          {
            text: 'Protection Term',
            href: '/en/basis/#ref23',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Compensation"
        items={[
          {
            text: '35 Amendments of 2018',
            href: '/en/copyright/#ref1',
            memo: 'Chapter 2 Section 03',
          },
        ]}
      />
      <IndexItem
        title="Adaptation right"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'I think "adaptation" is a phrase peculiar to copyright law...',
            href: '/en/basis/#ref13',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Publication in textbooks, etc. (Article 33)',
            href: '/en/basis/#ref8',
            memo: 'Chapter 1, Section 04',
          },
          {
            text: 'Q8. Is there a problem if I arrange a piece of music in a way that makes it easier to practice?',
            href: '/en/use/#q8',
            memo: 'Chapter 3, Section 01',
          },
          {
            text: 'Q11. What would students care about when conducting a Bibliobattle?',
            href: '/en/use/#q11',
            memo: 'Chapter 3, Section 01',
          },
        ]}
      />
      <IndexItem
        title="Translation rights (to a book)"
        items={[
          {
            text: 'Copyrights (Economic rights)',
            href: '/en/basis/#ref4',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Principle of no-formality"
        items={[
          {
            text: 'Copyright is "the right not to do specific act without permission"',
            href: '/en/basis/#sec-04',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Honor and reputation right"
        items={[
          {
            text: 'In POINT "Moral Rights" pop-up',
            href: '/en/basis/#ref33-1',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="License"
        items={[
          {
            text: 'License',
            href: '/en/basis/#ref38',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
      <IndexItem
        title="Terms of Use"
        items={[
          {
            text: 'Check the terms of use',
            href: '/en/basis/#ref39',
            memo: 'Chapter 1, Section 04',
          },
        ]}
      />
    </div>
  </Section>
</Page>
