---
import Section from '../../../components/Section.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="References and Index"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions."
  isEN
>
  <Section
    number="01"
    title="Resources for learning about copyright"
    description="For those who want to know more about copyright, here are some resources."
  >
    <h3>For Teachers</h3>
    <ul>
      <li>
        Tatsuhiro Ueno, <span class="italic">Copyright Guide for Educators and Researchers</span>, Yuhikaku, 2021.
      </li>
      <li>
        Hisayoshi Miyatake, Dai Otsuka, <span class="italic"
          >Copyright Handbook: Teachers, Don't Copy Without Permission</span
        >, Tokyo Shoseki, 2021.
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/1tyosaku/kyouiku/sidoujireishu/index.html" target="_blank" class="block"
          >Agency for Cultural Affairs, <span class="italic">How to Use 5 Minutes of Copyright Education</span>, a
          collection of case studies of scene-based instruction in schools.</a
        >
      </li>
      <li>
        <a
          href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/pdf/92916001_01.pdf"
          target="_blank"
          class="block">Agency for Cultural Affairs Educational Activities and Copyright in Schools.</a
        >
      </li>
      <li>
        <a href="https://www.steam-library.go.jp/content/4" target="_blank" class="block"
          >STEAM Contents, <span class="italic"
            >Considering Copyright in the Digital Age - What Institution Supports a Rich Culture?</span
          ></a
        >
        <ul>
          <li>
            <a href="https://www.glocom.ac.jp/steam/2020.html" target="_blank" class="block"
              >DL page for supplementary materials</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <h3>For Students</h3>
    <ul>
      <li>
        Kaoru Okamoto, <span class="italic"
          >Learning about Copyright for the first time for Elementary and Junior High School Students</span
        >, Revised Ed., Asahi Gakusei Shinbunsha, 2019.
      </li>
      <li>
        Kensaku Fukui, <span class="italic">Introduction to Copyright for 18-Year-Olds</span>, Chikuma Primer Shinsho,
        2015.
      </li>
      <li>Satoshi Ikemura, <span class="italic">First Time Copyright Law</span>, Nikkei Bunko, 2018.</li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/chosakuken/hakase/hajimete_1/index.html" target="_blank" class="block"
          >STEAM Library, <span class="italic"
            >Considering Copyright in the Digital Age - What Institution Supports a Rich Culture?</span
          ></a
        >
      </li>
      <!-- <li>
        <a href="https://pf.bunka.go.jp/chosaku/tanoshiku/" target="_blank" class="block"
          >文化庁 楽しく学ぼうみんなの著作権</a
        >
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/chosakuken/h22_manga/index.html" target="_blank" class="block">
          文化庁 マンガでわかる著作物の利用「作太郎の奮闘記」
        </a>
      </li>
      <li>
        <a href="https://www.steam-library.go.jp/content/4" target="_blank" class="block">
          STEAMライブラリー「デジタル時代の著作権を考える - 豊かな文化を支える制度とは」
        </a>
      </li> -->
    </ul>

    <h3>Agency for Cultural Affairs Workshop Materials</h3>
    <ul>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/93726501.html" target="_blank" class="block"
          >Copyright Text.</a
        >
      </li>
      <li>
        <a href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/" target="_blank" class="block"
          >Seminar materials.</a
        ><span
          >(Materials can be found at the bottom of the screen under "Seminars, Symposiums, etc." for each fiscal year.)</span
        >
      </li>
    </ul>

    <h3>Media and Creator Relations</h3>
    <ul>
      <li>
        Hajime Ogushi, Takashi Kitamura, Masatoshi Someya, Kodai Kimura, Kaito Koga, Hiroki Saiki, and Ayaka Tsunoda, <span
          class="italic">The Bible for Solving Copyright Problems! A book on rights for Creators (Revised Edition)</span
        >, Bone Digital, 2023.
      </li>
      <li>Taku Inoue, <span class="italic">Latest Copyright Introduction by SNS</span>, Seibundo-Shinkosha, 2022.</li>
    </ul>

    <h3>(Japanese) Copyright Act</h3>
    <ul>
      <li>Nobuhiro Nakayama, <span class="italic">Copyright Law</span>, 4th ed., Yuhikaku, 2023.</li>
      <li>Hisamichi Okamura, <span class="italic">Copyright Law</span>, 5th ed., Minjiho Kenkyukai, 2021.</li>
      <li>
        Ryo Shimanami, Tatsuhiro Ueno, and Hisayoshi Yokoyama, <span class="italic">Copyright Law in Japan</span>, 3rd
        ed., Yuhikaku, 2021.
      </li>
      <li>Moriyuki Kato, <span class="italic">Commentary on the Copyright Act</span>, 7th revised ed., CRIC, 2021.</li>
      <!-- <li>池村聡、小坂準記、澤田将史『実務者のための著作権ハンドブック〔新版〕』（著作権情報センター、2022）</li> -->
      <li>Kaoru Okamoto, <span class="italic">The Concept of Copyright</span>, Iwanami Shinsho, 2003.</li>
    </ul>

    <h3>Copyright FAQ</h3>
    <ul class="my-5 md:my-6">
      <li>
        <a href="https://sartras.or.jp/faqs/" target="_blank" class="block"
          >SARTRAS, FAQ on Compensation System (in Japanese)</a
        >
      </li>
      <li>
        <a href="https://www.bunka.go.jp/english/policy/copyright/" target="_blank" class="block"
          >Agency for Cultural Affairs, Copyright</a
        >
      </li>
      <li>
        <a href="http://saiteiseido.bunka.go.jp/chosakuken_qa/" target="_blank" class="block"
          >Agency for Cultural Affairs, Copyright Q&A (in Japanese)</a
        >
      </li>
      <li>
        <a href="https://pf.bunka.go.jp/chosaku/1tyosaku/kyouiku/sidoujireishu/" target="_blank" class="block"
          >Agency for Cultural Affairs, <span class="italic">How to use 5 minutes in Copyright Education</span> (in Japanese,
          for K12 teachers)</a
        >
      </li>
      <li>
        <a href="https://www.cric.or.jp/english/qa/index.html" target="_blank" class="block"
          >CRIC, Copyright in Japan Q&A</a
        >
      </li>
    </ul>
  </Section>
</Page>
