---
import Section from '../../../components/Section.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  title="License"
  description="This material, which explains copyright to teachers primarily teaching in educational institutions, includes a page for introducing our team and epilogue."
  isEN
>
  <Section number="03" title="License">
    <p>
      This material is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank">
        Creative Commons Attribution 4.0 International License (CC BY 4.0)
      </a>.
    </p>
    <p>
      When using this material, please reference as <span class="italic"
        >Understanding Copyright in Classes Web/AXIES/CC BY 4.0.</span
      >
    </p>
  </Section>
</Page>
