---
// import type { HTMLAttributes } from 'astro/types';

// interface Props extends HTMLAttributes<'a'> {
//   href: string;
// }

// const { href, class: className, ...attrs } = Astro.props;

// const activeClass = href === new URL(Astro.request.url).pathname && 'text-orange-600';
---

<!-- <a href={href} class={`${className} ${activeClass}`} {...attrs}>
  <slot />
</a> -->
