---
type Props = {
  speaker: string;
}

const {speaker} = Astro.props;
---

<dl class="flex gap-[19px] md:gap-7">
  <dt class="text-center w-[36px] min-w-[36px] md:w-[48px] md:min-w-[48px]">
    <img src={speaker === '小中' ? '/assets/images/konaka.png' : speaker === '隅木' ? '/assets/images/sumiki.png' : '/assets/images/daiin.png'} alt="" />
    <p class="font-bold text-[11px] leading-relaxed">{speaker}</p>
  </dt>
  <dd class="p-2 bg-white rounded-lg md:p-4 relative before:content-[''] before:border-r-[15px] before:border-y-[6px] before:border-y-transparent md:before:border-r-[20px] md:before:border-y-[8px] before:absolute before:top-4 before:left-[-15px] before:border-r-white md:before:-left-5 before:block grow h-fit"><slot /></dd>
</dl>
