---
const { className } = Astro.props;

interface Props {
  className?: string;
}
---

<div class={className}>
  <svg
    width="33"
    height="32"
    viewBox="0 0 33 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17.4853 9C17.4853 8.44772 17.0376 8 16.4853 8C15.933 8 15.4853 8.44772 15.4853 9L15.4853 20.1805L10.1073 14.8026C9.7221 14.4173 9.09751 14.4173 8.71227 14.8026C8.32703 15.1878 8.32703 15.8124 8.71227 16.1977L15.8025 23.2879C16.1877 23.6731 16.8123 23.6731 17.1975 23.2879L24.2878 16.1977C24.673 15.8124 24.673 15.1878 24.2878 14.8026C23.9025 14.4173 23.2779 14.4173 22.8927 14.8026L17.4853 20.21L17.4853 9Z"
      fill="currentColor"></path>
    <rect
      x="1.42334"
      y="1"
      width="30.1534"
      height="29.5768"
      rx="14.7884"
      stroke="currentColor"
      stroke-width="2"></rect>
  </svg>
</div>
