---
type Props = {
  title: string;
  list: {item: string}[]
}

const {title, list} = Astro.props;
---

<div class="py-4 md:py-6 border-y border-orange-500">
  <dt class="font-bold">{title}</dt>
  <dd class="mt-3 md:mt-6">
    <ul class="list-disc pl-[15px] md:pl-4">
      {list.map(({item}) => {
        return (
          <li>
            {item}
          </li>
        )
      })}
    </ul>
  </dd>
</div>
