---
import A from './A.astro';
---

<footer class="mt-10 bg-orange-300 flex flex-col md:flex-row gap-4 items-center md:justify-between px-4 pt-6 pb-7 md:p-10">
  <A href="/">
    <img src="/assets/images/logo.svg" alt="すごくわかる著作権と授業" class="max-w-[233px]" />
  </A>
  <div class="flex flex-col gap-3 justify-center md:items-end md:gap-2">
    <p class="text-xs leading-relaxed md:text-sm md:leading-relaxed">
      このウェブサイトの内容は
      <a href="https://github.com/axies-ce/sugowaka35" class="underline hover:no-underline">GitHub</a>
      で公開しています。
    </p>
    <div class="flex gap-3 md:gap-4 justify-center">
      <img src="/assets/images/cc.svg" alt="CC" />
      <img src="assets/images/axies.svg" alt="AXIES" />
    </div>
  </div>
</footer>
