---
import { config } from '../../package.json';
---

<footer class="bg-orange-300">
	<a href={`${config.base}/`} class="font-bold">すごくわかる著作権と授業</a>
  <p>このウェブサイトの内容は <a href="https://github.com/axies-ce/sugowaka35">GitHub</a> で公開しています。</p>
</footer>
