---
import A from './A.astro';
---

<footer class="bg-orange-300">
  <A href="/">すごくわかる著作権と授業</A>
  <p>このウェブサイトの内容は <a href="https://github.com/axies-ce/sugowaka35">GitHub</a> で公開しています。</p>
</footer>
