---
---

<>
  <header class="border-t-4 border-t-orange-400">
    <div class="md:mx-auto md:max-w-[1160px] p-4 md:px-10 flex justify-between w-full">
      <a href="/" class="font-bold inline-block w-40 md:w-auto">
        <img src="http://via.placeholder.com/278x44" alt="すごくわかる著作権と授業" />
      </a>
    </div>
  </header>
  <button class="fixed top-4 right-4 flex flex-col md:hidden text-[10px] leading-none gap-1.5">
    <div class="w-6 flex flex-col gap-1">
      <span class="bg-black h-px w-full"></span>
      <span class="bg-black h-px w-full"></span>
      <span class="bg-black h-px w-full"></span>
    </div>
    目次
  </button>
</>
