---
type Props = {
  item: {
    text: string;
    href: string;
    memo?: string;
  }[];
}

const {item} = Astro.props;
---
<div>
  <h6 class="font-bold">
    <slot />
  </h6>
  <ul>
    {item.map(({text, href, memo}) => {
      return (
        <li class="text-orange-600">
          <a href={href}>
            {text}
          </a>
          {memo && (
            <span class="text-stone-700">
              （{memo}）
            </span>
          )}
        </li>
      )
    })}
  </ul>
</div>
