---
type Props = {
  title?: string;
  items: {
    text: string;
    href: string;
    memo?: string;
  }[];
};

const { title, items } = Astro.props;
---

<div>
  <p class="font-bold">{title}</p>
  <ul>
    {
      items.map(({ text, href, memo }) => {
        return (
          <li>
            <a href={href}>{text}</a>
            {memo && <span class="text-stone-700">（{memo}）</span>}
          </li>
        );
      })
    }
  </ul>
</div>
