---
type Props = {
  href: string;
  isExternal?: boolean;
};

const { href, isExternal } = Astro.props;
---

<a
  href={href}
  target={isExternal && '_blank'}
  rel={isExternal && 'noopener noreferrer'}
  class="text-orange-500 underline"
>
  <slot />
</a>
