---
type Props = {
  title?: string;
  type?: string;
}

const {title, type} = Astro.props;
---
<>
  {title && (<h5 class="font-bold text-orange-500 text-[15px] leading-normal md:text-base md:leading-normal">{title}</h5>)}

  <ul class={`${type === "ol" ? "list-decimal" : "list-disc"} pl-[15px] md:pl-4`}>
    <slot />
  </ul>
</>
