---
type Props = {
  title?: string;
  type?: string;
  list: {
    item: string
    list?: {
      item: string
    }
  }[]
}

const {title, type, list} = Astro.props;
---

<dl class="py-4 md:py-6 border-y border-orange-500">
  {title && (<dt class="font-bold">{title}</dt>)}
  <dd class="mt-3 md:mt-6">
    <ul class={`${type === "disc" ? "list-disc" : "list-decimal"} pl-[15px] md:pl-4`}>
      {list.map(({item}) => {
        return (
          <li>
            {item}
          </li>
        )
      })}
    </ul>
  </dd>
</dl>
