---
import MenuItem from "./MenuItem.astro"
---

<div id="js-nav" class="fixed top-0 left-full translate-x-0 transition-transform duration-300 md:sticky md:top-10 md:left-auto md:right-0 md:block md:max-h-[100vh-40px]">
  <nav class="z-20 min-h-screen w-screen bg-white px-4 pt-14 pb-6 md:min-h-0 md:w-60 md:rounded-2xl md:p-5 md:shadow-[8px_8px_0px_rgba(237,108,0,0.1)] lg:w-[280px] lg:p-6">
    <ul class="text-[17px] font-bold leading-normal text-stone-800 md:flex md:flex-col md:gap-2 md:text-base md:leading-normal">
      <MenuItem href="/introduction">
        はじめに
      </MenuItem>
      <MenuItem href="/extra">
        資料集・索引
      </MenuItem>
      <MenuItem href="/basis">
        著作権の基礎
      </MenuItem>
      <MenuItem href="/copyright">
        授業における著作権
      </MenuItem>
      <MenuItem href="/use">
        授業における著作物利用Q&A
      </MenuItem>
      <MenuItem href="/permission">
        許諾の取り方
      </MenuItem>
    </ul>
  </nav>
</div>
