---
import MenuItem from "./MenuItem.astro"
---

<div id="js-nav" class="transition-transform duration-300 md:block md:sticky md:top-10 md:max-h-[100vh-40px] top-0 left-full fixed md:left-auto md:right-0 md:transform-x-0">
  <nav class="md:w-60 lg:w-[280px] md:rounded-2xl bg-white md:p-5 lg:p-6 px-4 pt-14 pb-6 min-h-screen w-screen z-20 md:min-h-0 md:shadow-[8px_8px_0px_rgba(237,108,0,0.1)]">
    <ul class="text-[17px] md:text-base md:leading-normal font-bold leading-normal text-stone-800 md:flex md:flex-col md:gap-2">
      <MenuItem href="/introduction">
        はじめに
      </MenuItem>
      <MenuItem href="/extra">
        資料集・索引
      </MenuItem>
      <MenuItem
        href="/basis"
        sub={[
          {
            section: "著作権法とは",
            id: "#law",
          },
          {
            section: "著作物とは",
            id: "#work",
          },
          {
            section: "著作者とは",
            id: "#author",
          },
          {
            section: "著作権とは",
            id: "#copyright",
          },
        ]}>
        著作権の基礎
      </MenuItem>
      <MenuItem
        href="/copyright"
        sub={[
          {
            section: "授業と著作物",
            id: "#class",
          },
          {
            section: "引用（32条1項）",
            id: "#quote",
          },
          {
            section: "授業目的の複製等（35条）",
            id: "#duplication",
          },
          {
            section: "改正著作権法第35条運用指針",
            id: "#guidelines",
          },
        ]}>
        授業における著作権
      </MenuItem>
      <MenuItem
        href="/use"
        sub={[
          {
            section: "Q1",
            id: "#q1",
          },
        ]}>
        授業における著作物利用Q&A
      </MenuItem>
      <MenuItem
        href="/permission"
        sub={[
          {
            section: "利用許諾の取り方",
            id: "#get_permission",
          },
        ]}>
        許諾の取り方
      </MenuItem>
    </ul>
  </nav>
</div>
