---
import { twJoin } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  isEN?: boolean
  href: string;
  titleEN: string;
  titleJP: string;
  className?: string;
  submenu?: {
    titleEN: string;
    titleJP: string;
    href: string;
  }[];
  isSmall?: boolean
}

const { isEN, href, titleEN, titleJP, className, submenu, isSmall } = Astro.props;

const pathname = Astro.url.pathname.replace(/^\/en/, '')
const isCurrent = href === pathname;
const isSubCurrent = submenu?.find(item => item.href === pathname );
---

<li
  class={twJoin(
    (submenu && (isCurrent || isSubCurrent) && 'my-2 bg-orange-50 p-2 md:rounded-lg'),
    className
  )}
>
  <a
    href={isEN ? ('/en' + href) : href}
    class={twJoin(
      'group relative flex items-center gap-2.5 py-2 pl-2 font-bold transition-colors hover:text-orange-600',
      (submenu ? (
        (isCurrent || isSubCurrent)
          ? 'text-[0.8125rem]/normal'
          : '!py-3 text-[1.0625rem]/normal md:!py-2 md:text-base/normal')
      : (isCurrent ? 'bg-orange-50 text-orange-600 md:rounded-lg' : '')),
      isSmall && '!py-2 !text-sm/normal font-normal md:!py-1.5',
      isSmall && isCurrent && '!font-bold'
    )}
  >
    <p>{isEN ? titleEN : titleJP }</p>
    <img
      src="/assets/images/chevron-right.svg"
      width="16"
      height="16"
      alt=""
      class={twJoin(
        'ml-auto transition-transform ease-out group-hover:translate-x-1 md:hidden',
        (isCurrent || isSubCurrent) && 'hidden'
      )}
    />
  </a>
  {submenu &&
    (isCurrent || isSubCurrent) && (
      <ul class="md:pb-1">
        {submenu.map(({ titleEN, titleJP, href }) => {
          return (
            <li class='relative'>
              <a
                href={isEN ? ('/en' + href) : href}
                class={twJoin(
                  'group/sub flex py-2 text-base/[1.75] font-normal transition-colors hover:text-orange-600 md:py-1.5 md:text-sm/[1.75]',
                  'before:mx-[0.71875rem] before:mt-[0.59375rem] before:block before:h-[0.5625rem] before:min-h-[0.5625rem] before:w-[0.5625rem] before:min-w-[0.5625rem] before:rounded-full before:border before:border-white before:bg-stone-500 md:before:mt-[0.484375rem]',
                  href === pathname && '!font-bold text-orange-600 before:!bg-orange-600'
                )}
              >
                <p class="flex-1">{isEN ? titleEN : titleJP }</p>
                <img
                  src="/assets/images/chevron-right.svg"
                  width="16"
                  height="16"
                  alt=""
                  class={twJoin(
                    'ml-0.5 transition-transform ease-out group-hover/sub:translate-x-1',
                    href === pathname && 'hidden'
                  )}
                />
              </a>
            </li>
          );
        })}
      </ul>
    )
  }
</li>
