---
import MenuItem from "./MenuItem.astro"
---

<div id="js-nav" class="transition-transform duration-300 md:block md:sticky md:top-10 md:max-h-[100vh-40px] top-0 left-full fixed md:left-auto md:right-0 transform-x-0">
  <nav class="md:w-60 lg:w-[280px] md:rounded-2xl bg-white md:p-5 lg:p-6 px-4 pt-14 pb-6 min-h-screen w-screen z-20 md:min-h-0 md:shadow-[8px_8px_0px_rgba(237,108,0,0.1)]">
    <ul class="text-[17px] md:text-base md:leading-normal font-bold leading-normal text-stone-800 md:flex md:flex-col md:gap-2">
      <MenuItem href="/introduction">
        はじめに
      </MenuItem>
      <MenuItem href="/extra">
        資料集・索引
      </MenuItem>
      <MenuItem href="/basis">
        著作権の基礎
      </MenuItem>
      <MenuItem href="/copyright">
        授業における著作権
      </MenuItem>
      <MenuItem href="/use">
        授業における著作物利用Q&A
      </MenuItem>
      <MenuItem href="/permission">
        許諾の取り方
      </MenuItem>
    </ul>
  </nav>
</div>
