---
type Props = {
  id?: string;
  word?: string;
  isEN?: boolean;
};

const { id, word, isEN } = Astro.props;
---

{word && <span class="sr-only">{word}</span>}
<button
  data-micromodal-trigger={'modal-' + id}
  class="group cursor-pointer print:hidden"
  aria-label={word ? (isEN ? 'Show definition' : '定義を表示') : isEN ? 'Show memo' : 'メモを表示'}
>
  {
    word ? (
      <>
        <span class="underline underline-offset-2 group-hover:no-underline" aria-hidden="true">
          {word}
        </span>
        <img src="/assets/images/question.svg" alt="" class="mx-0.5 mb-0.5 inline" width="16" height="16" />
      </>
    ) : (
      <img
        src="/assets/images/memo.svg"
        alt=""
        class="mx-0.5 mb-0.5 inline group-hover:opacity-60"
        width="26"
        height="26"
      />
    )
  }
</button>
