---
type Props = {
  type?: string;
  title?: string;
  id?: string;
  tag?: string;
  titleStyle?: string;
};

const { type, title, id, tag, titleStyle } = Astro.props;
---

<div id={id} class="point">
  {
    type !== 'simple' && (
      <div class="ml-3 inline-block rounded-t-lg bg-orange-600 px-4 py-0.5 text-sm/normal font-medium uppercase text-white md:ml-4 md:px-4 md:py-1 md:text-base">
        {tag === 'column' ? 'Column' : 'Point'}
      </div>
    )
  }
  <div class="rounded-2xl bg-stone-100 p-3 md:p-4">
    {title && <p class={titleStyle !== 'normal' && 'mb-0.5 text-base/relaxed font-bold text-orange-600'}>{title}</p>}
    <slot />
  </div>
</div>
