---
type Props = {
  type?: string;
  title?: string;
  id?: string;
  tag?: string;
}

const {type, title, id, tag} = Astro.props;
---

<div id={id} class="point">
  {type !== 'simple' && (<div class="ml-3 inline-block rounded-t-lg bg-orange-600 px-4 py-0.5 text-sm font-medium uppercase leading-normal text-white md:ml-4 md:px-4 md:py-1 md:text-base md:leading-normal">{tag === 'column' ? 'Column' : 'Point'}</div>)}
  <div class="rounded-2xl bg-stone-100 p-3 md:p-4">
    {title && (
      <h6 class="text-base font-bold leading-relaxed text-orange-600 mb-0.5">
        {title}
      </h6>
    )}
    <p><slot /></>
  </div>
</div>
