---
type Props = {
  type?: string;
  title?: string;
  id?: string;
}

const {type, title, id} = Astro.props;
---

<div id={id}>
  {type !== 'simple' && (<div class="ml-3 inline-block rounded-t-lg bg-orange-600 px-4 py-0.5 text-sm font-medium uppercase leading-normal text-white md:ml-4 md:px-4 md:py-1 md:text-base md:leading-normal">Point</div>)}
  <div class="rounded-2xl bg-stone-100 p-3 md:p-4">
    {title && (
      <dt class="text-base font-bold leading-relaxed text-orange-600">
        {title}
      </dt>
    )}
    <slot />
  </div>
</div>
