<dl class="md:max-w-[480px]">
  <dt class="text-white bg-orange-600 uppercase font-medium text-sm md:text-base leading-normal md:leading-normal px-4 py-0.5 rounded-t-lg md:px-4 md:py-1 ml-3 md:ml-4 inline-block">Memo</dt>
  <dd class="bg-white rounded-2xl p-6">
    <p><slot /></p>
    <button class="text-white bg-neutral-500 py-1 px-4 text-base leading-normal rounded-lg mt-4 md:mt-6 mx-auto block">閉じる</button>
  </dd>
</dl>
