---
type Props = {
  number: string,
  title: string,
  description?: string,
}

const {number, title, description} = Astro.props;
---

<section class="bg-white rounded-2xl overflow-hidden">
  <div class="flex gap-10 bg-orange-200 p-10">
    <div>
      <p class="bg-orange-600 text-white">section</p>
      <p class="text-orange-600">{number}</p>
    </div>

    <div>
      <h2 class="text-5xl leading-normal">{title}</h2>
      {description && <p>{description}</p>}
    </div>
  </div>
  <div class="p-10 section-content">
    <slot />
  </div>
</section>
