---
import A from './A.astro';
import ActiveA from './ActiveA.astro';
---

<div class="w-[280px] bg-white rounded-2xl p-6">
  <nav>
    <ul>
      <li><ActiveA href="/introduction" class="font-bold">はじめに</ActiveA></li>
      <li>
        <ActiveA href="/basis" class="font-bold">著作権の基礎</ActiveA>
        <ul>
          <li><A href="#about">著作権法とは</A></li>
          <li><A href="#about">著作権法とは</A></li>
          <li><A href="#about">著作権法とは</A></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
