---
import Section from '../../../components/Section.astro';
import Point from '../../../components/Point.astro';
import Annotation from '../../../components/Annotation.astro';
import SpeechBubbles from '../../../components/SpeechBubbles.astro';
import Bubble from '../../../components/Bubble.astro';
import ListArea from '../../../components/ListArea.astro';
import ImgCaption from '../../../components/ImgCaption.astro';
import Page from '../../../templates/Page.astro';
---

<Page
  chapterNum={2}
  title="Copyright in Classes"
  description="This material provides explanations about copyright primarily for teachers teaching at educational institutions. This page explains the legal rules and processes, citations, and reproductions when handling copyrighted works in classes."
  isEN
>
  <Section
    number="04"
    title="Amended Copyright Act Article 35 Guidelines"
    description="This section describes the Guidelines prepared by the Forum, which explain how to operate and make decisions when applying Article 35."
  >
    <h3 id="ref51">Guidelines for Article 35 under the Amended Copyright Act</h3>
    <p>
      The "Guidelines" are a summary of the operation of copyrighted works in the classroom at the Forum explained
      earlier. This material provides an easy-to-understand explanation based on the Guidelines FY 2021, December 2020<Annotation num={1} />. It can be read in its entirety on the SARTRAS page<Annotation num={2} />. You can also download the
      PDF file. The Guidelines were first published in FY2020 and revised in FY2021. Discussions are still taking place
      in the Forum regarding the contents of this document, so it may be revised in the future. Be sure to always check
      for the latest version.
    </p>
    <Point isMemo id="c2s4_1" num={1}>
      <p>
        SARTRAS, Guidelines for Article 35 under the Amended Copyright Act:<a
          href="https://sartras.or.jp/unyoshishin/"
          target="_blank"
          class="block"
        >
          https://sartras.or.jp/unyoshishin/
        </a>
      </p>
    </Point>
    <Point isMemo id="c2s4_2" num={2}>
      <p>
        Guidelines for Article 35 under the Amended Copyright Act, FY 2021 Ed., Special Activities Supplement, November
        2021 is also available.
      </p>
    </Point>
    <p>
      On this material, we simply call as the Guidelines. In addition, this material will be based on the 2021 version
      of the Guidelines.
    </p>
    <ImgCaption>
      <figcaption>[The Guidelines]</figcaption>
      <img
        src="/assets/images/copyright-06_en.png"
        alt="The terms defined in the Guidelines include reproduction, public transmission, public communication, educational institutions, classes, the person in charge of teaching classes, the person taking classes, the extent deemed necessary, and cases where interest is unreasonably prejudiced. Examples of use in schools under the Guidelines include cases where permission is not needed, cases where permission is not needed butcompensation is required, and cases where permission is necessary. The references for the Guidelines. Laws and regulations."
        width="1360"
        height="1336"
      />
    </ImgCaption>

    <h3>Definition of Terms</h3>
    <p>
      As explained in Chapter 1, the Guidelines explain terminology based on specific scenarios when dealing with
      copyrighted works in the classroom.
    </p>

    <h4 id="ref36">Reproduction (p. 5 of the Guidelines)</h4>
    <p>
      So-called photocopying, but making a PDF of a paper or taking a photograph of a paper document is also a
      "reproduction". The following examples fall under the category of reproduction.
    </p>
    <ListArea>
      <p>Applicable Examples</p>
      <ul>
        <li>Literary works written on the blackboard.</li>
        <li>Writing literary works in notebooks.</li>
        <li>Typing the literature into a Word file on your computer or other device and saving it.</li>
        <li>Copying paintings on drawing paper.</li>
        <li>Replicating sculptures with paper clay.</li>
        <li>Copying works printed on paper with a photocopier.</li>
        <li>Scanned works printed on paper and saved as PDF files.</li>
        <li>Electronic files/work saved on a computer or USB memory stick.</li>
        <li>Storing works in electronic files on servers (including backups).</li>
        <li>Recording TV programs onto a hard disk.</li>
        <li>Capturing video data projected on a screen using a projector, etc., camera, smartphone, etc.</li>
      </ul>
    </ListArea>
    <p>Reproductions made under Article 35(1) may be distributed in class (Article 47-7).</p>

    <h4 id="ref14">Public transmission (pp. 5-6 of the Guidelines)</h4>
    <p>
      Transmission to "an unspecified person or a large number of specified persons (the public)" by broadcasting, cable
      broadcasting, Internet transmission, or other means, including making available for transmission through the
      Internet by storing on a web server (making transmittable). Transmission between a teacher and students in a class
      is a public transmission.
    </p>
    <ListArea>
      <p>Applicable Examples</p>
      <ul>
        <li>
          Transmission of copyrighted works stored on servers located off-campus in response to access by students,
          pupils, etc.
        </li>
        <li>Emailing work for a large number of students, pupils, etc.</li>
        <li>Posting copyrighted materials on the school's website.</li>
        <li>Telecasts.</li>
        <li>Radio broadcasts.</li>
      </ul>
    </ListArea>
    <ListArea>
      <p>Non-Applicable Examples</p>
      <ul>
        <li>
          Transmissions to the same premises (except those accessible from outside the premises) made through
          broadcasting equipment located on the same premises of the school or through a server, as in the case of
          in-school broadcasts<Annotation num={3} />.
        </li>
      </ul>
      <Point isMemo id="c2s4_3" num={3}><p>Article 2(1)(vii-2), brackets.</p></Point>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="3">I have a class of about 30 students.</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        P. 6 of the Guidelines says, "In general, transmission between a teacher and students in a class is considered
        to be a public transmission", so we should assume that Dr. Konaka's class is also public.<br />It is not clearly
        defined how many people are specifically referred to as "the public" in the Copyright Act.<br /><br />According
        to the Guidelines, at least the standard number of people in an elementary school class would make it "public,"
        but there is no specific standard for how many people fit the definition of "public". It is difficult to handle
        such a legally gray area, but it seems that the Forum has not yet reached a common agreement on the number of
        people.
      </Bubble>
      <Bubble speaker="Konaka" feLevel="2">If you don't know, you should be careful anyway ...</Bubble>
      <Bubble speaker="Sumiki" feLevel="4">
        It is important to note that if the number of people is unidentifiable (unspecified), they are interpreted as
        "the public" even if the number of people is small. This is an area of disagreement even among the experts.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="4">There are only 5 people in my seminar.</Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Just because the number of people using a copyrighted work is small does not mean that it is not representative
        of "the public". If the number of people using a work changes from time to time, it is "unspecified" and can
        still constitute "the public".<br />For example, it is expected that the Forum will set a strict limit on the
        number of students in a seminar and that certain criteria such as less than 10 students will be set forth to
        exclude it from being considered a "public".
      </Bubble>
    </SpeechBubbles>

    <h4 id="ref6">Public communication (p. 9 of the Guidelines)</h4>
    <p>
      A "public transmission," such as a broadcast or Internet distribution, is intended to be directly received by the
      public. A public transmission is when a work that has been publicly transmitted is further shown or heard by the
      public using a receiver.
    </p>
    <ListArea>
      <p>Applicable Examples</p>
      <ul>
        <li>
          Receiving videos on the Internet related to class content during a class, and having students and pupils watch
          them on displays, etc. installed in the classroom.
        </li>
        <li>
          Websites related to class content are projected on a screen using a projector in the classroom for students
          and pupils to see.
        </li>
      </ul>
    </ListArea>

    <h4>"Educational Institutions" to which Article 35 applies (p. 6 of the Guidelines).</h4>
    <p>
      A non-profit educational institution that engages in educational activities on an organized and continuous basis,
      and is established under the applicable laws and regulations, is an educational institution to which Article 35
      applies.
    </p>
    <ListArea>
      <p>Applicable Examples</p>
      <ul>
        <li>
          Kindergartens, elementary schools, junior high schools, compulsory education schools, high schools, secondary
          education schools, special support schools, technical colleges, various schools, special training schools,
          universities, etc. (School Education Law).
        </li>
        <li>
          Educational institutions similar to universities such as the National Defense Academy, National Tax College,
          and local government agricultural colleges (laws and ordinances related to the establishment of each ministry,
          organizational ordinances, etc.).
        </li>
        <li>
          Educational institutions related to vocational training, etc. (e.g., Human Resources Development Promotion
          Act).
        </li>
        <li>
          Daycare centers, certified child daycare centers, and school-age childcare centers (Child Welfare Law, Law
          Concerning the Promotion of Comprehensive Provision of Education and Care for Pre-school Children).
        </li>
        <li>
          Community centers, museums, art galleries, libraries, youth centers, lifelong learning centers, and other
          similar social education facilities (Social Education Law, Museum Law, Library Law, etc.).
        </li>
        <li>
          Education Centers, Teacher Training Centers (Act on Organization and Administration of Local Educational
          Administration, etc.).
        </li>
        <li>
          Schools managed by a company establishing schools (Act on Special Zones for Structural Reform. Educational
          institutions established by a for-profit company, but classified as an educational institution under a special
          exception).
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <p>Non-Applicable Examples</p>
      <ul>
        <li>Educational facilities run by for-profit companies or private individuals.</li>
        <li>
          Preparatory schools and cram schools that are not accredited as special training schools or various types of
          schools.
        </li>
        <li>Culture centers.</li>
        <li>Training facilities run by companies, organizations, etc.</li>
      </ul>
    </ListArea>

    <h4>"Classes" to which Article 35 applies (p. 7 of the Guidelines)</h4>
    <p>
      The "classes" here are not classes in the general sense, but only "classes" to which Article 35 can apply. The
      Guidelines define it as "educational activities conducted by a person in charge of education under the
      responsibility of a school or other educational institution and its control, for learners. It does not include
      activities conducted by students on their own initiative or by teachers teaching each other.
    </p>
    <ListArea>
      <p>Applicable Examples</p>
      <ul>
        <li>
          Lectures, practical training, exercises, seminars, etc.
          <ul>
            <li>Students' preparation and review are also included in the "teaching process".</li>
            <li>Preliminary learning for flipped learning is also included in the "teaching process".</li>
          </ul>
        </li>
        <li>
          Special Activities in Elementary and Secondary Education<Annotation num={4} />.
          <ul>
            <li>Classroom and homeroom activities.</li>
            <li>Extracurricular activities.</li>
            <li>Student and Student Council Activities.</li>
            <li>
              School events (entrance ceremonies, graduation ceremonies, commencement ceremonies, closing ceremonies,
              school trips, field days, swimming competitions, cultural festivals, chorus festivals, etc.).
            </li>
          </ul>
        </li>
        <li>Elementary and secondary education club activities, extracurricular supplementary classes, etc.</li>
        <li>Educational activities for teachers conducted by the Education Center and Teacher Training Centers.</li>
        <li>Teachers' license renewal training.</li>
        <li>
          Correspondence classes through distance learning (e.g., paper or LMS-based correction guidance and
          examinations), face-to-face classes, internet-based media classes (online delivery classes using Zoom, etc.),
          etc.
        </li>
        <li>
          <span class="mr-1"
            >Public lectures sponsored by schools, universities, and other educational institutions</span
          ><Annotation num={5} />.
        </li>
        <li>Certificate programs for working adults and others outside the university.</li>
        <li>Courses, lectures, etc. sponsored by social education facilities.</li>
      </ul>
      <Point isMemo id="c2s4_4" num={4}><p>"Special Activities" as defined in the Courses of Study.</p></Point>
      <Point isMemo id="c2s4_5" num={5}>
        <p>
          Projects to be undertaken by the company as its own business. Separate consideration is required for projects of
          a considerable scale in light of income and expenditure budgets.
        </p>
      </Point>
    </ListArea>
    <ListArea>
      <p>Non-applicable examples</p>
      <ul>
        <li>School information sessions for prospective students, mock classes at open campuses, etc.</li>
        <li>Faculty and Staff Meetings.</li>
        <li>
          Training, seminars, and information for faculty and staff conducted as <Annotation word="FD" /> / <Annotation word="SD" /> at universities.
        </li>
        <li>Extracurricular activities in higher education (club activities, etc.).</li>
        <li>Voluntary activities (for which no credit is granted).</li>
        <li>Parents' associations (at a school).</li>
        <li>
          Lectures sponsored by community associations, lectures for parents and children sponsored by the PTA, etc.,
          held at schools and other educational institutions' facilities.
        </li>
      </ul>
      <Point id="c2s4_6" word="FD (Faculty Development)">
        <p>
          Organizational efforts (e.g., training) by faculty members to improve and enhance course content and methods.
        </p>
      </Point>
      <Point id="c2s4_7" word="SD (Staff Development)">
        <p>
          Organizational efforts (training, etc.) to improve the qualifications of staff members, including administrative
          management and education/research support.
        </p>
      </Point>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="Daiin" feLevel="4">
        Are primary and secondary club activities "classes" and college club activities not "classes"?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Club activities in elementary schools are defined as educational activities called "special activities" in the
        Courses of Study. Club activities in junior high and high schools are voluntary activities of students, but they
        are equivalent to special activities, such as those conducted under the guidance of the teacher in charge. <br
        />On the other hand, this is not the case for universities, which means that they do not fall under the
        definition of "classes. "
      </Bubble>
    </SpeechBubbles>

    <h4>"Person in charge of teaching" and "person taking classes" (p. 8 of the Guidelines)</h4>
    <p>
      Next, we will explain the "person in charge of teaching" and the "person taking classes" in Article 35. These are
      defined as follows.
    </p>
    <ListArea>
      <p>Person in charge of teaching = the person who teaches the class</p>
      <ul>
        <li>
          Teachers, professors, lecturers, etc., regardless of name, having teaching licenses, or employment status such
          as full-time or part-time.
        </li>
        <li>
          When educational supporters and assistants such as administrative staff and Teaching Assistants (TAs), under
          the direction of teachers and instructors, reproduce or publicly transmit the materials by using school
          facilities or other means under the control of the school, it is an act of the teachers and instructors.
        </li>
      </ul>
    </ListArea>
    <ListArea>
      <p>Persons taking classes = persons who learn under the guidance of a teacher or other instructor</p>
      <ul>
        <li>Children, students, pupils, non-degree students, pupils, etc., regardless of name or age.</li>
        <li>
          If, at the request of a student or pupil, an educational supporter or assistant, such as an administrative
          staff member or TA, duplicates or publicly transmits the work in a manner that is within the control of the
          school, such as by using school facilities, the act is an act of the student or pupil.
        </li>
      </ul>
    </ListArea>

    <h4>The extent that is found to be necessary (p. 8 of the Guidelines)</h4>
    <p>
      The faculty member in charge of the class will determine whether the reproduction is "the extent that is found to
      be necessary" for the classes. The teacher must be able to objectively explain why reproduction, public
      transmission, or public communication is necessary.
    </p>
    <p>
      No standard can always be used to determine whether a book is within "the extent that is found to be necessary,"
      for example, how many pages it can be. It depends on the content of the class and the way it is conducted and
      should be determined according to the actual conditions of each class.
    </p>
    <ListArea>
      <p>When the extent is found to be necessary:</p>
      <ul>
        <li>Public transmission to within one class. Any number of class members.</li>
        <li>
          Distributing copies of class materials to parents visiting classes and teachers participating in research
          classes<Annotation num={6} />.
        </li>
      </ul>
      <Point isMemo id="c2s4_8" num={6}><p>P. 12 of the Guidelines.</p></Point>
    </ListArea>
    <ListArea>
      <p>When the extent is found not to be necessary:</p>
      <ul>
        <li>Public transmission in a form that can be accessed by anyone.</li>
        <li>
          Distributing video files to the entire class when the instructor only needs to project a TV program related to
          the class content on a screen.
        </li>
        <li>Use of teaching materials with other faculty members.</li>
        <li>
          Copying the entire book and transmitting it publicly to students, even though only a portion of the book is
          used in class.
        </li>
      </ul>
    </ListArea>
    <Point><p>Understand the definitions in the Guidelines to determine if Article 35 can apply.</p></Point>

    <h4>
      Cases in which the interests of the copyright owner would be unreasonably prejudiced (pp. 9-19 of the Guidelines)
    </h4>
    <p>
      The end of Article 35(1) says, however, this shall not apply" if the action would unreasonably prejudice the
      interests of the copyright owner in light of the nature and purpose of the work, the number of copies that would
      be made, and the circumstances of its reproduction, public transmission, or communication". This proviso should be
      taken into consideration.
    </p>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="2">
        When does "unreasonably prejudice the interests of the copyright owner" take place?
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Just by reading the article, it's not clear to what extent it would be unduly harmful.<br />P. 11 of the
        Guidelines states that an important aspect is "whether or not the reproduction or public transmission will
        decrease the sales of commercial products or hinder the potential future sales channels of copyrighted works".<br
        /><br />For example, if all the math drills used by elementary school students were copied and distributed to
        everyone in the class, there would be no need to buy the drills. This kind of action unreasonably prejudices the
        interests of the copyright owner.<br />However, it is difficult to determine, as it depends on the situation and
        the state of use. This area is also discussed in the Forum and will be explained.
      </Bubble>
    </SpeechBubbles>
    <p>
      The term "unreasonably prejudice the interests" as used in the proviso means "unreasonably reducing" sales. Even
      if the use is to "the extent that is found to be necessary", if the copyright owner can objectively explain that
      the use "unreasonably prejudices the interests of the copyright owner," such use is unauthorized and not allowed.
    </p>
    <p>
      If works are reproduced or publicly transmitted without permission for teaching, it will have some impact on the
      sales of commercial products. This is why the system of paying compensation was established. Therefore, it is
      thought that a little use can be covered by compensation. The wording to "unreasonably prejudice the interests of
      a copyright owner" is indicative of a considerable amount of usage.
    </p>
    <p>
      The Guidelines provide the concept and examples of what constitutes to "unreasonably prejudice the interests of
      the copyright owner".
    </p>

    <h4 id="ref31">Types of works</h4>
    <p>
      Reproduction and public transmission of copyrighted works, such as drills and software, which should be purchased
      separately by each student/pupil, unfairly diminish sales and unreasonably prejudice the interests of the
      copyright owners.
    </p>
    <p>
      In the case of short verbal works (haiku, tanka, poetry, etc.), pictorial and photographic works, the use of the
      entire work is essential, and partial use may constitute an infringement of the integrity right. For such types of
      works, reproduction or public transmission of the entirety of a work is unlikely to unreasonably prejudice the
      interests of the copyright owner, etc.
    </p>
    <p>
      On the other hand, the reproduction and public transmission of an entire feature film or novel are likely to cause
      unreasonable prejudice to the interests of the copyright owner. If a work is quite difficult to obtain, and
      permission for its use cannot be obtained through reasonable means, it may be possible to reproduce the entire
      work, and it is considered necessary to make a judgment on a case-by-case basis.
    </p>
    <p>
      When reading a thesis in a college class or seminar, you will generally read the entire report. On the other hand,
      because the articles are specialized, their target readers are limited, so when reproducing or publicly
      transmitting them in class, it is necessary to carefully consider whether the interests of the copyright owner
      will be unreasonably prejudiced (Chapter 3, Q14, Q15)<Annotation num={7} />.
    </p>
    <Point isMemo id="c2s4_9" num={7}>
      <p>
        If the article you need is available for free in a university-contracted e-journal, author's website, or
        institutional repository, provide the link to the student. Providing the link does not constitute reproduction
        or public transmission, so it is not a problem.
      </p>
    </Point>
    <h4>Uses of Copyrighted Works</h4>
    <p>
      In the case of works sold to students and pupils, the application of Article 35's limitation of rights may have a
      direct impact on sales. Therefore, the possibility of unreasonably prejudicing the interests of copyright owners
      is likely to be higher than in the case of other uses of copyrighted works.
    </p>
    <p>
      If the work is designed as a textbook for students and pupils, it is unlikely that the reproduction of a large
      portion of the work will unreasonably prejudice the interests of the copyright owner if it is in the designated
      textbook and everyone has it.
    </p>

    <h4>Number of copies and number of recipients of public transmission</h4>
    <p>
      P. 18 of the Guidelines states that reproduction and public transmission up to the number of students in the class
      in question, regardless of the number of students, will not unreasonably prejudice the interests of the copyright
      owner.
    </p>
    <p>
      In addition, when the same materials are sent to students for parent visits or faculty visits in research classes,
      the number of students plus the number of visitors is "the extent that is found to be necessary". In this case,
      this would not unreasonably prejudice the interests of the copyright owner.
    </p>
    <p>
      Showing a recording of a movie or TV program in the classroom can be done without permission as a non-profit,
      free-of-charge showing (Article 38(1)). However, making a copy of the movie and distributing it to a certain
      number of students or making it available for viewing on demand at any time is likely to unreasonably prejudice
      the interests of the copyright owner<Annotation num={8} />.
    </p>
    <Point isMemo id="c2s4_10" num={8}>
      <p>
        As for making available for later viewing not the video file itself but a recording of the class scene in which
        it is being viewed, there is no substitute for viewing the video file, so it is unlikely to unreasonably
        prejudice the copyright owner's interests.
      </p>
    </Point>
    <h4 id="ref7">Manner of reproduction, public transmission, and public communication</h4>
    <p>
      The term "manner" is unfamiliar, but it means so much more than the manner of reproduction or public transmission.
    </p>
    <p>
      Making copies of a work in a form that allows the work to be bound and preserved for a long period, or making
      copies of images or sounds as files of such high quality that they can be viewed independently, or in any other
      way that allows the copies to be used for other purposes on their own, is likely to unreasonably prejudice the
      copyright owner's interests.
    </p>
    <p>
      In the case of public transmissions, those who can receive the information should be limited to those who teach
      the class and those who receive the information. For example, even if the transmission of information to the world
      by students is a necessary activity for classes, the inclusion of copyrighted works covered by Article 35 in such
      activities is likely to unreasonably prejudice the interests of copyright owners<Annotation num={9} />.
    </p>
    <Point isMemo id="c2s4_11" num={9}>
      <p>Of course, if the "citation" in Article 32 can apply, there is no problem.</p>
    </Point>
    <p>The basic concept is above. Examples are summarized below.</p>
    <ListArea>
      <p>
        Examples where reproducing the whole thing is unlikely to unreasonably prejudice the interests of copyright
        owners.
      </p>
      <ul>
        <li>
          Use of copyrighted works in adopted textbooks.
          <ul>
            <li>
              Includes individual works (written works, photographs, illustrations, etc.) as well as works by the
              publishers who published them.
            </li>
            <li>
              Digital textbooks for learners used as a replacement for adopted textbooks are also allowed for use within
              the contract.
            </li>
          </ul>
        </li>
        <li>
          If it is difficult to use only a part of the material, or if the right of identity preservation would be
          infringed by cutting out a part of the material.
          <ul>
            <li>Haiku, tanka, poetry, and other short works of language.</li>
            <li>Articles and other verbal works published in newspapers.</li>
            <li>Photographs, paintings (including illustrations, prints, etc.).</li>
            <li>Sculptures and other three-dimensional works of art.</li>
          </ul>
        </li>
        <li>
          Articles in magazines and other publications that have been out of circulation for a considerable period and
          are no longer readily available.
        </li>
        <li>
          Reproduction of a portion of the material (all figures and graphs, etc.) that the student/pupil has purchased
          and projected on a screen for display.
        </li>
        <li>Copyrighted works used as part of images in videos of classroom scenes and commentary.</li>
      </ul>
    </ListArea>
    <ListArea>
      <p>Examples that are likely to unreasonably prejudice the interests of copyright owners.</p>
      <ul>
        <li>
          Handing out copies of all the books in one class, such as "Chapter 1 in the first class, Chapter 2 in the
          second class ...".
        </li>
        <li>
          Providing copyrighted works that students would normally purchase and use in a form that does not require them
          to purchase them.
          <ul>
            <li>
              Drills, reference books, test books, music scores for teaching materials, supplementary reading books,
              educational video software, scripts for plays, music scores for club activities, etc.
            </li>
          </ul>
        </li>
        <li>
          Purchasing only one program or one license of a program or application, and duplicating and distributing it to
          multiple students or pupils.
        </li>
        <li>Collecting art, photographs, etc., and distributing high quality, bound copies.</li>
        <li>
          Systematically storing copyrighted works as materials on servers, creating databases and libraries, without
          knowing whether or not they will be handled in class.
        </li>
        <li>Although not directly covered in class, copies should be distributed as reference materials.</li>
      </ul>
    </ListArea>
    <Point><p>Do not unreasonably prejudice the interests of copyright owners!</p></Point>
    <SpeechBubbles>
      <Bubble speaker="Konaka" feLevel="1">
        In short, Article 35 stipulates that <br /><span class="font-bold text-orange-600"
          >"published works" may be used by teachers and students <br />"in the course of classes" at the appropriate
          <br />"educational institution" to the <br />"the extent that is deemed to be necessary" for the classes. <br
          />As long as the amount and usage do not unreasonably prejudice the interests of copyright owners,
        </span><br />you don't have to get permission from the copyright owner.
      </Bubble>
      <Bubble speaker="Daiin" feLevel="1">
        Teachers and students can reproduce, publicly communicate and pay compensation for public transmissions.
      </Bubble>
      <Bubble speaker="Sumiki" feLevel="2">
        Incidentally, Article 35 can also apply to neighboring rights (Article 102(1)). Thus, you can use copyrighted
        works that have been performed, recorded, broadcast, or broadcast by cable.
      </Bubble>
    </SpeechBubbles>
    <img src="/assets/images/2-4_en.png" alt="" width="1277" height="596" />
  </Section>
</Page>
