---
import Section from '../../components/Section.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Popup from '../../components/Popup.astro';
import Page from '../../layouts/Page.astro';
import Quiz from '../../components/Quiz.astro';
---

<Page title="授業における著作物利用Q&A">
  <section id="q1">
    <Quiz title="学校を紹介した新聞記事をWebサイトで紹介しても大丈夫？" number="1">

    </Quiz>
  </section>
</Page>
