---
import Section from '../../components/Section.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import Popup from '../../components/Popup.astro';
import Page from '../../templates/Page.astro';
import Quiz from '../../components/Quiz.astro';
---

<Page title="授業における著作物利用Q&A">
  <Section
    number="01"
    title="授業における著作物利用Q&A"
    description="この章では、授業で第三者の著作物を扱う際の具体的な事例について、Q&A形式で説明を行います。"
  >

  <ul class="text-3.25 my-5 flex flex-col gap-2 !p-0 font-bold leading-normal md:my-6 md:flex-row md:gap-5 md:text-sm md:leading-relaxed">
    <li class="flex list-none gap-2">
      <span class="h-fit whitespace-nowrap rounded bg-orange-600 px-1.5 text-white md:px-2">
        初等・中等
      </span>
        小学校・中学校・高校などでありそうな事例
    </li>
    <li class="flex list-none gap-2">
      <span class="h-fit whitespace-nowrap rounded bg-orange-600 px-1.5 text-white md:px-2">
        高等
      </span>
        大学や高専などでありそうな事例
    </li>
  </ul>

  <Quiz title="学校を紹介した新聞記事をWebサイトで紹介しても大丈夫？" number="1" level="both">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='2'>
        わたしの学校の取り組みが地元新聞に掲載されたので、紹介したいです。その記事をまるごとPDFにして自分の学校のホームページに掲載してもいいですか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        その場合は、「複製」、「公衆送信」にあたるので、著作権者である新聞社の許諾が必要です。もし、その記事が新聞社のWebサイトで見られる場合、学校のホームページに記事のリンクを貼れば問題ありません。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="共同で作成した教材は作成に関わった教員なら使える？" number="2" level="both">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        複数の授業担当教員で1つの教材を作ったんだけど、一部第三者の著作物が混じってるんだよなぁ。<br/>それは作成に参加した教員がそれぞれの授業で使っていいのか？その第三者からの許諾はいるのか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        第三者の著作物が一部含まれていても、引用の条件をみたしていれば利用できるので、第三者からの許諾は必要ありません。また、みんなで1つの教材を作成しており、共同著作物になりそうですが、当然それぞれの教員の授業で利用することが合意されているでしょうから、それぞれの<Popup id="c3_1" popup={[
          {
            text: "65条2項",
          }
        ]}>授業で複製したり、オンライン授業で公衆送信したりしても問題ありません</Popup>。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="著作物を複製して他の教員に提供しても大丈夫？" number="3" level="both">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='2'>
        わたしが持っている本をコピーして、他の授業を担当している先生にお渡ししてもいいですか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        授業を担当する教員・教師等が主体で複製しなければ、35条1項を適用できません。小中先生はその別の授業を担当するわけではないので、著作権者の許諾が必要でしょうね。
      </Bubble>
      <Bubble speaker='大院' feLevel='2'>
        じゃ、その先生に小中先生が本を無償で貸してあげて、借りた先生が自分でコピーしたらいいわけだ。
      </Bubble>
      <Bubble speaker='隅木' feLevel='1'>
        <Popup id="c3_2" popup={[
          {
            text: "38条4項",
          }
        ]}>それなら大丈夫です</Popup>。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="卒業した学生の作文やレポートを授業で紹介したい。" number="4" level="both">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='3'>
        卒業した生徒さんの優秀な作文を、今年の国語の授業で使いたいのですけど。
      </Bubble>
      <Bubble speaker='大院' feLevel='2'>
        おれも去年の授業の学生の優秀なレポートを、今年の授業でクラスのみんなに配って見せたい。
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        学生や生徒さんが、宿題や課題として、先生に提出しただけの著作物は「公表」しているとは言えません。35条が適用できるのは公表された著作物のみなので、おふたりの場合はどちらも<Popup id="c3_3" popup={[
          {
            text: "18歳未満の未成年者の場合には親権者の許諾が必要になります（民法4条、5条1項本文）。",
          }
        ]}>著作権者（著作者）の許諾が必要</Popup>です。公表権（18条1項）や氏名表示権（19条1項）への配慮も必要になります。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="違法な著作物を授業で紹介しても大丈夫？" number="5" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        授業でどんな違法の例があるか見せたいんだよな。有名人の画像を加工してSNSでアップしてるとか。違法なものの著作権ってどう扱ったらいいんだ？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        著作権は元の写真を撮った人にありますし、有名人の肖像権やパブリシティ権の問題もありますが、先生がその画像がどう違法なのかということをちゃんと説明することで主従関係など<Popup id="c3_4" popup={[
          {
            text: "引用の要件としては、適法に入手した情報源からの採録でなければいけないことは求められていません。上野達弘編『教育現場と研究者のための著作権ガイド』（有斐閣、2021）180頁参照。",
          }
        ]}>引用の条件</Popup>をみたせば、適法な引用として利用することができます。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="授業で映画を上映できる？" number="6" level="both">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='3'>
        わたしはNetflixを契約してるんですけど、その中に動物のドキュメンタリー映画があって、授業で見せたいのですけど大丈夫ですか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        小中先生がプロジェクタを使ってスクリーンに投影するような場合は「公の伝達」にあたり、35条を適用できると思います。と、言いたいところなのですが、<Popup id="c3_5" popup={[
          {
            text: "Netflix利用規約",
            href: "https://help.netflix.com/legal/termsofuse",
          }
        ]}>Netflixの利用規約（4.2）</Popup>を読むと、「お客様のご世帯以外の方と共有することはできません。（中略）お客様は公の場での上映のために当サービスを利用しないことに同意します」と書いてあるんですね。<br/><br/>このように、法律では権利制限規定があるけれど、契約で制限をしようとすることをオーバーライド問題といって、契約での制限を有効とすべきかは専門家でも意見の分かれるところです。<br/><br/>現在、フォーラムでも検討中であり、現時点では利用規約違反のリスクがあり難しいと言わざるを得ません。<br/>ただ、Netflixの定めるルールでも、一部の教育的なオリジナルドキュメンタリー作品は<Popup id="c3_6" popup={[
          {
            text: "教育を目的としたドキュメンタリーの上映",
            href: "https://help.netflix.com/ja/node/57695",
          }
        ]}>教育を目的とした上映を1回のみしてもよい</Popup>とされています。適宜、最新の利用規約を確認するようにしましょう。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="読み聞かせの動画をインターネット上に公開しても大丈夫？" number="7" level="low">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='2'>
        児童向けのお話なんですけど、わたしが読み聞かせした動画をWebサーバにアップロードし、生徒が自宅からいつでも見られるようにするのは大丈夫ですか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        それはそのお話をまるまる全部を「複製」し、「公衆送信」することになります。そのため、著作権者の権利を不当に害することになるかと思われるので、35条を適用できません。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="楽曲を練習しやすく編曲すると問題ある？" number="8" level="low">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='2'>
        人気のアニメソングをそのままだと難しいので、小学生がリコーダーで合奏できるようにかんたんな感じに音楽の先生が編曲して、授業で練習してもいいですか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        これは47条の6第1項1号で、35条1項が適用できる場合には、翻訳、編曲、変形、翻案をしてもよいとされているので、許諾なく行っても大丈夫です。
      </Bubble>
      <Bubble speaker='小中' feLevel='3'>
        その曲を、学校の音楽会で演奏していいですか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        学校の音楽会は、非営利・無償の演奏会なので、38条1項の権利制限を適用できると思うかもしれません。しかし、38条1項は著作物をそのまま利用する場合に適用され、編曲（27条）するときには適用されません（47条の6第1項参照）。そのため、著作権者の許諾が必要になります。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="給食の時間に録画したテレビ番組を流したい。" number="9" level="low">
    <SpeechBubbles>
      <Bubble speaker='小中' feLevel='2'>
        給食の時間中に、わたしが録画した教育番組を教室のテレビで流したいんですけど、大丈夫でしょうか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        給食は、学習指導要領で規定している「特別活動」になるので、「授業」にあたります。授業の目的で行った録画は「複製」で35条1項を適用できます。<Popup id="c3_7" popup={[
          {
            text: "上野達弘編『教育現場と研究者のための著作権ガイド』（有斐閣、2021）118頁参照。",
          }
        ]}>テレビで流すことは非営利・無償の上映で38条1項を適用できます</Popup>。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="海外の著作物を授業で扱う場合に注意する点は？" number="10" level="both">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        英語の授業で、学生に海外の小説を翻訳させたいらしいんだよ。海外の著作物はどうしたらいいんだ？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        海外の著作物については、著作権は「ベルヌ条約」、「万国著作権条約」、「TRIPS協定」などの条約に日本も加入しており、<Popup id="c3_8" popup={[
          {
            text: "著作隣接権についても様々な条約により条約上保護義務を負っています。",
          }
        ]}>世界の大半の国の著作物を保護する義務</Popup>があります。
      </Bubble>
      <Bubble speaker='大院' feLevel='5'>
        外国の法律とかしらねーし！
      </Bubble>
      <Bubble speaker='隅木' feLevel='1'>
        安心してください。海外の著作物でも日本で扱う場合には、日本の著作権法が適用されます。<br />先生が学生に配布するために小説を翻訳に必要な範囲でコピーする行為は「複製」、翻訳する行為は、著作権法的には「翻訳」に該当します。<br />先生が必要な範囲でコピーする場合は、35条1項が適用されますので複製はOK、授業で学生さんが翻訳するのは、47条の6第1項1号により、翻訳してもOKです。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="ビブリオバトルを行う場合に注意するポイントとは？" number="11" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        学祭で学生が<Popup id="c3_9" word="ビブリオバトル" popup={[
          {
            text: "参加者が「面白い」と思う本の内容を5分間で紹介して、どの本を一番読みたくなったかを参加者勢員の投票で決めるもの。<br />「ビブリオバトル公式サイト」",
            href: "https://www.bibliobattle.jp/",
          }
        ]}>ビブリオバトル</Popup>をやりたいらしいんだよ。著作権法上の問題があるかな？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        大学の学祭は、運用指針の<Popup id="c3_10" popup={[
          {
            text: "「授業」の定義は、「2章 section04 改正著作権法第35条運用指針『35条が適用される「授業」』」の箇所をご参照ください。",
          }
        ]}>「授業」の定義からすると「授業」にあたらないので、35条は適用できない</Popup>ですね。内容を数分で紹介するのは、要約が「翻案（27条）」、プレゼンが口述（24条）に該当する可能性があります。「翻案」にあたるかは、そのプレゼンでどの程度本の内容を話しているかによるので判断が難しいのですが、著作物の表現上の本質的特徴を直接感得できない場合には、「翻案」にあたらず、<Popup id="c3_11" popup={[
          {
            text: "最判平成13年6月28日判時1754号144頁〔江差追分事件〕",
          }
        ]}>著作権者から許諾を得ることは必要ありません</Popup>。これは、ケース・バイ・ケースの検討が必要になります。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="TAが去年のテスト問題を学生に配布したい。" number="12" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        <Popup id="c3_12" word="TA（Teaching Assistant）" popup={[
          {
            text: "授業の補助をおこなう学生のこと。",
          }
        ]}>TA</Popup>が自分が去年受けたテスト問題をみんなに配布したいらしいけど、どうなのかな？
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        それは複数の授業の過去のテスト問題をまとめて配布するということですか？
      </Bubble>
      <Bubble speaker='大院' feLevel='3'>
        そうらしい
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        それは35条を適用できないですね。<br/>Aの授業を受けている学生が、Aの授業の学習に必要と認められる限度で、複製が可能です。しかも授業に必要かどうかは教員が決定します。Aの授業の担当教員が、過去問で勉強する必要ありと判断した場合に、Aの授業に関係する部分のみ複製が可能です。TAさんが35条1項を適用できる複製ができるのは、教員の指示があり、学校内の設備を用いるなど学校の管理下で複製をする場合です。<br/>もしくは、その授業のうちの1回をTAさんが指導補助者として分担するような場合は、「授業を担当する者」になりますが、この場合も複製できるのはAの授業のその担当授業回に関する部分だけです。<br/>授業A、B、C、Dの過去問をまとめて配布するには、許諾を得る必要がありますね。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="本登録していない学生は「授業を受ける者」に該当する？" number="13" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        大学って履修登録期間があって、本登録してなくて仮登録の学生も授業を受けられるんだよな。全8回の授業の最初の1回を受けて、その後本登録しないってことがあり得る。その場合は、その仮登録の学生は35条の「授業を受ける者」に該当するかな？
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        35条の「授業」は1回でも授業ですね。1回でもちゃんと授業を受けていれば授業を受ける者に該当すると思います。ただ、授業資料に第三者の著作物が含まれている場合に、1回目の授業で全8回分の資料を配布するようなことは避けた方がいいでしょう。必要と認められる範囲を超えていると判断されやすくなる上、著作権者の利益を不当に害しかねません。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="論文をコピーして学生に配布するのは問題ない？" number="14" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='1'>
        おれの論文は大変ためになるから、学生に配布して読ませたい。なんの問題もないよな？
      </Bubble>
      <Bubble speaker='隅木' feLevel='4'>
        著作権が大院先生にあれば何の問題もありません。しかし、学会や出版社に著作権を譲渡している可能性がありますよね。その場合に注意が必要です。まず学会や出版社の著作権規程を確認しましょう。ご本人が使用する場合について書かれていることが多いと思います。
      </Bubble>
      <Bubble speaker='大院' feLevel='5'>
        おれのなのに……
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        学会誌などは「著作権は本学会に最終原稿が投稿された時点から原則として本学会に帰属する」などの記載があることが多く、その場合は論文の著者には著作財産権がありません。<br/>また、譲渡できない著作者人格権についても「著作者人格権を行使しない」などの記載があることがあります。<br/>こういう規程は、論文投稿の際にはよく確認したほうがいいですね。<br/>学会の規程で難しい場合でも、引用の要件を守っていれば32条の引用を適用できますし、授業の過程で必要な場合は、論文の一部であれば35条を適用できるかもしれません。
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="論文を丸ごと学生に配布しても大丈夫？" number="15" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        学生が英語の論文を最初から最後まで読んで、内容を発表するという授業をやりたい。一つの論文をまるまる学生に配布していいかな。
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        通読することが必要ということは大前提ですが、論文一つを全部配布する場合は様々な側面から配慮する必要があります。「運用指針」では、授業の目的から論文全文が必要な場合には、次の要素を考慮して、個々の履修者が論文自体や論文集などを購入することが必ずしも合理的でなければ、論文全部の複製や公衆送信をしても、著作権者の利益を不当に害することにならない可能性が高いとされています。
        <ul class="mt-2">
          <li>
            当該論文や論文集などの入手が容易であるか
          </li>
          <li>
            当該論文が論文集などの出版物に掲載されている場合
            <ul>
              <li>
                出版物全体に占める論文の分量
              </li>
              <li>
                出版物の流通の状況や当初の出版時に想定された読者対象かどうか
              </li>
              <li>
                出版物が出版後相当期間を経過しているか
              </li>
            </ul>
          </li>
        </ul>
      </Bubble>
    </SpeechBubbles>
  </Quiz>

  <Quiz title="履修期間を過ぎた後でも教材は使える？" number="16" level="high">
    <SpeechBubbles>
      <Bubble speaker='大院' feLevel='4'>
        おれの前期の授業は4月から9月末までが履修期間なんだけど、10月になったら、LMSのコースに載ってる教材はもう置いておけないのか？
      </Bubble>
      <Bubble speaker='隅木' feLevel='2'>
        基本的には、第三者の著作物が入った教材をLMSで公衆送信できるのは、その授業の期間のみとされています。該当する教材は、期間がすぎたら削除するか、学生がアクセスできないように設定を変更する必要があります。<br/>この授業期間がいつからいつまでなのかの判断が難しいのですが、大学の場合は、成績や単位認定などの評価が終わるまでは授業期間と考えてもよさそうです。<br/><br/>また、「〇〇演習１」「〇〇演習２」のように段階的に履修することが前提になっている授業で、２の授業期間も１の教材を閲覧可能とするのは、
        <Popup id="c3_13" popup={[
          {
            text: "上野達弘編『教育現場と研究者のための著作権ガイド』（有斐閣、2021）55頁参照。",
          }
        ]}>「授業の過程」としてよい</Popup>ように思います。<br/>予習や復習も「授業の過程」とすることは運用指針に記載されており、「〇〇演習１」と「〇〇演習２」で内容的にも関連性があるのであれば、「〇〇演習１」の教材は、復習に準じるものと考えられるからです。<br/>また、「2章 section04 改正著作権法第35条運用指針」の終わりで説明したように、履修期間外も継続して教材利用をすることについて、<Popup id="c3_14" word="SARTRASライセンス" popup={[
          {
            text: "2022年11月現在、35条と補償金でもカバーできない著作物の利用について、許諾なくおこなえるようSARTRASライセンス制度が検討されています。\nこれは別途ライセンス料金を払って、補償金の範囲を超えた複製や公衆送信等ができるようにするものです。その利用範囲や形態については検討中です。",
          }
        ]}>SARTRASライセンス</Popup>の対象とできるよう検討されています。
      </Bubble>
    </SpeechBubbles>
  </Quiz>
  </Section>
</Page>
