---
import Section from '../../components/Section.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import Popup from '../../components/Popup.astro';
import Page from '../../layouts/Page.astro';
import Quiz from '../../components/Quiz.astro';
---

<Page title="授業における著作物利用Q&A">
  <Section
    id="q1"
    number="01"
    title="授業における著作物利用Q&A"
    description="このCHAPTERでは、授業で第三者の著作物を扱う際の具体的な事例について、Q&A形式で説明を行います。"
  >
    <Quiz title="学校を紹介した新聞記事をWebサイトで紹介しても大丈夫？" number="1">

    </Quiz>
  </Section>
</Page>
