---
import { twJoin } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'a'> {
  img?: string;
  isEN?: boolean;
}

const { img, isEN } = Astro.props;

const currentSlug = Astro.url.pathname;
---

<>
  {
    img !== 'none' && (
      <header class="absolute left-0 top-0 z-10 flex h-[3.6875rem] items-center px-4 pb-1.5 md:top-1 md:mx-auto md:mt-[2.6875rem] md:h-11 md:px-10 md:pb-0">
        <a href={isEN ? '/en/' : '/'} class="inline-block w-[13.625rem] font-bold md:w-[21.25rem]">
          <img
            src={'/assets/images/logo' + (isEN ? '_en' : '') + '.svg'}
            alt={
              isEN
                ? 'A must-read for teachers Understanding Copyright in Classes'
                : '「先生にぜひ読んでほしい」すごくわかる著作権と授業'
            }
            width="997"
            height="128"
          />
        </a>
      </header>
    )
  }
  <div
    class={twJoin(
      'sticky z-20 ml-auto flex w-fit items-center justify-end gap-4',
      'md:max-w-[72.5rem]',
      img !== 'none' ? 'top-[1.03125rem] md:top-4 md:mt-[2.9375rem]' : 'mt-0'
    )}
  >
    <div class="flex items-center rounded-2xl bg-white p-1 text-[0.6875rem]/normal font-bold md:text-xs/normal">
      <a
        href={isEN ? '' : '/en' + currentSlug}
        class={twJoin(
          'block rounded-2xl px-2 uppercase md:py-0.5',
          isEN ? 'bg-orange-600 text-white' : 'text-gray-600 hover:text-orange-600'
        )}
        aria-label="English"
      >
        En<span class="sr-only md:not-sr-only md:inline">glish</span>
      </a>
      <a
        href={isEN ? currentSlug.replace('/en', '') : ''}
        class={twJoin(
          'block rounded-2xl px-2 uppercase md:py-0.5',
          isEN ? 'text-gray-600 hover:text-orange-600' : 'bg-orange-600 text-white'
        )}
        aria-label="Japanese"
      >
        Ja<span class="sr-only md:not-sr-only md:inline">panese</span>
      </a>
    </div>
    <button
      type="button"
      id="js-hamburger"
      class="relative top-0.5 flex flex-col gap-1.5 transition-colors duration-200 md:hidden"
    >
      <span class={twJoin(
        "hamburger flex w-6 flex-col gap-1",
        "[&_span]:h-px [&_span]:w-full [&_span]:bg-black [&_span]:transition-transform [&_span]:duration-300"
      )}>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <span class={twJoin(
        'lowercase',
        isEN
          ? '-ml-px scale-90 text-[0.5625rem]/none'
          : 'text-[0.625rem]/none'
      )}
        >{isEN ? 'Menu' : '目次'}</span
      >
    </button>
  </div>
  <div class="my-10 grid gap-1 border border-orange-600 p-6">
    <div>サイト内検索</div>
    <form class="js-search-form flex w-full max-w-sm text-base">
      <input disabled type="text" class="w-full flex-1 appearance-none rounded-none px-2 py-1" />
      <button
        disabled
        type="submit"
        class="z-10 shrink-0 bg-orange-600 px-2 py-1 text-white disabled:cursor-not-allowed disabled:opacity-50"
        >検索</button
      >
    </form>
    <div class="js-search-result invisible grid max-h-[200px] gap-2 overflow-y-auto px-1" tabindex="-1"></div>
  </div>
</>
