---
import { twJoin } from 'tailwind-merge';
import MenuItem from '../components/MenuItem.astro';
export interface Props {
  sidebar?: string;
  isEN?: boolean;
}

const { sidebar, isEN } = Astro.props;
---

<div
  id="js-nav"
  class={
    twJoin(
      'fixed inset-0 z-10 translate-x-full opacity-0 transition-[opacity_transform] duration-300',
      'print:hidden',
      'md:sticky md:bottom-0 md:left-auto md:right-0 md:top-[3.875rem] md:block md:max-h-[100vh-2.5rem] md:translate-x-0 md:opacity-100 md:transition-none',
      sidebar === 'none' && 'md:hidden',
    )
  }
>
  <nav
    class={
      twJoin(
        'z-20 min-h-screen w-full bg-white px-4 pb-6 pt-14',
        'md:min-h-0 md:w-60 md:rounded-2xl md:p-4',
        'lg:w-[17.5rem]',
      )
    }
  >
    <ul class="text-stone-800 md:flex md:flex-col">
      <MenuItem
        href={(isEN ? '/en' : '') + '/introduction/'}
        title={isEN ? 'Introduction' : 'はじめに'}
      />
      <MenuItem
        href={(isEN ? '/en' : '') + '/basis/'}
        title={isEN ? 'Copyright Basics' : '著作権の基礎'}
        submenu={isEN
          ? [
              {
                title: 'What is the Copyright Act?',
                href: '/en/basis/',
              },
              {
                title: 'What is a copyrighted work?',
                href: '/en/basis02/',
              },
              {
                title: 'Who is the author?',
                href: '/en/basis03/',
              },
              {
                title: 'What is Copyright?',
                href: '/en/basis04/',
              },
            ]
          : [
              {
                title: '著作権法とは',
                href: '/basis/',
              },
              {
                title: '著作物とは',
                href: '/basis02/',
              },
              {
                title: '著作者とは',
                href: '/basis03/',
              },
              {
                title: '著作権とは',
                href: '/basis04/',
              },
            ]}
      />
      <MenuItem
        href={(isEN ? '/en' : '') + '/copyright/'}
        title={isEN ? 'Copyright in Classes' : '授業における著作権'}
        submenu={isEN
          ? [
              {
                title: 'Classes and copyrighted works',
                href: '/en/copyright/',
              },
              {
                title: 'Citation (Article 32(1))',
                href: '/en/copyright02/',
              },
              {
                title: 'Reproduction, etc. for class purposes (Article 35)',
                href: '/en/copyright03/',
              },
              {
                title: 'Amended Copyright Act Article 35 Guidelines',
                href: '/en/copyright04/',
              },
            ]
          : [
              {
                title: '授業と著作物',
                href: '/copyright/',
              },
              {
                title: '引用（32条1項）',
                href: '/copyright02/',
              },
              {
                title: '授業目的の複製等（35条）',
                href: '/copyright03/',
              },
              {
                title: '改正著作権法第35条運用指針',
                href: '/copyright04/',
              },
            ]}
      />
      <MenuItem
        href={(isEN ? '/en' : '') + '/use/'}
        title={isEN ? 'Q&A on the Use of Copyrighted Works in the Classroom' : '授業における著作物利用Q&A'}
        submenu={isEN
          ? [
              {
                title: 'Q&A on the Use of Copyrighted Works in the Classroom',
                href: '/en/use/',
              },
            ]
          : [
              {
                title: '授業における著作物利用Q&A',
                href: '/use/',
              },
            ]}
      />
      <MenuItem
        href={(isEN ? '/en' : '') + '/permission/'}
        title={isEN ? 'How to Obtain Permission' : '許諾の取り方'}
        submenu={isEN
          ? [
              {
                title: 'How to obtain permission for use',
                href: '/en/permission/',
              },
            ]
          : [
              {
                title: '利用許諾の取り方',
                href: '/permission/',
              },
            ]}
      />
      <MenuItem href={(isEN ? '/en' : '') + '/quiz/'} title={isEN ? 'Quiz' : '著作権クイズ'} />
      <MenuItem href={(isEN ? '/en' : '') + '/references/'} title={isEN ? 'References' : '資料集'} className="mt-2" isSmall />
      <MenuItem href={(isEN ? '/en' : '') + '/index/'} title={isEN ? 'Index' : '索引'} isSmall />
      <MenuItem href={(isEN ? '/en' : '') + '/team/'} title={isEN ? 'Production Team' : '制作チーム紹介'} isSmall />
      <MenuItem href={(isEN ? '/en' : '') + '/afterwords/'} title={isEN ? 'This Project' : 'おわりに'} isSmall />
      <MenuItem href={(isEN ? '/en' : '') + '/license/'} title={isEN ? 'License' : 'ライセンス'} isSmall />
    </ul>
  </nav>
</div>
