---
import Section from '../../components/Section.astro';
import Point from '../../components/Point.astro';
import SpeechBubbles from '../../components/SpeechBubbles.astro';
import Bubble from '../../components/Bubble.astro';
import ListArea from '../../components/ListArea.astro';
import Modal from '../../components/Modal.astro';
import ModalTrigger from '../../components/ModalTrigger.astro';
import ImgCaption from '../../components/ImgCaption.astro';
import Page from '../../templates/Page.astro';
---

<Page
  title="著作権の基礎"
  description="当ウェブサイトは、主に教育機関で授業をされている先生を対象に著作権について説明しています。このページでは著作権の基礎や著作物、著作者等について解説しています。"
>
  <Section
    number="04"
    title="著作権とは"
    description="このsectionでは著作権法で定義する「著作権」には著作者人格権と著作財産権があること、また著作隣接権についても説明します。また、保護期間、ライセンス、権利制限などについても説明します。"
  >
    <h3 id="ref55">著作権は「勝手に〇〇されない権利」</h3>
    <SpeechBubbles>
      <Bubble speaker="隅木" feLevel="2">著作権とは、簡単に言うと自分の著作物を「勝手に〇〇されない権利」です。</Bubble>
      <Bubble speaker="小中" feLevel="3">勝手にコピーされない、勝手にリメイクされない、とかですね。</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        日本は「無方式主義」というやり方をとっていて、著作物がつくられた瞬間に自動的に著作権が付与されるようになっています。簡単に言うと、著作権を得るために登録とかの手続をしなくてもよいということです。
      </Bubble>
      <Bubble speaker="小中" feLevel="3">小学生の描いた絵もですか？</Bubble>
      <Bubble speaker="大院" feLevel="2">学生の書いたレポートも？</Bubble>
      <Bubble speaker="隅木" feLevel="1">そうです。</Bubble>
    </SpeechBubbles>
    <Point>著作物をつくったら、自動的に著作権は付与される（17条2項）</Point>
    <p>
      広義で言う著作権には、著作者のこだわりを保護する「著作者人格権」と財産的価値を保護する「著作財産権」の2種類があります。それぞれにどんな権利があるかを説明します。
    </p>

    <h3 id="ref28">著作者人格権</h3>
    <p>
      著作者人格権は、他人に譲渡することができず、相続もできません（59条、民法896条ただし書き）。そのため、著作権を譲渡しても著作者人格権は著作者に残ります。
    </p>
    <p>
      著作者が死亡すると著作者人格権は消滅します。もっとも、著作権法には著作者死亡後も、著作物を公衆に提供したり、提示したりする者は、著作者人格権を侵害する行為をしてはいけない、と書かれています（60条）。
    </p>
    <p>では、具体的に著作者人格権にはどのようなものがあるかを説明します。</p>

    <h4 id="ref16">公表権（18条）</h4>
    <p>
      公表権とはその名のとおり、未公表の著作物について著作者がどのように公表するか決められる権利です。なお、二次的著作物の著作者は、原著作物の著作者に断りなく二次的著作物を公表することはできません。
    </p>
    <ListArea>
      <ul>
        <li>公表するかしないか</li>
        <li>いつ公表するか</li>
        <li>どのような形態で公表するか（出版、放送、上映、展示、公衆送信など）</li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">
        もしかして生徒の絵を市のコンクールに出したりするのも、本人の同意が必要ですか？
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        もちろん必要です。先生に宿題として絵を提出しただけだったら「公表」したとは言えません。<br
        />それを複数の第三者に公表するのですから、著作者である生徒さんの同意が必要です。<br
        />また、絵のコンクールなどは、普通絵をどこかに展示するので展示権の問題もあります。
      </Bubble>
      <Bubble speaker="小中" feLevel="4">そうなのですね、気をつけます。</Bubble>
    </SpeechBubbles>

    <h4 id="ref19">氏名表示権（19条）</h4>
    <p>
      氏名表示権とはその名のとおり、著作物を公衆への提供もしくは提示をする際に著作者として表示する名前をどうするか決める権利のことです。
    </p>
    <ListArea>
      <ul>
        <li>名前を表示するかしないか</li>
        <li>表示する場合は、本名か変名（ペンネームや画号など）か</li>
      </ul>
    </ListArea>
    <p>
      二次的著作物の場合は、原著作物の著作者と（19条1項後段）、二次的著作物の著作者の両方が氏名表示権を持っていることになります。氏名表示権にも一定の制限があり、次の場合には、氏名表示権の侵害にはなりません。
    </p>
    <ListArea>
      <ul>
        <li>
          著作物を利用する際に、利用者はすでにその著作物で表示されている名前を表示することができます。著作者の特段の意思で別の名前を表示する必要がある場合は、意思に沿う必要があります（19条2項）。
        </li>
        <li>
          表示するのが困難な場合で、著作者が創作者であることを主張する利益を害するおそれのない場合は、公正な慣行に反しない限り、氏名を表示しなくてもかまいません（19条3項）。
        </li>
      </ul>
    </ListArea>
    <p>
      2つめは、例えばホテルのロビーなどでBGMを流している時に、いちいち「作曲者はだれそれです」などと放送しなくてよいという例などがあります。
    </p>

    <h4 id="ref33">同一性保持権（20条）</h4>
    <SpeechBubbles>
      <Bubble speaker="隅木" feLevel="2">
        同一性保持権とは、自分の著作物の内容やタイトルを、自分の意に反して無断で「改変（変更・切除等）」されない権利です。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">
        写真をトリミングして使用したり、文章を変えたり……とか？<ModalTrigger id="s4_1" />
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        そうですね。文章は「・（中黒）」を「、（読点）」に変更、読点の削除や改行の省略、「現われ」を「現れ」に、「表われ」を「表れ」に、「決って」を「決まって」にするなどの送り仮名の変更も同一性保持権を侵害する可能性があるので注意が必要です<ModalTrigger
          id="s4_2"
        />。
      </Bubble>
      <Bubble speaker="大院" feLevel="5">
        えー、そんなんおかしかったら直すだろ。学生の論文とかも表記ゆれはよくあるぞ。
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        表記ゆれを直してあげるのも本人の同意があればよいのです。というより、むしろ本人に直していただいたほうが、今後表記ゆれに気をつけるようになるかもしれません。それなら侵害にもなりません。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">そりゃそうだな。</Bubble>
    </SpeechBubbles>
    <Modal id="s4_1">
      <p>東京地判平成11年3月26日判時1694号142頁〔Dolphin Blue事件〕</p>
    </Modal>
    <Modal id="s4_2">
      <p>東京高判平成3年12月19日判時1422号123頁〔法政大学懸賞論文事件〕</p>
    </Modal>
    <p>ただし、以下のような場合の改変は許されています（20条2項各号）。</p>
    <ListArea>
      <ol>
        <li>
          教科用図書等への掲載（33条1項・4項）、教科用図書代替教材への掲載等（33条の2第1項）、教科用拡大図書等の作成のための複製（33条の3第1項）及び学校教育番組の放送等（34条1項）の適用により著作物の利用が認められる場合に、学校教育の目的上、やむを得ない改変
        </li>
        <li>建築物の増築、改築、修繕又は模様替えによる改変</li>
        <li>プログラムのバージョンアップ等の改変</li>
        <li>
          その他、著作物の性質並びにその利用の目的及び<ModalTrigger
            id="s4_3"
            word="態様"
          />に照らしやむを得ないと認められる改変
        </li>
      </ol>
    </ListArea>
    <Modal id="s4_3" word="態様（たいよう）">
      <p>物事のありさま。様子。状態。</p>
    </Modal>
    <p>（1）は、例えば難しい漢字をひらがなにして、低学年の生徒にも読みやすくするなどがあります。</p>
    <p>
      （4）は、印刷機の性能の関係で、元のとおりに色合いが表現できないとか、音痴なので元のメロディのとおりに歌えないなどがあります。
    </p>
    <p>
      具体的にどこまでが「やむを得ない」のかは難しい判断になります。自信が持てないときは著作者に確認をしたほうがよいでしょう。
    </p>
    <Point id="ref33-1">
      著作者人格権は、（1）公表権、（2）氏名表示権、（3）同一性保持権の3つ！<ModalTrigger id="s4_4" />
    </Point>
    <Modal id="s4_4">
      <p>
        「著作者の名誉又は声望を害する方法によりその著作物を利用する行為」は、著作者人格権侵害とみなされます（113条11項）。厳密には権利として規定されていませんが、この規定は第4の権利として「名誉声望権」と呼ばれることもあります。
      </p>
    </Modal>

    <h3 id="ref4">著作権（著作財産権）</h3>
    <p>
      財産権としての著作権には以下のようなものがあります<ModalTrigger id="s4_5" />。
    </p>
    <Modal id="s4_5">
      <p>
        著作物を見る、聴く、読むなどの知覚、享受行為自体については著作権者が把握することは困難であることから、著作権の対象となっておらず、その一歩手前の行為を著作権の対象としています（岡本薫『著作権の考え方』（岩波新書、2003）160頁以下参照）。
      </p>
    </Modal>
    <ListArea>
      <ul>
        <li>複製権（21条）</li>
        <li>上演権及び演奏権（22条）</li>
        <li>上映権（22条の2）</li>
        <li>公衆送信権、送信可能化権、公の伝達権（23条）</li>
        <li>口述権（24条）</li>
        <li>展示権（25条）</li>
        <li>頒布権（26条）</li>
        <li>譲渡権（26条の2）</li>
        <li>貸与権（26条の3）</li>
        <li>翻訳権、翻案権（27条）</li>
        <li>二次的著作物の利用に関する原著作者の権利（28条）</li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">なんだかたくさんのいろいろな権利があるんですね。</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        そうですね。ちょっと難しそうだと感じる人もいるかもしれません。著作権は「権利の束」と言われることもあります<ModalTrigger
          id="s4_6"
        />。まずは、大きく2つの権利があると理解しておくとよいです。
      </Bubble>
      <Bubble speaker="小中" feLevel="1">たった2つでいいんですか！？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        2つの権利が基本ですね。<span class="font-bold text-orange-600"
          >ひとつは、（1）著作物をコピーする権利。もうひとつは、（2）著作物を公に伝える権利です。</span
        >
      </Bubble>
      <Bubble speaker="大院" feLevel="3">ふーん。それだったら覚えられるかも。</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        （1）の「コピーする権利」は、コピーがたくさん生まれると、それだけ公に伝えられる機会が増えるので、（2）の「公に伝える権利」の大前提みたいなものです。<br
        />（2）の「公に伝える権利」については、技術の進歩によって公に伝える手段が多様になるのにともない、権利が増えていきました。<br
        />目の前の人々に伝えるのが、「上演」、「演奏」、「口述」、「展示」です。技術が進歩して著作物をなんらかのかたちに固定できるようになると、遠くに離れた人々にもそれらを伝えることができます。それが「譲渡」、「貸与」、「頒布」です。さらに、かたちあるものでなくても遠くに離れた人々にも伝えるのが「公衆送信」、「送信可能化」ということになります。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">翻案はどう理解すればよいのですか？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        翻案は、すでにある著作物に新たに創作的な要素を加えることです。なので、（1）の「コピーする権利」の仲間と理解しておいてください。
      </Bubble>
    </SpeechBubbles>
    <Modal id="s4_6">
      <p>
        井上拓『SNS別最新著作権入門』（誠文堂新光社、2022）53頁は、著作権としてたくさんの権利があることをブドウの粒に例えて解説しています。
      </p>
    </Modal>
    <img src="/assets/images/1-4-1.png" alt="" width="1519" height="809" />
    <p id="ref13">
      「section04
      著作権とは」で説明したとおり、複製権なら「勝手に複製されない権利」となります。財産権としての著作権は、譲渡したり、相続したりすることが可能です（61条1項）。
    </p>
    <p>
      例えば、「ズッコケ三人組」シリーズの作者である那須正幹さんは、遺言で全作品の著作権を文学団体に譲渡（遺贈）したと報道されています<ModalTrigger
        id="s4_7"
      />。
    </p>
    <Modal id="s4_7">
      <p>
        全著作権を寄付『ズッコケ三人組』那須正幹さんの児童文学への願い」毎日新聞（2022年10月5日）<a
          href="https://mainichi.jp/articles/20221004/k00/00m/040/188000c"
          target="_blank"
          class="block"
        >
          https://mainichi.jp/articles/20221004/k00/00m/040/188000c
        </a>
      </p>
    </Modal>
    <p>
      「翻案」は、著作権法独特の言い回しかと思いますが、脚色や映画化などにより二次的著作物を作成する行為のことです<ModalTrigger
        id="s4_8"
      />。
    </p>
    <Modal id="s4_8">
      <p>便宜的に翻訳、編曲、変形も含めて二次的著作物を作成する行為のことを「翻案」と呼ぶこともあります。</p>
    </Modal>
    <p>
      「公衆送信権」「送信可能化権」も耳慣れない言葉かもしれません。公衆送信権は、公衆（不特定の者、特定多数の者）に著作物を送信する権利です。例えば、公衆送信のうち、自動公衆送信は、Webサイトに載せて多数の人に閲覧させたり、SNSに投稿して多数の人に見せたりすることなどを指します。送信可能化は、送信したか否かにかかわらず、著作物をサーバ等にアップロードして、自動公衆送信が可能な状態にすることを指します<ModalTrigger
        id="s4_9"
      />。
    </p>
    <Modal id="s4_9">
      <p>23条1項括弧書き</p>
    </Modal>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">「公の伝達」は、公衆送信と何が違うんですか？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        わかりやすい例で言うと、放送局がテレビ番組を放送するのが「公衆送信」、そのテレビ番組を食堂などに設置してあるテレビに映してお客さんが観ることができる状態にしているのが「公の伝達」になります。
      </Bubble>
      <Bubble speaker="小中" feLevel="1">
        なるほど、すでに公衆送信されてるものをなにかの機械で受信して観せるってことなんですね。
      </Bubble>
      <Bubble speaker="隅木" feLevel="3">
        ちなみに、放送される著作物について、通常の家庭用受信装置を使用した場合には、営利、有料であっても公の伝達権を侵害していることにはなりません<ModalTrigger
          id="s4_10"
        />。
      </Bubble>
      <Bubble speaker="大院" feLevel="1">おれは公の伝達はしてないな。</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        いえ、大院先生もしてる可能性はありますよ。例えば、授業でWebサイトを映して「ここをクリックしたらこれが表示されます」のような動作を見せている場合には、公の伝達になります。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">知らんかった！そんなものにも著作権があるんだ。</Bubble>
    </SpeechBubbles>
    <Modal id="s4_10">
      <p>38条3項後段</p>
    </Modal>
    <Point>著作権は、勝手に〇〇されない権利</Point>

    <h3 id="ref32">著作隣接権</h3>
    <p>
      著作物等を「伝達する者」に付与される権利として著作隣接権があります（89条）。著作権と同様に実演、音の固定、放送、有線放送を行った時点で自動的に付与され、登録は不要です（89条5項、101条1項）。
    </p>
    <Point>著作隣接権は、著作物の伝達に重要な役割を果たす者を保護する権利</Point>
    <p>著作隣接権者としては、以下のような人たちがいます。</p>
    <p>
      それぞれどのような権利があるか、文化庁のテキストなどをご参照ください<ModalTrigger id="c4_11" />。
    </p>
    <Modal id="c4_11">
      <p>
        文化庁テキスト「8. 著作隣接権」<a
          href="https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/pdf/93736501_07.pdf"
          target="_blank"
          class="block"
        >
          https://www.bunka.go.jp/seisaku/chosakuken/seidokaisetsu/pdf/93736501_07.pdf
        </a>
      </p>
    </Modal>
    <ListArea>
      <ul>
        <li>実演家：著作物等を演じる歌手、俳優、ダンサーなど</li>
        <li>レコード製作者：音を最初に固定（録音）した者（レコード会社など）</li>
        <li>放送事業者：放送を業として行う者（テレビ放送局、ラジオ放送局など）</li>
        <li>有線放送事業者：有線放送を業として行う者（ケーブルテレビ、有線音楽放送局など）</li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">もしかして、小学生がアイドルの真似してダンスしても実演家？</Bubble>
      <Bubble speaker="隅木" feLevel="3">
        そうですね。そのダンスの様子を録画したり、Webサイトで公開したりするような場合には許諾が必要です。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">
        レコード製作者の「音を固定」って、おれが犬の鳴き声をスマホで録音しても該当するの？
      </Bubble>
      <Bubble speaker="隅木" feLevel="1">該当します。この固定する「音」は著作物でなくてもよいのです。</Bubble>
      <Bubble speaker="大院" feLevel="1">おれもレコード製作者！</Bubble>
    </SpeechBubbles>
    <img src="/assets/images/1-4-2.png" alt="" width="1592" height="819" />

    <h3 id="ref23">保護期間</h3>
    <p>著作権は永遠に存続するのではなく、保護される期間が決まっています。</p>
    <ListArea>
      <p>著作権</p>
      <ul>
        <li>著作物の創作時から著作者の死後70年（51条）</li>
        <li>無名、変名、団体名義の著作物、映画の著作物は、著作物の公表時から70年（52条1項、53条1項、54条1項）</li>
      </ul>

      <p>著作隣接権</p>
      <ul>
        <li>実演は、実演時から70年（101条1項1号、同条2項1号）</li>
        <li>レコードは、音の固定（録音）時から発行後70年（101条2項2号）</li>
        <li>放送・有線放送は、放送時から50年（101条2項3号、4号）</li>
      </ul>
    </ListArea>
    <Point tag="column" title="戦時加算制度">
      著作権の保護期間については、第二次世界大戦中は著作権が保護されていなかったとして、1941年12月7日（開戦前日）に連合国及び連合国民が日本で著作権を有していたもの、1941年12月8日（日本が参戦した日）から、当該連合国について平和条約が発効した日の前日（例えばアメリカ合衆国であれば1952年4月27日）までに著作権を取得したものに関して保護期間を加算するルールがあります。
    </Point>
    <SpeechBubbles>
      <Bubble speaker="大院" feLevel="1">
        あー、これ知ってるぞ。50年だったのに、<ModalTrigger id="s4_13" word="TPP" />で70年になったんだよな！
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">そうなんですよね……</Bubble>
      <Bubble speaker="小中" feLevel="2">
        わたしのおじいちゃんでも亡くなったのは10年前くらいなので、おじいちゃんの著作物があったら、あと60年は保護されるんですね<ModalTrigger
          id="s4_14"
        />。わ、わたし生きているかしら……
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">
        そう、70年も経つとお孫さんも生きていない可能性があるので、誰が著作権者かわからなくなってしまう場合が増えるかもしれません。
      </Bubble>
      <Bubble speaker="小中" feLevel="3">
        許諾をとりたくても、著作権者が見つからなかったらどうしたらいいんですか？
      </Bubble>
      <Bubble speaker="隅木" feLevel="3">
        文化庁長官に裁定してもらって、補償金を払うかわりに、適法に利用できる制度があります。
      </Bubble>
      <Bubble speaker="小中" feLevel="4">ちょ、長官に……</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        もちろん決まった手続があるので、長官に直談判しに行くわけではありませんよ。詳しくは4章で説明します。
      </Bubble>
    </SpeechBubbles>
    <Modal id="s4_13" word="TPP（Trans-Pacific Partnership Agreement）">
      <p>2016年2月4日に署名された経済連携協定である「環太平洋パートナーシップ協定」の略称。</p>
    </Modal>
    <Modal id="s4_14">
      <p>
        小中先生のおじいちゃんの話には、注意点があります。<br
        />保護期間の終期は、著作者が亡くなった日から数えるのではなく亡くなった年の翌年1月1日から数えます（57条）。そのため、おじいちゃんが亡くなったのが、2012年5月1日だと、2013年1月1日から起算しますので、保護期間は70年後の2082年12月31日までとなります。
      </p>
    </Modal>
    <Point>保護期間は、基本的に著作物の創作時から著作者の死後70年まで</Point>

    <h3 id="ref26">パブリックドメイン</h3>
    <p>
      パブリックドメイン（public domain）は、公有という意味です。著作権者の許諾なく、誰でも自由に利用できます<ModalTrigger
        id="s4_15"
      />。以下のようなものが該当します。
    </p>
    <Modal id="s4_15">
      <p>
        正確に言うと、パブリックドメインになれば、著作者の人格的利益を侵害しない限り、著作権の対象となっていた行為を自由にすることができます（最判昭和59年1月20日判時1107号127頁〔顔真卿事件〕）。
      </p>
      <p>
        死後の著作者人格権の保護期間には限定がなく、理論上は永久に存続します。そのため、著作者の死後70年間が経過したパブリックドメインとなった作品も理論的には保護されます。
      </p>
      <p>
        しかし、この死後の著作者人格権に関する請求ができるのは、死亡した著作者の「配偶者、子、父母、孫、祖父母又は兄弟姉妹」、つまり、二親等までとなっています（著作権法116条1項）。したがって、これらの者が死亡すれば請求権者がいなくなることで事実上、著作者の死後の著作者人格権の保護も終了します。


        <br />中山信弘『著作権法〔第4版〕』（有斐閣、2023）672頁参照。
      </p>
    </Modal>
    <ListArea>
      <ul>
        <li>著作物の保護期間が満了しているもの</li>
        <li>著作権者が権利放棄したもの</li>
        <li>著作権者が死亡して、相続人が不存在のもの（62条1項1号）</li>
      </ul>
    </ListArea>
    <p>
      パブリックドメイン作品を元に創られた二次的著作物は、その二次的著作物が創られた時点から著作権が発生します。その二次的著作物までパブリックドメインでないことに注意してください。
    </p>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="1">著作権フリーってやつですね。</Bubble>
      <Bubble speaker="隅木" feLevel="4">
        「著作権フリー」はちょっと危険な言葉なんですよ。「著作権フリー＝著作権がない」と思い込んでる人が多いんですけど、違うんです。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">違うんですか？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        著作権フリーと書いてあっても、権利を放棄していない場合があります。その場合はパブリックドメインにあたりません。
      </Bubble>
      <Bubble speaker="大院" feLevel="3">ネットで公開してるようなものは、別に勝手に使っていいんだろ？</Bubble>
      <Bubble speaker="隅木" feLevel="4">
        違います、違います（汗）。<br />まずライセンスの条件を確認しましょう。
      </Bubble>
    </SpeechBubbles>

    <h3 id="ref38">ライセンス</h3>
    <p>
      ライセンスとは、著作者や著作権者が「こういうふうに使ってもいいよ」と利用者に許可を与えることです。利用者から求めて個別に与えられる場合と、権利者があらかじめ提示している場合があります。
    </p>
    <p>
      他の人の著作物を利用する際には、利用規約、利用契約、利用許諾書などを確認し、ライセンスがあるか、あるならどんな内容かを必ず確認するようにしましょう。
    </p>

    <h4 id="ref39">利用条件を確認する</h4>
    <p>最近、いろいろなところでお目にかかるイラストに「いらすとや」さんがあります。</p>
    <p>
      「いらすとや」さんのホームページにいくと「ご利用について」と書かれているページがあるので、確認してみましょう<ModalTrigger
        id="c4_16"
      />。
    </p>
    <Modal id="c4_16">
      <p>
        いらすとや<br />「ご利用について」<a
          href="https://www.irasutoya.com/p/terms.html"
          target="_blank"
          class="block"
        >
          https://www.irasutoya.com/p/terms.html
        </a>
      </p>
      <p class="mt-3">
        「よくあるご質問」<a href="https://www.irasutoya.com/p/faq.html" target="_blank" class="block">
          https://www.irasutoya.com/p/faq.html
        </a>
      </p>
    </Modal>
    <Point type="simple">
      当サイトで配布している素材は規約の範囲内であれば、個人、法人、商用、非商用問わず無料でご利用頂けます。
    </Point>
    <p>
      「そうか、無料で使っていいのか！」と安心してはいけません。この「規約の範囲内」をちゃんと確認する必要があります。「よくあるご質問」にも利用方法について丁寧に説明されているのでちゃんと読みましょう。
    </p>
    <p>
      特に注意が必要なのは、商用利用で1つの制作物に21点以上のイラストを使う場合は有償となる旨が書かれていることです。
    </p>
    <p>
      このようなイラスト素材や、写真素材を提供するサイトなどは、「利用について」「利用条件」「ライセンス」などの名前のところに、利用条件が書かれていることが多いので、よく確認してから使うようにしましょう。
    </p>
    <p>
      みなさんがよく利用されているであろう「Googleマップ」もクレジット表記を必須としています<ModalTrigger
        id="c4_17"
      />。すでに表示されているクレジット表記を消して利用することは、契約違反や権利侵害となる可能性がありますので、注意しましょう。
    </p>
    <Modal id="c4_17">
      <p>
        Googleマップ<br />「一般的なガイドライン」<a
          href="https://www.google.com/intl/ja/permissions/geoguidelines/"
          target="_blank"
          class="block"
        >
          https://www.google.com/intl/ja/permissions/geoguidelines/
        </a>
      </p>
    </Modal>

    <h4 id="ref11">クリエイティブ・コモンズ・ライセンス（Creative Commons License）</h4>
    <p>
      ライセンスとして有名なものに「クリエイティブ・コモンズ・ライセンス」があります。名前が長いので、略して「CC」と呼ぶこともあります。CCは、作品を公開する作者が「この条件を守れば私の作品を自由に使って構いません」という意思表示をするためのツールとして、世界中で使用されています。
    </p>
    <p>本ウェブサイトも「CC BY 4.0」で公開しています（フッターにこのマークがついています）。</p>
    <ImgCaption>
      <figcaption>【クリエイティブ・コモンズ（CC BY 4.0）の表記】</figcaption>
      <div class="max-w-xs border border-stone-500 p-4 md:p-8">
        <img
          src="/assets/images/cc.svg"
          alt="原作者のクレジット（氏名、作品タイトルなど）を表示することを主な条件とし、改変はもちろん、営利目的での二次利用も許可される最も自由度の高いCCライセンスのマーク"
          width="69"
          height="24"
          class="mx-auto w-56"
        />
      </div>
    </ImgCaption>
    <p>
      これは「表示」というもので、「原作者のクレジット（氏名、作品タイトルなど）を表示すれば」、改変も営利目的利用もOKとなります。
    </p>
    <p>
      たまに「CCついてるから自由に利用してもいいんだよね」と勘違いされてる方がいらっしゃいますが、BYでもクレジット表記は必須なので、注意してください。
    </p>
    <p>
      CCではBYを必ずつけることになっています。その他に下の【クリエイティブ・コモンズの表記例】のように、表示を組み合わせて、作者が希望する条件を提示することができます。
    </p>
    <ImgCaption>
      <figcaption>【クリエイティブ・コモンズの表記例】</figcaption>
      <table>
        <thead>
          <tr class="col-3">
            <th>表示</th>
            <th>意味</th>
            <th>概要</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-3">
            <td>SA</td>
            <td>継承</td>
            <td>改変した場合、元の作品と同じCCライセンスをつけることが条件</td>
          </tr>
          <tr class="col-3">
            <td>ND</td>
            <td>改変禁止</td>
            <td>改変をしないことが条件</td>
          </tr>
          <tr class="col-3">
            <td>NC</td>
            <td>非営利</td>
            <td>非営利であることが条件</td>
          </tr>
        </tbody>
      </table>
    </ImgCaption>
    <p>
      例えば、CC-BY-ND-NCの場合は、「クレジット表示、改変禁止、非営利」であれば、利用できることになります。全部で6通りの方法があります。
    </p>
    <p>
      CC0もあり、これは権利の放棄を表明しているものです。CC0がついている著作物は自由に利用することができます<ModalTrigger
        id="c4_18"
      />。
    </p>
    <Modal id="c4_18">
      <p>
        「CC0について ― “いかなる権利も保有しない”」<a
          href="https://creativecommons.jp/sciencecommons/aboutcc0/"
          target="_blank"
          class="block"
        >
          https://creativecommons.jp/sciencecommons/aboutcc0/
        </a>
      </p>
    </Modal>
    <p>
      詳しくはクリエイティブ・コモンズのサイト<ModalTrigger id="c4_19" />をご参照ください<ModalTrigger id="c4_20" />。
    </p>
    <Modal id="c4_19">
      <p>
        クリエイティブ・コモンズ・ジャパン<a href="https://creativecommons.jp/licenses/" target="_blank" class="block">
          https://creativecommons.jp/licenses/
        </a>
      </p>
    </Modal>
    <Modal id="c4_20">
      <p>
        東京地判令和3年10月12日（令和3（ワ）5285）〔flickr投稿写真事件〕では、クリエイティブ・コモンズ・ライセンス（BY-SA）の下でflickrに投稿された原告（写真家）の写真を著作者のクレジットを表示せずに被告が自身のウェブサイトに利用した行為について、裁判所は公衆送信権、氏名表示権侵害にあたると判断しています。
      </p>
    </Modal>
    <Point>ライセンスの確認は必ずしましょう！</Point>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">
        CCでなくても、利用条件のところに「クレジット表記」と書いてあるサイトもわりとありますね。
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        その場合は、ちゃんと作品名や著作者名を表記して、著作物を利用する必要があります。
      </Bubble>
      <Bubble speaker="大院" feLevel="5">
        利用条件とかなんにも書いてなくても、ネットで公開してたら使ってもいいんだろ？
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">
        いいえ、なんにも書いてない場合は、基本的に利用の際には許諾が必要ということになります。ネットで公開してるからって、イコール自由に使っていいってことではないですよ。
      </Bubble>
    </SpeechBubbles>
    <img src="/assets/images/1-4-3.png" alt="" width="1715" height="847" />

    <h3 id="ref12">権利制限</h3>
    <p>
      「section01
      著作権法とは」で説明したように、著作権法は、著作者の権利の保護だけではなく、著作物の「公正な利用」も考えて、文化を発展させることを目的としています。
    </p>
    <p>
      著作権法は、この「公正な利用」を促進するために著作権者の許可なく著作物を利用できる場面を規定していて、これらを「権利制限規定」と呼んでいます<ModalTrigger
        id="c4_21"
      />。著作権者の権利を制限して、公正な利用の範囲を定める条文になります。
    </p>
    <Modal id="c4_21">
      <p>
        著作権の権利制限は著作者人格権に影響を及ぼすものと解釈してはならないため（50条）、著作者人格権への配慮は必要となりますので、注意しましょう。
      </p>
    </Modal>
    <p>
      権利制限規定はたくさんありますが、本ウェブサイトを読んでくださってるみなさんに関係ありそうな規定をいくつか以下にあげます。これらにあてはまる場合には、著作権者の許諾がなくても利用できます。
    </p>
    <ListArea id="ref18">
      <p>私的使用のための複製（30条）</p>
      <ul>
        <li>自分や家庭内その他これに準ずる限られた範囲内で使うためだけに自分で複製するのはOK</li>
        <li>映画館などでの映画の盗撮は、自分しか観ないとしてもNG（映画盗撮防止法4条1項）</li>
        <li>違法にアップロードされている著作物を著作権侵害物であると知りながらダウンロードするのもNG（30条1項3号）</li>
      </ul>
    </ListArea>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="1">
        推し画像をホームページからダウンロードして、自分のスマホの待ち受けにするのは私的使用のための複製ですよね？
      </Bubble>
      <Bubble speaker="隅木" feLevel="2">
        そのとおりです。でも、その画像をSNSにアップするのは公衆送信権侵害となってしまいます。30条で認められているのは複製だけですから。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">職員会議で新聞記事のコピーを配ったりするのは？</Bubble>
      <Bubble speaker="隅木" feLevel="3">
        その会議は、業務目的なので私的とは言えないですよね。私的使用のための複製にはあたりません<ModalTrigger
          id="s4_21"
        />。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">町内会だったらどうですか？</Bubble>
      <Bubble speaker="隅木" feLevel="2">
        それも「家庭内」や「これに準ずる限られた範囲内」とは言いづらい集まりなので、あてはまらないですね<ModalTrigger
          id="s4_22"
        />。
      </Bubble>
      <Bubble speaker="大院" feLevel="4">そういや自炊代行業者問題とかあったな……</Bubble>
      <Bubble speaker="隅木" feLevel="3">
        あの事例では、購入した紙の本を電子化したい人が業者に依頼してスキャンさせていたのですが、その複製物を使用したい人が自分で複製しなければ30条にはあてはまらない、ということでした<ModalTrigger
          id="s4_23"
        />。
      </Bubble>
      <Bubble speaker="小中" feLevel="2">私的複製と言ってもあまり広く複製していいわけじゃないのですね……</Bubble>
      <Modal id="s4_21">
        <p>東京地判昭和52年7月22日無体例集9・2・534</p>
      </Modal>
      <Modal id="s4_22">
        <p>
          東京地判令和4年11月8日（令和4（ワ）2229）は、「著作物の使用範囲が『その他これに準ずる限られた範囲内』といえるためには、少なくとも家庭に準じる程度に親密かつ閉鎖的な関係があることが必要である」と判示しています。
        </p>
      </Modal>
      <Modal id="s4_23">
        <p>知財高判平成26年10月22日判時2246号92頁〔自炊代行事件〕</p>
      </Modal>
    </SpeechBubbles>
    <ListArea id="ref37">
      <p>付随対象著作物の利用（30条の2）</p>
      <ul>
        <li>写真や動画を撮った時に付随して著作物が軽微な構成部分として写ってしまうのはOK</li>
        <li>付随して写ってしまった写真や動画を正当な範囲内で公衆送信OK</li>
        <li>でも著作権者の権利を不当に害する場合はNG</li>
      </ul>
    </ListArea>
    <ListArea id="ref34">
      <p>図書館等における複製（31条）</p>
      <ul>
        <li>
          図書館は、営利を目的としない事業として、次の場合に図書館資料の著作物を複製できる

          <ul>
            <li>
              利用者の求めに応じて、公表された著作物の一部分<ModalTrigger
                id="c4_23"
              />の複製物を1人につき1部提供する場合
            </li>
            <li>図書館資料保存のために必要な場合</li>
            <li>他の図書館等の求めに応じ、絶版等資料の複製物を提供する場合</li>
          </ul>
        </li>
      </ul>
    </ListArea>
    <Modal id="c4_23">
      <p>
        「一部分」については原則として著作物の「半分まで」と解されています。国立国会図書館の運用については、国立国会図書館「著作権にかかわる注意事項」を参照してください。
      </p>
      <p class="mt-3">
        「著作権にかかわる注意事項」<a
          href="https://www.ndl.go.jp/jp/copy/copyright/index.html"
          target="_blank"
          class="block"
        >
          https://www.ndl.go.jp/jp/copy/copyright/index.html
        </a>
      </p>
      <p class="mt-3">
        なお、令和3年著作権法改正により、国等の周知目的資料その他の著作物の全部の複製物の提供が著作権者の利益を不当に害しないと認められる特別な事情があるものとして政令で定めるものはその全部が対象になります（31条1項1号括弧書き）。
      </p>
    </Modal>
    <ListArea id="ref8">
      <p>教科用図書等への掲載（33条）</p>
      <ul>
        <li>学校教育の目的上、必要と認められる限度で教科書に掲載できる</li>
        <li>
          教科書に掲載する際に、翻訳、編曲、変形、翻案OK<ModalTrigger id="c4_24" />
        </li>
        <li>著作権者への通知と補償金が必要</li>
      </ul>
    </ListArea>
    <Modal id="c4_24">
      <p>
        用字又は用語の変更その他の改変で、学校教育の目的上やむを得ないと認められるもの（20条2項1号）は、同一性保持権の侵害にはなりません。
      </p>
    </Modal>
    <ListArea id="ref17">
      <p>試験問題としての複製等（36条）</p>
      <ul>
        <li>
          すでに公表されている著作物を、試験、検定の目的上必要な限度で試験、検定の問題として複製、公衆送信（放送、有線放送は除く）できる<ModalTrigger
            id="c4_26"
          /><ModalTrigger id="c4_25" />
        </li>
        <li>オンライン形式でする試験の場合もOK</li>
        <li>ただし、著作権者の利益を不当に害することとなる場合はNG</li>
        <li>有料の検定、採用試験など営利を目的として利用する場合は、補償金の支払いが必要</li>
        <li>
          過去の試験問題をWebで公開したり、オープンキャンパスで配布したりする場合は、36条の適用はできないため著作権者の許諾が必要
        </li>
      </ul>
    </ListArea>
    <Modal id="c4_26">
      <p>試験という性質上、事前に著作権者から許諾をとるのが適当ではないために設けられた規定です。</p>
    </Modal>
    <Modal id="c4_25">
      <p>
        穴埋め問題など問題の性質上必要である場合に改変することは同一性保持権との関係で問題が生じるものの、やむを得ない改変（20条2項4号）として必要な範囲では許容されると解されます（上野達弘編『教育現場と研究者のための著作権ガイド』（有斐閣、2021）148頁以下参照、中山信弘『著作権法〔第4版〕』（有斐閣、2023）441頁以下参照）。
      </p>
    </Modal>
    <ListArea id="ref3">
      <p>営利を目的としない上演等（38条）</p>
      <ul>
        <li>
          営利を目的としない、観客から料金をとらない、出演者に報酬を支払わない場合に、公表された著作物を、公に上演・演奏・上映・口述OK
        </li>
        <li>営利を目的としない、貸与を受ける者から料金をとらない場合は、CDなど公表された著作物の複製物を貸与OK</li>
      </ul>
    </ListArea>
    <Point>権利制限は、著作者の権利を制限することで、公正な利用を促進しようとするもの。</Point>
    <img src="/assets/images/1-4-5.png" alt="" width="1543" height="732" />
    <p>以下の2つは、特に授業でよく使う権利制限規定なので、2章で詳しく説明します。</p>
    <ListArea>
      <ul>
        <li>引用（32条1項）</li>
        <li>教育機関における複製等（35条）</li>
      </ul>
    </ListArea>

    <h3 id="ref21">罰則規定</h3>
    <p>
      いろいろと守っていただきたいことを説明してきましたが、それらを破って故意に著作権侵害をしたとして、刑事裁判で「それは罪です！」となった場合には、10年以下の懲役もしくは1千万円以下の罰金、またはその両方（119条1項）が刑事罰として定められています。
    </p>
    <SpeechBubbles>
      <Bubble speaker="小中" feLevel="2">やっぱり法律破ったら犯罪なんですね……</Bubble>
      <Bubble speaker="大院" feLevel="5">
        でも著作権って親告罪なんだろ。<br />訴えられないと罪にならないんだろ？
      </Bubble>
      <Bubble speaker="隅木" feLevel="4">
        著作権法が「親告罪」という制度をとっているのは、著作者や著作権者が別にいいと思ってる場合は起訴する必要がないからなんですよね。<br
        />しかし、起訴されないからやってもいいということではなく、法律違反であることには変わりありません。法律違反をしている限り、いつ告訴されるかわからないですよ。
      </Bubble>
    </SpeechBubbles>
    <p>
      平成30年の著作権法改正では、次の要件すべてを満たすものを「非親告罪」とし、告訴がなくとも起訴できることになりました（123条2項）。
    </p>
    <ListArea>
      <ul>
        <li>対価を得る目的又は権利者の利益を害する目的があること</li>
        <li>
          有償で公衆に提供され、又は提示されている著作物（有償著作物等）を原作のまま譲渡、公衆送信、その目的のために複製すること
        </li>
        <li>有償著作物等の提供・提示により得ることが見込まれる権利者の利益が不当に害されること</li>
      </ul>
    </ListArea>
    <p>
      具体的には、漫画・映画・アニメなどの海賊版を販売したりWebで公開したりすると、権利者本人の告訴がなくても刑事事件になりえます。
    </p>
    <p>一方で、コミケなどで販売されている同人誌などの二次的著作物については、親告罪のままになっています。</p>
    <img src="/assets/images/1-4-6.png" alt="" width="1666" height="827" />
  </Section>
</Page>
